<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>便利でお得な優待情報　海外で使える優待｜楽天カード</title>
  <meta name="viewport" content="width=1080">
  <meta name="description" content="海外でも楽天カードが大活躍！楽天カード会員様が海外旅行の際に受けられる楽天カードの優待のご紹介です。手荷物宅配・海外お土産配達サービスなど種類が豊富で便利な優待をご用意しております。ぜひご活用ください。">
  <meta name="keywords" content="海外, クレジットカード, 優待, ラウンジ, 楽天カード">
  <meta property="og:title" content="便利でお得な優待情報　海外で使える優待">
  <meta property="og:description" content="海外でも楽天カードが大活躍！楽天カード会員様が海外旅行の際に受けられる楽天カードの優待のご紹介です。手荷物宅配・海外お土産配達サービスなど種類が豊富で便利な優待をご用意しております。ぜひご活用ください。">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="楽天カード">
  <meta property="og:image" content="https://image.card.jp.rakuten-static.com/card_corp/pc/contents/logo_200x200.gif">
  <meta property="fb:page_id" content="104759839604740">
  <link rel="canonical" href="https://www.rakuten-card.co.jp/overseas/previledge/">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/rex-red.min.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/header-2.0.0.min.css">
  <link rel="stylesheet" href="../../css/desktop/localnav/style.css">
  <link rel="stylesheet" href="../../css/desktop/scrolltop/style.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/footer-2.0.0.min.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <% include ../../include/desktop/_header %>
  <% include ../../include/desktop/_localnav %>
  <ul class="breadcrumbs">
    <li><a href="/">トップ</a></li>
    <li><a href="/overseas/">海外で使う</a></li>
    <li>海外で使える楽天カードの優待</li>
  </ul>
  <main>
    <article>
      <section>
        <div class="container mt-3">
          <h1 class="text-center mb-0">海外で使える楽天カードの優待</h1>
        </div>
        <div class="jumbotron mt-6">
          <div>
            <div class="container text-center">旅を演出する様々な優待をご用意</div>
          </div>
        </div>
        <section class="bg-lightest">
          <div class="container py-6 text-center">
            楽天カード会員様がご利用いただけるサービスや、ブランドごとの便利でお得な優待のご紹介。
          </div>
        </section>
        <section class="container pt-6 pb-5">
          <h2 class="text-center mb-4">楽天カードの優待</h2>
          <p class="text-center">
            優待価格でご利用いただけるWi-Fiレンタルや海外レンタカー等お得なサービスをご紹介！<br>
            渡航の際はぜひご確認のうえご利用ください。
          </p>
          <figure class="text-center mb-4">
            <img src="../../images/common/icon/icon_treatment.svg" width="112" height="112" alt="楽天カードの優待">
          </figure>
          <div class="text-center">
            <a href="/overseas/previledge/rakuten-card/?l-id=corp_sp_overseas_previledge_to_card_pc" class="btn btn-primary btn-outline">詳しくはこちら</a>
          </div>
        </section>
        <hr class="separator">
        <section class="py-5 container">
          <h2 class="text-center mb-4">国際ブランドごとの優待</h2>
          <p class="text-center">
            それぞれの国際ブランドごとの、海外でのお得な優待をご紹介。
          </p>
          <div class="brand row d-flex">
            <div class="brand-item col-xs-3">
              <div class="brand-img">
                <img src="//image.card.jp.rakuten-static.com/card_corp/lay2.0/common/svg/brand/img_brand_amex.svg" width="116" height="116" alt="American Express">
              </div>
              <div class="brand-btn">
                <a href="/overseas/previledge/brand/" class="btn btn-primary btn-outline">詳しくはこちら</a>
              </div>
            </div>
            <div class="brand-item col-xs-3">
              <div class="brand-img">
                <img src="//image.card.jp.rakuten-static.com/card_corp/lay2.0/common/svg/brand/img_brand_mc-responsive.svg" width="104" height="85" alt="Mastercard">
              </div>
              <div class="brand-btn">
                <a href="/overseas/previledge/brand/" class="btn btn-primary btn-outline">詳しくはこちら</a>
              </div>
            </div>
            <div class="brand-item col-xs-3">
              <div class="brand-img">
                <img src="//image.card.jp.rakuten-static.com/card_corp/lay2.0/common/svg/brand/img_brand_visa.svg" width="114" height="68" alt="VISA">
              </div>
              <div class="brand-btn">
                <a href="/overseas/previledge/brand/" class="btn btn-primary btn-outline">詳しくはこちら</a>
              </div>
            </div>
            <div class="brand-item col-xs-3">
              <div class="brand-img">
                <img src="//image.card.jp.rakuten-static.com/card_corp/lay2.0/common/svg/brand/img_brand_jcb.svg" width="109" height="88" alt="JCB">
              </div>
              <div class="brand-btn">
                <a href="/overseas/previledge/brand/" class="btn btn-primary btn-outline">詳しくはこちら</a>
              </div>
            </div>
          </div>
        </section>
        <hr class="separator">
        <section class="py-5 container">
          <h2 class="text-center mb-4">ラウンジ</h2>
          <p class="text-center">
            楽天カード会員様がご利用いただけるラウンジを紹介しています。<br>
            お持ちのカードによって使えるサービスが異なりますのでご確認ください。<br>
            ラウンジがあなたの旅を快適に、ラグジュアリーにします。
          </p>
          <figure class="text-center mb-4">
            <img src="../../images/common/icon/icon_lounge.svg" width="112" height="112" alt="ラウンジ">
          </figure>
          <div class="text-center">
            <a href="/overseas/previledge/lounge/?l-id=corp_sp_overseas_previledge_to_lounge_pc" class="btn btn-primary btn-outline">詳しくはこちら</a>
          </div>
        </section>
        <div class="bg-lightest">
          <section class="py-6 container">
            <h2 class="text-center mb-4">ハワイでの優待</h2>
            <div class="row d-flex">
              <div class="col-xs-6 d-flex">
                <section class="ori-card">
                  <div class="ori-card-img-top">
                    <img src="../desktop/images/thumbnail_lounge.jpg" srcset="../desktop/images/thumbnail_lounge@2x.jpg 2x" width="460" height="260" alt="楽天カードラウンジ">
                  </div>
                  <div class="ori-card-body">
                    <h3 class="ori-card-title">楽天カードラウンジ</h3>
                    <p class="ori-card-text">
                      ワイキキ中心部のT ギャラリア ハワイ by DFSにある楽天カード会員様専用のラウンジです。<br>
                      ラウンジ内サービスは、もちろん無料。<br>
                      現地の日本語対応ができるスタッフが、ハワイでも笑顔でおもてなしいたします。<br>
                      楽天トラベルデスクも併設しています。</p>
                  </div>
                  <div class="ori-card-detail-link">
                    <a href="/overseas/hawaii/lounge/?l-id=corp_sp_overseas_previledge_to_hawaii_lounge_pc">詳しくはこちら<span class="rex-icon chevron-right"></span></a>
                  </div>
                </section>
              </div>
              <div class="col-xs-6 d-flex">
                <section class="ori-card">
                  <div class="ori-card-img-top">
                    <img src="./images/thumbnail_benefit.jpg" srcset="./images/thumbnail_benefit@2x.jpg 2x" width="460" height="260" alt="楽天カード特典クーポン">
                  </div>
                  <div class="ori-card-body">
                    <h3 class="ori-card-title">楽天カード特典クーポン</h3>
                    <p class="ori-card-text">
                      ハワイのご滞在をさらにスペシャルに！<br>楽天カード会員様だけの限定ご優待情報。<br>
                      お土産が充実したショップや人気のレストラン、癒しのスパなどお得な情報が満載！<br>最新のクーポン情報を掲載しておりますのでぜひご確認ください。
                    </p>
                  </div>
                  <div class="ori-card-detail-link">
                    <a href="/overseas/hawaii/coupon/?l-id=corp_sp_overseas_previledge_to_hawaii_coupon_pc">詳しくはこちら<span class="rex-icon chevron-right"></span></a>
                  </div>
                </section>
              </div>
            </div>
          </section>
        </div>
      </section>
    </article>
  </main>
  <button id="scroll-top">
    <span class="rex-icon arrow-up-l"></span>
    <div>ページ<br>トップ</div>
  </button>
  <% include ../../include/desktop/_footer %>
  <script src="//static.card.jp.rakuten-static.com/card_corp/pc/js/common/jquery-3.2.1.min.js"></script>
  <script src="../../js/desktop/jquery.easing.min.js"></script>
  <script src="../../js/desktop/header.js"></script>
  <script src="../../js/desktop/main.js"></script>
</body>

</html>