$main-color: #bf0000;
$hover-color: #ff1212;
$active-color: #960000;

@font-face {
  font-family: Noto Sans Japanese;
  font-style: normal;
  font-weight: 400;
  src: url(../font/NotoSansJP-Regular.woff2) format("woff2");
}

#scroll-top {
  display: none;
  position: fixed;
  right: 16px;
  bottom: 16px;
  width: 80px;
  height: 80px;
  padding: 8px;
  text-align: center;
  line-height: 1.2;
  background-color: white;
  border: 1px solid $main-color;
  border-radius: 50%;
  font-size: 14px;
  color: $main-color;
  transition: background-color .2s ease-out,box-shadow .1s ease-out;
  box-shadow: 0 2px 4px rgba(0,0,0,.12);
  outline: none;

  .rex-icon {
    font-size: 18px;
    font-weight: 400;
  }

  &:hover,&:focus {
    border-color: $hover-color;
    color: white;
    background-color: $hover-color;
    text-decoration: none;
  }
  &:active {
    border: 1px solid $active-color;
    color: white;
    background-color: $active-color;
  }
}
