<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>海外ご利用ガイド 海外でのお支払いや便利なサービスのご紹介｜楽天カード</title>
  <meta name="viewport" content="width=1080">
  <meta name="description" content="海外でも楽天カードが大活躍！海外キャッシングなど現地で便利なサービスのご案内や、海外でのご利用シーンに合わせたおすすめのクレジットカードのご紹介など、渡航前に知っておくと役立つ楽天カードの海外ご利用ガイドです。">
  <meta name="keywords" content="海外, 決済, クレジットカード, おすすめ, 楽天カード">
  <meta property="og:title" content="海外ご利用ガイド 海外でのお支払いや便利なサービスのご紹介">
  <meta property="og:description" content="海外でも楽天カードが大活躍！海外キャッシングなど現地で便利なサービスのご案内や、海外でのご利用シーンに合わせたおすすめのクレジットカードのご紹介など、渡航前に知っておくと役立つ楽天カードの海外ご利用ガイドです。">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="楽天カード">
  <meta property="og:image" content="https://image.card.jp.rakuten-static.com/card_corp/pc/contents/logo_200x200.gif">
  <meta property="fb:page_id" content="104759839604740">
  <link rel="canonical" href="https://www.rakuten-card.co.jp/overseas/guide/">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/rex-red.min.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/header-2.0.0.min.css">
  <link rel="stylesheet" href="../../css/desktop/localnav/style.css">
  <link rel="stylesheet" href="../../css/desktop/scrolltop/style.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/footer-2.0.0.min.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <% include ../../include/desktop/_header %>
  <% include ../../include/desktop/_localnav %>
  <ul class="breadcrumbs">
    <li><a href="/">トップ</a></li>
    <li><a href="/overseas/">海外で使う</a></li>
    <li>海外ご利用ガイド</li>
  </ul>
  <main>
    <article>
      <section>
        <div class="container mt-3">
          <h1 class="text-center mb-0">海外ご利用ガイド</h1>
        </div>
        <div class="jumbotron mt-6">
          <div>
            <div class="container text-center">海外のお供に楽天カードを</div>
          </div>
        </div>
        <section class="bg-lightest">
          <div class="container py-6 text-center">
            海外でご利用の際にご確認いただきたい、お支払いや便利なサービスについてのご紹介です。<br>
            海外での快適なマネーライフのために、ぜひ渡航前にご確認ください。
          </div>
        </section>
        <section class="container pt-6 pb-5">
          <h2 class="text-center mb-4">海外でのカード決済について</h2>
          <p class="text-center">
            海外でのご利用範囲、海外でカードを使うときに適用されるレートや手数料についてご案内します。
          </p>
          <figure class="text-center mb-4">
            <img src="../../images/common/icon/icon_user.svg" width="112" height="112" alt="">
          </figure>
          <div class="text-center">
            <a href="/overseas/guide/payment/?l-id=corp_sp_overseas_guide_to_payment_pc" class="btn btn-primary btn-outline">詳しくはこちら</a>
          </div>
        </section>
        <hr class="separator">
        <section class="py-5">
          <h2 class="text-center mb-4">現地通貨のお引き出し</h2>
          <figure class="text-center mb-2">
            <img src="../../images/common/icon/icon_world.svg" width="112" height="112" alt="">
          </figure>
          <div class="d-flex justify-content-center">
            <ul class="pl-2">
              <li>日本を出国前に両替を忘れてしまったとき</li>
              <li>海外旅行中に現金が足りなくなったとき</li>
              <li>夜中に現地に到着したとき</li>
            </ul>
          </div>
          <div class="text-center mb-4">
            お手持ちの楽天カードで両替の手間なく最大24時間、現地の通貨を引き出すことができます。
            <p class="small">※楽天カード・アメリカン・エキスプレス・カードは海外でのキャッシングはご利用いただけません。</p>
          </div>
          <div class="text-center">
            <a href="/cashing/overseas/?l-id=corp_sp_overseas_guide_to_cashing_pc" class="btn btn-primary btn-outline">詳しくはこちら</a>
          </div>
        </section>
        <hr class="separator">
        <section class="py-5">
          <h2 class="text-center mb-4">ご利用可能限度額のご確認</h2>
          <p class="text-center">予想外の出費や、たくさんお買いものしたくなった時に備えて、出国前に可能枠を確認しておきましょう。<br>
            一時的に増枠することのできる一時増枠のサービスもございます。</p>
          <figure class="text-center mb-4">
            <img src="../../images/common/icon/icon_confirm.svg" width="112" height="112" alt="">
          </figure>
          <div class="d-flex justify-content-center">
            <a href="/e-navi/members/credit-limit/availability/" class="btn btn-primary mr-2">ご利用可能額の照会</a>
            <a href="/e-navi/members/credit-limit/change/select.xhtml" class="btn btn-primary btn-outline mr-2">ご利用可能枠の変更</a>
            <a href="/e-navi/members/credit-limit/temp-change/" class="btn btn-primary btn-outline">ご利用可能枠の一時的な増枠</a>
          </div>
        </section>
        <hr class="separator">
        <section class="py-5">
          <h2 class="text-center mb-4">旅行以外の海外シーンにもお役立ち</h2>
          <p class="text-center">海外旅行以外にも、海外留学、海外出張など様々な楽天カードはシーンでご利用いただけます</p>
          <figure class="text-center mb-4">
            <img src="../../images/common/icon/icon_foreign-guide.svg" width="112" height="112" alt="">
          </figure>
          <div class="text-center">
            <a href="/overseas/guide/scene/?l-id=corp_sp_overseas_guide_to_scene_pc" class="btn btn-primary btn-outline">詳しくはこちら</a>
          </div>
        </section>
      </section>
    </article>
  </main>
  <button id="scroll-top">
    <span class="rex-icon arrow-up-l"></span>
    <div>ページ<br>トップ</div>
  </button>
  <% include ../../include/desktop/_footer %>
  <script src="//static.card.jp.rakuten-static.com/card_corp/pc/js/common/jquery-3.2.1.min.js"></script>
  <script src="../../js/desktop/jquery.easing.min.js"></script>
  <script src="../../js/desktop/header.js"></script>
  <script src="../../js/desktop/main.js"></script>
</body>

</html>