<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>海外からのお問い合わせ カードの紛失・盗難・緊急再発行｜楽天カード</title>
  <meta name="viewport" content="width=1080">
  <meta name="description" content="海外でも楽天カードが大活躍！海外旅行中の緊急時でも楽天カードならサポートがしっかりしていて安心です。海外での楽天カード紛失・盗難の際の電話番号や、海外旅行中の保険についてなど、緊急時に役立つ情報をご紹介しています。">
  <meta name="keywords" content="海外, 紛失, クレジットカード, 盗難, 楽天カード">
  <meta property="og:title" content="海外からのお問い合わせ カードの紛失・盗難・緊急再発行">
  <meta property="og:description" content="海外でも楽天カードが大活躍！海外旅行中の緊急時でも楽天カードならサポートがしっかりしていて安心です。海外での楽天カード紛失・盗難の際の電話番号や、海外旅行中の保険についてなど、緊急時に役立つ情報をご紹介しています。">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="楽天カード">
  <meta property="og:image" content="https://image.card.jp.rakuten-static.com/card_corp/pc/contents/logo_200x200.gif">
  <meta property="fb:page_id" content="104759839604740">
  <link rel="canonical" href="https://www.rakuten-card.co.jp/overseas/help/emergency/">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/rex-red.min.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/header-2.0.0.min.css">
  <link rel="stylesheet" href="../../css/desktop/localnav/style.css">
  <link rel="stylesheet" href="../../css/desktop/scrolltop/style.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/footer-2.0.0.min.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <% include ../../include/desktop/_header %>
  <% include ../../include/desktop/_localnav %>
  <ul class="breadcrumbs">
    <li><a href="/">トップ</a></li>
    <li><a href="/overseas/">海外で使う</a></li>
    <li><a href="/overseas/help/">旅行中に困ったときは</a></li>
    <li>海外でのカードの紛失・盗難について</li>
  </ul>
  <main>
    <article>
      <section>
        <div class="container mt-3">
          <h1 class="text-center mb-6">海外でのカードの紛失・盗難について</h1>
          <section class="py-5">
            <h2 class="text-center">
              紛失・盗難専用ダイヤル
            </h2>
            不正利用防止のため、お手続きを早急に行う必要がございます。<br>
            紛失･盗難専用ダイヤル(24時間受付)へ至急ご連絡ください。 <br>
            お手続き方法などを詳しくご案内いたします。<br>
            ※紛失・盗難のご連絡をいただいたカードが発見された場合、カードの無効登録を取り消すことができないため、発見したカードでのご利用はいただけません。 
            <div class="d-flex justify-content-center mb-4">
              <div class="contact-center">
                <div class="contact-center_heading">海外でのカード紛失・盗難のご連絡先</div>
                <div class="text-center">
                  紛失・盗難専用ダイヤル
                </div>
                <div class="contact-center_business-hour">365日・<span class="text-primary">24時間</span>　受付</div>
                <div class="contact-center_phone-number"><i class="rex-icon phone-f"></i><a href="tel:81924749256">81-92-474-9256</a></div>
                <div class="text-primary">
                  ※コレクトコールでお電話ください<br>
                  ※頭の81は日本の国コード
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="bg-lightest">
          <section class="container py-6">
            <h2 class="text-center mb-4">緊急カードサービス</h2>
            <div class="text-center mb-4"><img src="../../images/common/icon/icon_helpdesk.svg" width="110" height="113" alt="緊急カードサービス"></div>
            <p class="text-center mb-5">渡航中のみ利用可能な再発行カードを現地で手配いたします。<br>※海外で緊急発行されるカードは日本国内では利用できないため、帰国後は必ず再発行が必要となります。<br>※American Expressをお持ちの方はこちらのサービスは対象外です。</p>
            <div class="row d-flex">
              <div class="col-xs-6 d-flex">
                <section class="ori-card">
                  <div class="ori-card-img-top">
                    <img class="mr-2" src="//image.card.jp.rakuten-static.com/card_corp/lay2.0/common/svg/brand/img_brand_mc-responsive.svg" width="98" height="80" alt="Mastercard"><img src="//image.card.jp.rakuten-static.com/card_corp/lay2.0/common/svg/brand/img_brand_visa.svg" width="134" height="80" alt="Visa">
                  </div>
                  <div class="ori-card-body mb-0">
                    <h3 class="ori-card-title">Visa・Mastercardの場合</h3>
                    <ul class="list-unstyled mb-0">
                    	<li class="d-flex align-items-center mb-2">
                        <img class="mr-2" src="../../images/common/icon/icon_service_tel.svg" width="83" height="83" alt="楽天カードへご連絡">
                        <p class="mb-0">1.まず、お客様より楽天カード<a href="tel:81924749256">81-92-474-9256</a>へご連絡いただきます。</p>
                      </li>
                      <li class="d-flex align-items-center mb-2">
                        <img class="mr-2" src="../../images/common/icon/icon_service_request.svg" width="83" height="83" alt="お客様情報の聞き取り">
                        <p class="mb-0">2.お客様より聞き取りした情報をもとに各ブランド（Visa・Mastercard）へ緊急カードの発行を依頼いたします。</p>
                      </li>
                      <li class="d-flex align-items-center">
                        <img class="mr-2" src="../../images/common/icon/icon_brand.svg" width="83" height="83" alt="ブランド各社より連絡">
                        <p class="mb-0">3.ブランド各社よりお客様へ連絡があり、緊急カードのお渡しとなります。<br>※状況により緊急カードの受け渡し方法は異なります。</p>
                      </li>
                    </ul>
                  </div>
                </section>
              </div>
              <div class="col-xs-6 d-flex">
                  <section class="ori-card">
                    <div class="ori-card-img-top">
                      <img src="//image.card.jp.rakuten-static.com/card_corp/lay2.0/common/svg/brand/img_brand_jcb.svg" width="99" height="80" alt="JCB">
                    </div>
                    <div class="ori-card-body mb-0">
                      <h3 class="ori-card-title">JCBの場合</h3>
                      <ul class="list-unstyled mb-0">
                        <li class="d-flex align-items-center mb-2">
                          <img class="mr-2" src="../../images/common/icon/icon_service_tel-JCB.svg" width="83" height="83" alt="JCBへご連絡">
                          <div>
                            <p class="mb-0">1.お客様より直接JCBへお電話いただきます。<br>※滞在地によって電話番号が変わります。</p>
                            <a href="https://www.jcb.jp/ws/emergency_support.html#collect_call">こちらからお確かめください<span class="rex-icon chevron-right"></span></a>
                          </div>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                          <img class="mr-2" src="../../images/common/icon/icon_service_brand.svg" width="83" height="83" alt="楽天カードからJCBへ緊急カードの発行依頼">
                          <p class="mb-0">2.JCBから楽天カードへ連絡が入ります。<br>情報をもとに、楽天カードからJCBへ緊急カードの発行を依頼いたします。</p>
                        </li>
                        <li class="d-flex align-items-center">
                          <img class="mr-2" src="../../images/common/icon/icon_brand.svg" width="83" height="83" alt="JCBより連絡">
                          <p class="mb-0">3.JCBよりお客様へ連絡があり、緊急カードのお渡しとなります。<br>※状況により緊急カードの受け渡し方法は異なります。</p>
                        </li>
                      </ul>
                    </div>
                  </section>
              </div>
            </div>
          </section>
        </div>
        <section class="container py-5">
            <h2 class="text-center mb-4">関連情報</h2>
            <dl>
              <dt>・海外旅行傷害保険</dt>
              <dd>
                旅先でのケガや病気、トラブルをサポートいたします。海外旅行の際は、楽天カードをお忘れのないようお持ちください。
                <div class="text-right"><a href="/overseas/insurance/?l-id=corp_sp_overseas_emergency_to_insurance_pc">詳しくはこちら<span class="rex-icon chevron-right"></span></a></div>
              </dd>
            </dl>
          </section>
      </section>
    </article>
  </main>
  <button id="scroll-top">
    <span class="rex-icon arrow-up-l"></span>
    <div>ページ<br>トップ</div>
  </button>
  <% include ../../include/desktop/_footer %>
  <script src="//static.card.jp.rakuten-static.com/card_corp/pc/js/common/jquery-3.2.1.min.js"></script>
  <script src="../../js/desktop/jquery.easing.min.js"></script>
  <script src="../../js/desktop/header.js"></script>
  <script src="../../js/desktop/main.js"></script>
</body>

</html>