<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>楽天カード会員様がご利用いただけるラウンジのご紹介｜楽天カード</title>
  <meta name="viewport" content="width=1080">
  <meta name="description" content="楽天カード会員様がご利用いただけるラウンジは国内空港ラウンジ、海外空港ラウンジ、ハワイのラウンジなどがございます。お手持ちの楽天カードによって使えるサービスが異なる場合があります。ご確認のうえ、ぜひご活用ください。">
  <meta name="keywords" content="優待, ラウンジ, クレジットカード, 空港, 楽天カード">
  <meta property="og:title" content="楽天カード会員様がご利用いただけるラウンジのご紹介">
  <meta property="og:description" content="楽天カード会員様がご利用いただけるラウンジは国内空港ラウンジ、海外空港ラウンジ、ハワイのラウンジなどがございます。お手持ちの楽天カードによって使えるサービスが異なる場合があります。ご確認のうえ、ぜひご活用ください。">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="楽天カード">
  <meta property="og:image" content="https://image.card.jp.rakuten-static.com/card_corp/pc/contents/logo_200x200.gif">
  <meta property="fb:page_id" content="104759839604740">
  <link rel="canonical" href="https://www.rakuten-card.co.jp/overseas/previledge/lounge/">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/rex-red.min.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/header-2.0.0.min.css">
  <link rel="stylesheet" href="../../css/desktop/localnav/style.css">
  <link rel="stylesheet" href="../../css/desktop/scrolltop/style.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/footer-2.0.0.min.css">
</head>

<body>
  <% include ../../include/desktop/_header %>
  <% include ../../include/desktop/_localnav %>
  <ul class="breadcrumbs">
    <li><a href="/">トップ</a></li>
    <li><a href="/overseas/">海外で使う</a></li>
    <li><a href="/overseas/previledge/">海外で使える優待</a></li>
    <li>ラウンジ</li>
  </ul>
  <main>
    <article>
      <section>
        <div class="container mt-3">
          <h1 class="text-center mb-0">ラウンジ</h1>
        </div>
        <div class="jumbotron mt-6">
          <div>
            <div class="container text-center">ラウンジがあなたの旅を快適でラグジュアリーに</div>
          </div>
        </div>
        <section class="bg-lightest">
          <div class="container py-6 text-center">
            楽天カード会員様がご利用いただけるラウンジを紹介しています。<br>
            お持ちのカードによって使えるサービスが異なりますのでご確認ください。<br>
            くつろぎのひとときをお過ごしください。
          </div>
        </section>
        <div class="bg-lightest">
          <section class="container pt-6 pb-5">
            <h2 class="text-center mb-4">楽天カード会員様がご利用いただけるラウンジ一覧</h2>
            <div class="row d-flex">
              <div class="col-xs-4 d-flex">
                <section class="ori-card">
                  <div class="ori-card-img-top">
                    <img src="../../images/common/icon/icon_lounge-1.svg" width="99" height="101" alt="国内空港ラウンジ">
                  </div>
                  <div class="ori-card-body">
                    <h3 class="ori-card-title">国内空港ラウンジ</h3>
                    <p class="ori-card-text">楽天ゴールドカード・楽天プレミアムカード会員様がご利用いただける国内(一部、海外)空港ラウンジのご案内です。</p>
                  </div>
                  <div class="ori-card-detail-link">
                    <a href="/overseas/previledge/lounge/japan/?l-id=corp_sp_overseas_lounge_to_japan_pc" class="text-link">詳しくはこちら</a>
                  </div>
                </section>
              </div>
              <div class="col-xs-4 d-flex">
                <section class="ori-card">
                  <div class="ori-card-img-top">
                    <img src="../../images/common/icon/icon_lounge-2.svg" width="99" height="101" alt="海外空港ラウンジ">
                  </div>
                  <div class="ori-card-body">
                    <h3 class="ori-card-title">海外空港ラウンジ</h3>
                    <p class="ori-card-text">楽天プレミアムカードをお持ちの会員様がご利用いただけるサービスです。<br>ラウンジのご利用にはプライオリティ・パス会員カードが必要です。</p>
                  </div>
                  <div class="ori-card-detail-link">
                    <a href="/overseas/previledge/lounge/overseas/?l-id=corp_sp_overseas_lounge_to_overseas_pc" class="text-link">詳しくはこちら</a>
                  </div>
                </section>
              </div>
              <div class="col-xs-4 d-flex">
                <section class="ori-card">
                  <div class="ori-card-img-top">
                    <img src="../../images/common/icon/icon_lounge-3.svg" width="99" height="101" alt="楽天カードラウンジ">
                  </div>
                  <div class="ori-card-body">
                    <h3 class="ori-card-title">楽天カードラウンジ</h3>
                    <p class="ori-card-text">
                      ワイキキ中心部のT ギャラリア ハワイ by DFSにある楽天カード会員様専用のラウンジです。<br>「楽天カード」のご提示で、無料でご利用いただけます。
                    </p>
                  </div>
                  <div class="ori-card-detail-link">
                    <a href="/overseas/hawaii/lounge/?l-id=corp_sp_overseas_lounge_to_hawaii_pc" class="text-link">詳しくはこちら</a>
                  </div>
                </section>
              </div>
            </div>
          </section>
        </div>
        <section class="container py-5">
          <h2 class="text-center mb-4">関連情報</h2>
          <dl>
            <dt>・トラベルデスク</dt>
            <dd>
              トラベルデスクは、楽天プレミアムカード・楽天ゴールド会員様がご利用いただけるデスクとなります。<br>現地デスクがお客様の旅をサポートいたします。
              <div class="text-right"><a href="/e-navi/">楽天プレミアムカード・楽天ゴールド会員様はこちら<span class="rex-icon chevron-right"></span></a></div>
              <div class="text-right"><a href="/card/">楽天プレミアムカード・楽天ゴールドカードをお持ちでない方はこちら<span class="rex-icon chevron-right"></span></a></div>
            </dd>
          </dl>
        </section>
      </section>
    </article>
  </main>
  <button id="scroll-top">
    <span class="rex-icon arrow-up-l"></span>
    <div>ページ<br>トップ</div>
  </button>
  <% include ../../include/desktop/_footer %>
  <script src="//static.card.jp.rakuten-static.com/card_corp/pc/js/common/jquery-3.2.1.min.js"></script>
  <script src="../../js/desktop/jquery.easing.min.js"></script>
  <script src="../../js/desktop/header.js"></script>
  <script src="../../js/desktop/main.js"></script>
</body>

</html>