@charset "utf-8";

.jumbotron {
  background: url(../images/jumbotron.jpg) center no-repeat;
  background-size: cover;
}

.brand {
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #ebebeb;

    &:last-child {
      border: none;
    }
  }
  
  &-img {
    margin-top: auto;
    margin-bottom: 16px;
  }

  &-btn {
    margin-top: auto;
  }
}