<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>緊急時でも安心　海外でのトラブルをサポートします｜楽天カード</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="海外での緊急時でも楽天カードならサポートがしっかりしていて安心です。紛失・盗難の際の電話番号や、渡航中の保険についてなど、緊急時に役立つ情報をご紹介しています。">
  <meta name="keywords" content="海外, クレジットカード, 問い合わせ, トラブル, 楽天カード">
  <meta property="og:title" content="緊急時でも安心　海外でのトラブルをサポートします">
  <meta property="og:description" content="海外での緊急時でも楽天カードならサポートがしっかりしていて安心です。紛失・盗難の際の電話番号や、渡航中の保険についてなど、緊急時に役立つ情報をご紹介しています。">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="楽天カード">
  <meta property="og:image" content="https://image.card.jp.rakuten-static.com/card_corp/pc/contents/logo_200x200.gif">
  <meta property="fb:page_id" content="104759839604740">
  <link rel="canonical" href="https://www.rakuten-card.co.jp/overseas/help/">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/header-2.0.0.min.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/footer-2.0.0.min.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/lay2.0/common/common_smart.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/rex-red.min.css">
  <link rel="stylesheet" href="../../css/mobile/localnav/style.css">
  <link rel="stylesheet" href="../../css/mobile/scrolltop/style.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div class="js-local-nav-fixed-item">
    <% include ../../include/mobile/_header %>
  </div>
  <% include ../../include/mobile/_localnav %>
  <main>
    <article class="pt-4">
      <section>
        <h1 class="text-center mb-4">旅行中に困った時は</h1>
        <div class="jumbotron text-center">
          「どうしよう」。<br>旅先でのトラブルを充実サポート。
        </div>
        <p class="container-fluid py-5 mb-0 bg-light">
          旅先でのケガや病気、万が一のカードの盗難・紛失の際も安心。緊急時の連絡先やご対応についてご案内いたします。
        </p>
        <div class="container-fluid py-4 bg-light">
          <section class="mb-6">
            <h2 class="text-center mb-3">海外でのカードの<br>紛失・盗難の際</h2>
            <section class="card">
              <div class="card-img-top">
                <img src="../../images/common/icon/icon_brand.svg" width="78" height="78" alt="各カードブランドによる海外緊急サービス">
              </div>
              <div class="card-body">
                <h3 class="card-title">各カードブランドによる<br>海外緊急サービス</h3>
                <p class="card-text">
                  各カードブランド(Visa、JCB、Mastercard)が提供する海外でのカード紛失･盗難の際に利用できる緊急サービスです。<br>
                  楽天カード会員は無料で利用することができます。<br>
                  カードブランドによってお手続きの方法が異なりますのでご確認ください。
                </p>
              </div>
              <div class="card-detail-link">
                <a href="/overseas/help/emergency/?l-id=corp_sp_overseas_help_to_emergency_sp" class="text-link">詳しくはこちら</a>
              </div>
            </section>
          </section>
          <section class="mb-6">
            <h2 class="text-center mb-3">ケガ・病気の<br>ためのサポートが<br>現地で必要な際</h2>
            <section class="card">
              <div class="card-img-top">
                <img src="../../images/common/icon/icon_helpdesk.svg" width="78" height="78" alt="海外アシスタンスサービス">
              </div>
              <div class="card-body">
                <h3 class="card-title">海外アシスタンスサービス</h3>
                <p class="card-text">
                  楽天カードの海外アシスタンスサービスは、海外旅行中の緊急医療をサポートします。<br>
                  渡航先から24時間・年中無休お電話でご利用できる充実したトラベルサービスです。日本語対応が可能です。
                </p>
              </div>
              <div class="card-detail-link">
                <a href="/overseas/help/assistance/?l-id=corp_sp_overseas_help_to_assistance_sp" class="text-link">詳しくはこちら</a>
              </div>
            </section>
          </section>
          <section>
            <h2 class="text-center mb-3">旅中に起こった<br>トラブルのサポートが<br>必要な際</h2>
            <section class="card">
              <div class="card-img-top">
                <img src="../../images/common/icon/icon_foreign-insurance.svg" width="78" height="78" alt="海外旅行傷害保険">
              </div>
              <div class="card-body">
                <h3 class="card-title">海外旅行傷害保険</h3>
                <p class="card-text">
                  旅行中の病気やケガを補償する、安心の保険サービスです。<br>
                  疾病治療費や賠償責任、携行品損害も補償いたします。
                </p>
              </div>
              <div class="card-detail-link">
                <a href="/overseas/insurance/?l-id=corp_sp_overseas_help_to_insurance_sp" class="text-link">詳しくはこちら</a>
              </div>
            </section>
          </section>
        </div>
        <section class="container-fluid py-4">
          <h2 class="text-center">関連情報</h2>
          <dl>
            <dt>・海外渡航先からの問合せに関して</dt>
            <dd>
              コレクトコールのかけ方についてのご案内です。
              <div class="text-right"><a href="https://support.rakuten-card.jp/faq/show/27378?site_domain=guest">詳しくはこちら<span class="rex-icon chevron-right"></span></a></div>
            </dd>
          </dl>
          <dl class="mb-0">
            <dt>・海外でのご利用覚えのない請求に関して</dt>
            <dd>
              二重請求・追加請求・キャンセルしたはずの請求についてのお困りの方はこちらをご確認ください。
              <div class="text-right"><a href="https://www.rakuten-card.co.jp/overseas/guide/payment/">詳しくはこちら<span class="rex-icon chevron-right"></span></a></div>
            </dd>
          </dl>
        </section>
      </section>
    </article>
  </main>
  <% include ../../include/mobile/_footer %>
  <% include ../../include/mobile/_scrolltop %>
  <script src="//static.card.jp.rakuten-static.com/card_corp/pc/js/common/jquery-3.2.1.min.js"></script>
  <script src="//jp.rakuten-static.com/1/js/grp/prtl/rc-gp-sp.v2.min.js" data-service="rtc" data-priority="bnk,sec_is,sei"></script>
  <script src="../../js/mobile/jquery.easing.min.js"></script>
  <script src="../../js/mobile/header.js"></script>
  <script src="../../js/mobile/main.js"></script>
</body>

</html>