<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>緊急時でも安心　海外でのトラブルをサポートします｜楽天カード</title>
  <meta name="viewport" content="width=1080">
  <meta name="description" content="海外でも楽天カードが大活躍！海外旅行中の緊急時でも楽天カードならサポートがしっかりしていて安心です。海外での楽天カード紛失・盗難の際の電話番号や、海外旅行中の保険についてなど、緊急時に役立つ情報をご紹介しています。">
  <meta name="keywords" content="海外, クレジットカード, 問い合わせ, トラブル, 楽天カード">
  <meta property="og:title" content="緊急時でも安心　海外でのトラブルをサポートします">
  <meta property="og:description" content="海外でも楽天カードが大活躍！海外旅行中の緊急時でも楽天カードならサポートがしっかりしていて安心です。海外での楽天カード紛失・盗難の際の電話番号や、海外旅行中の保険についてなど、緊急時に役立つ情報をご紹介しています。">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="楽天カード">
  <meta property="og:image" content="https://image.card.jp.rakuten-static.com/card_corp/pc/contents/logo_200x200.gif">
  <meta property="fb:page_id" content="104759839604740">
  <link rel="canonical" href="https://www.rakuten-card.co.jp/overseas/help/">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/rex-red.min.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/header-2.0.0.min.css">
  <link rel="stylesheet" href="../../css/desktop/localnav/style.css">
  <link rel="stylesheet" href="../../css/desktop/scrolltop/style.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/footer-2.0.0.min.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <% include ../../include/desktop/_header %>
  <% include ../../include/desktop/_localnav %>
  <ul class="breadcrumbs">
    <li><a href="/">トップ</a></li>
    <li><a href="/overseas/">海外で使う</a></li>
    <li>旅行中に困った時は</li>
  </ul>
  <main>
    <article>
      <section>
        <div class="container mt-3">
          <h1 class="text-center mb-0">旅行中に困った時は</h1>
        </div>
        <div class="jumbotron mt-6">
          <div>
            <div class="container text-center">「どうしよう」。旅先でのトラブルを充実サポート。</div>
          </div>
        </div>
        <section class="bg-lightest">
          <div class="container py-6 text-center">
            旅先でのケガや病気、万が一のカードの盗難・紛失の際も安心。緊急時の連絡先やご対応についてご案内いたします。
          </div>
        </section>
        <section class="container pt-6 pb-5">
          <h2 class="text-center mb-4">海外でのカードの紛失・盗難の際</h2>
          <section>
            <figure class="text-center mb-2">
              <img src="../../images/common/icon/icon_brand.svg" width="112" height="112" alt="">
            </figure>
            <h3 class="text-center">各カードブランドによる海外緊急サービス</h3>
            <p class="text-center mb-4">
              各カードブランド(Visa、JCB、Mastercard)が提供する海外でのカード紛失･盗難の際に利用できる緊急サービスです。<br>
              楽天カード会員は無料で利用することができます。<br>
              カードブランドによってお手続きの方法が異なりますのでご確認ください。
            </p>
            <div class="text-center">
              <a href="/overseas/help/emergency/?l-id=corp_sp_overseas_help_to_emergency_pc" class="btn btn-primary">詳しくはこちら</a>
            </div>
          </section>
        </section>
        <hr class="separator">
        <section class="container pt-6 pb-5">
          <h2 class="text-center mb-4">ケガ・病気のためのサポートが現地で必要な際</h2>
          <section>
            <figure class="text-center mb-2">
              <img src="../../images/common/icon/icon_helpdesk.svg" width="112" height="112" alt="">
            </figure>
            <h3 class="text-center">海外アシスタンスサービス</h3>
            <p class="text-center mb-4">
              楽天カードの海外アシスタンスサービスは、海外旅行中の緊急医療をサポートします。<br>
              渡航先から24時間・年中無休お電話でご利用できる充実したトラベルサービスです。日本語対応が可能です。
            </p>
            <div class="text-center">
              <a href="/overseas/help/assistance/?l-id=corp_sp_overseas_help_to_assistance_pc" class="btn btn-primary btn-outline">詳しくはこちら</a>
            </div>
          </section>
        </section>
        <hr class="separator">
        <section class="container pt-6 pb-5">
          <h2 class="text-center mb-4">旅中に起こったトラブルのサポートが必要な際</h2>
          <section>
            <figure class="text-center mb-2">
              <img src="../../images/common/icon/icon_foreign-insurance.svg" width="112" height="112" alt="">
            </figure>
            <h3 class="text-center">海外旅行傷害保険</h3>
            <p class="text-center mb-4">
              旅行中の病気やケガを補償する、安心の保険サービスです。<br>
              疾病治療費や賠償責任、携行品損害も補償いたします。
            </p>
            <div class="text-center">
              <a href="/overseas/insurance/?l-id=corp_sp_overseas_help_to_insurance_pc" class="btn btn-primary btn-outline">詳しくはこちら</a>
            </div>
          </section>
        </section>
        <hr class="separator">
        <section class="container pt-6 pb-5">
          <h2 class="text-center mb-4">関連情報</h2>
          <dl>
            <dt>・海外渡航先からの問合せに関して</dt>
            <dd>
              コレクトコールのかけ方についてのご案内です。
              <div class="text-right"><a href="https://support.rakuten-card.jp/faq/show/27378?site_domain=guest">詳しくはこちら<span class="rex-icon chevron-right"></span></a></div>
            </dd>
          </dl>
          <dl class="mb-0">
            <dt>・海外でのご利用覚えのない請求に関して</dt>
            <dd>
              二重請求・追加請求・キャンセルしたはずの請求についてのお困りの方はこちらをご確認ください。
              <div class="text-right"><a href="/overseas/guide/payment/">詳しくはこちら<span class="rex-icon chevron-right"></span></a></div>
            </dd>
          </dl>
        </section>
      </section>
    </article>
  </main>
  <button id="scroll-top">
    <span class="rex-icon arrow-up-l"></span>
    <div>ページ<br>トップ</div>
  </button>
  <% include ../../include/desktop/_footer %>
  <script src="//static.card.jp.rakuten-static.com/card_corp/pc/js/common/jquery-3.2.1.min.js"></script>
  <script src="../../js/desktop/jquery.easing.min.js"></script>
  <script src="../../js/desktop/header.js"></script>
  <script src="../../js/desktop/main.js"></script>
</body>

</html>