<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>楽天カードは海外でも大活躍！｜楽天カード</title>
  <meta name="viewport" content="width=1080">
  <meta name="description" content="海外でも楽天カードが大活躍。ショッピングはもちろん現地通貨の引き出しも可能。さらに海外旅行傷害保険など安心のサポートや、ラウンジ・優待サービスも。クレジットカードと共に旅をもっと快適にしてみませんか。">
  <meta name="keywords" content="海外, クレジットカード, お得, 楽天カード">
  <meta property="og:title" content="楽天カードは海外でも大活躍！">
  <meta property="og:description" content="海外でも楽天カードが大活躍。ショッピングはもちろん現地通貨の引き出しも可能。さらに海外旅行傷害保険など安心のサポートや、ラウンジ・優待サービスも。クレジットカードと共に旅をもっと快適にしてみませんか。">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="楽天カード">
  <meta property="og:image" content="https://image.card.jp.rakuten-static.com/card_corp/pc/contents/logo_200x200.gif">
  <meta property="fb:page_id" content="104759839604740">
  <link rel="canonical" href="https://www.rakuten-card.co.jp/overseas/">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/rex-red.min.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/header-2.0.0.min.css">
  <link rel="stylesheet" href="../../css/desktop/localnav/style.css">
  <link rel="stylesheet" href="../../css/desktop/scrolltop/style.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/footer-2.0.0.min.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <% include ../../include/desktop/_header %>
  <% include ../../include/desktop/_localnav %>
  <ul class="breadcrumbs">
    <li><a href="/">トップ</a></li>
    <li><a href="/overseas/">海外で使う</a></li>
  </ul>
  <main>
    <article>
      <section>
        <div class="container mt-3">
          <h1 class="text-center mb-0">海外で使う</h1>
        </div>
        <div class="jumbotron mt-6">
          <div>
            <div class="container text-center">楽天カードは海外でも大活躍！</div>
          </div>
        </div>
        <section class="bg-lightest">
          <div class="container py-6 text-center">
            楽天カードは海外でもご利用いただけます。<br>
            安心のサポートや便利でお得な優待サービスが充実。
          </div>
        </section>
        <section class="container pt-6 pb-5">
          <h2 class="text-center mb-4">海外ご利用ガイド</h2>
          <p class="text-center">
            海外でご利用いただく際にご確認いただきたい、<br>
            お支払いや便利なサービスについてのご説明です。
          </p>
          <figure class="text-center mb-4">
            <img src="../../images/common/icon/icon_foreign-guide.svg" width="112" height="112" alt="海外ご利用ガイド">
          </figure>
          <div class="text-center">
            <a href="/overseas/guide/?l-id=corp_sp_overseas_top_to_guide_pc" class="btn btn-primary btn-outline">詳しくはこちら</a>
          </div>
        </section>
        <hr class="separator">
        <section class="py-5">
          <h2 class="text-center mb-4">海外旅行傷害保険</h2>
          <p class="text-center">
            旅行中の病気やケガを補償する、安心の保険サービスです。<br>
            疾病治療費や賠償責任、携行品損害も補償いたします。
          </p>
          <figure class="text-center mb-4">
            <img src="../../images/common/icon/icon_foreign-insurance.svg" width="112" height="112" alt="海外旅行傷害保険">
          </figure>
          <div class="text-center">
            <a href="/overseas/insurance/?l-id=corp_sp_overseas_top_to_insurance_pc" class="btn btn-primary btn-outline">詳しくはこちら</a>
          </div>
        </section>
        <div class="bg-lightest">
          <section class="py-6 container">
            <h2 class="text-center mb-4">優待</h2>
            <div class="row d-flex">
              <div class="col-xs-6 d-flex">
                <section class="ori-card">
                  <div class="ori-card-img-top">
                    <img src="../../images/common/icon/icon_treatment.svg" width="112" height="112" alt="楽天カードの優待">
                  </div>
                  <div class="ori-card-body">
                    <h3 class="ori-card-title">楽天カードの優待</h3>
                    <p class="ori-card-text">
                      優待価格でご利用いただけるWi-Fiレンタルや海外レンタカー等お得なサービスをご紹介！<br>
                      渡航の際はぜひご確認のうえご利用ください。  
                    </p>
                  </div>
                  <div class="ori-card-detail-link">
                    <a href="/overseas/previledge/rakuten-card/?l-id=corp_sp_overseas_top_to_previledge_card_pc">詳しくはこちら<span class="rex-icon chevron-right"></span></a>
                  </div>
                </section>
              </div>
              <div class="col-xs-6 d-flex">
                <section class="ori-card">
                  <div class="ori-card-img-top">
                    <img src="../../images/common/icon/icon_lounge.svg" width="112" height="112" alt="ラウンジ">
                  </div>
                  <div class="ori-card-body">
                    <h3 class="ori-card-title">ラウンジ</h3>
                    <p class="ori-card-text">
                      楽天カード会員様がご利用いただけるラウンジを紹介しています。<br>
                      お持ちのカードによって使えるサービスが異なりますのでご確認ください。<br>
                      ラウンジがあなたの旅を快適に、ラグジュアリーにします。
                    </p>
                  </div>
                  <div class="ori-card-detail-link">
                    <a href="/overseas/previledge/lounge/?l-id=corp_sp_overseas_top_to_previledge_lounge_pc">詳しくはこちら<span class="rex-icon chevron-right"></span></a>
                  </div>
                </section>
              </div>
            </div>
            <div class="text-center pt-4">
              <a type="button" class="btn btn-primary btn-outline" href="/overseas/previledge/?l-id=corp_sp_overseas_top_to_previledge_pc">その他の優待について詳しくはこちら</a>
            </div>
          </section>
        </div>
        <section class="container pt-6 pb-5">
          <h2 class="text-center mb-4">ハワイで楽しむ</h2>
          <p class="text-center">
            楽天カード会員様専用ラウンジや、お得なクーポンなど、<br>
            ハワイでの滞在を快適に、お得に過ごせる情報が満載！
          </p>
          <figure class="text-center mb-4">
            <img src="./images/parts_hawaii-thumbnail.jpg" srcset="./images/parts_hawaii-thumbnail@2x.jpg 2x" width="460" height="260" alt="ハワイ">
          </figure>
          <div class="text-center">
            <a type="button" class="btn btn-default btn-outline" href="/overseas/hawaii/?l-id=corp_sp_overseas_top_to_hawaii_pc">詳しくはこちら</a>
          </div>
        </section>
        <hr class="separator">
        <section class="container py-5">
          <h2 class="text-center mb-4">現地通貨のお引き出し</h2>
          <p class="text-center">楽天カードの海外キャッシングを使えば、海外のATMで簡単に現地通貨を引き出せます。<br>
            両替の手間もかからず、少額でも気軽に引き出せます。</p>
          <figure class="text-center mb-4">
            <img src="../../images/common/icon/icon_world.svg" width="112" height="112" alt="海外旅行">
          </figure>
          <div class="text-center">
            <a type="button" class="btn btn-default btn-outline" href="/cashing/overseas/?l-id=corp_sp_overseas_top_to_cashing_pc">詳しくはこちら</a>
          </div>
        </section>
        <hr class="separator">
        <section class="container py-5">
          <h2 class="text-center mb-4">旅行中に困った時は</h2>
          <p class="text-center">旅先でのケガや病気、万が一のカードの盗難・紛失の際も安心。<br>
            緊急時の連絡先やご対応についてご案内いたします。</p>
          <figure class="text-center mb-4">
            <img src="../../images/common/icon/icon_helpdesk.svg" width="112" height="112" alt="ヘルプデスク">
          </figure>
          <div class="text-center">
            <a type="button" class="btn btn-default btn-outline" href="/overseas/help/?l-id=corp_sp_overseas_top_to_help_pc">詳しくはこちら</a>
          </div>
        </section>
      </section>
    </article>
  </main>
  <button id="scroll-top">
    <span class="rex-icon arrow-up-l"></span>
    <div>ページ<br>トップ</div>
  </button>
  <% include ../../include/desktop/_footer %>
  <script src="//static.card.jp.rakuten-static.com/card_corp/pc/js/common/jquery-3.2.1.min.js"></script>
  <script src="../../js/desktop/jquery.easing.min.js"></script>
  <script src="../../js/desktop/header.js"></script>
  <script src="../../js/desktop/main.js"></script>
</body>

</html>