<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>海外決済の適応レート・手数料の確認｜楽天カード</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="海外での楽天カードの適応レートや手数料などのご案内です。海外でのご利用覚えのない請求についてお困りの方もこちらをご確認ください。">
  <meta name="keywords" content="海外, レート, 手数料, 請求, 楽天カード">
  <meta property="og:title" content="海外決済の適応レート・手数料の確認">
  <meta property="og:description" content="海外での楽天カードの適応レートや手数料などのご案内です。海外でのご利用覚えのない請求についてお困りの方もこちらをご確認ください。">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="楽天カード">
  <meta property="og:image" content="https://image.card.jp.rakuten-static.com/card_corp/pc/contents/logo_200x200.gif">
  <meta property="fb:page_id" content="104759839604740">
  <link rel="canonical" href="https://www.rakuten-card.co.jp/overseas/guide/payment/">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/header-2.0.0.min.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/footer-2.0.0.min.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/lay2.0/common/common_smart.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/rex-red.min.css">
  <link rel="stylesheet" href="../../css/mobile/localnav/style.css">
  <link rel="stylesheet" href="../../css/mobile/scrolltop/style.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div class="js-local-nav-fixed-item">
    <% include ../../include/mobile/_header %>
  </div>
  <% include ../../include/mobile/_localnav %>
  <main>
    <article class="pt-4">
      <section>
        <h1 class="text-center mb-4">海外での楽天カードの<br>決済について</h1>
        <p class="jumbotron text-center mb-0">
          出発前の確認で安心！
        </p>
        <div class="container-fluid bg-light py-4 mb-0">
          海外でのご利用範囲、海外でカードを使うときに適用されるレートや手数料についてご案内します。
        </div>
        <div class="container-fluid">
          <section class="py-4">
            <h2 class="mb-3 text-center">海外でのご利用について</h2>
            <p>
              楽天カードのブランドマーク（American Express、Mastercard、Visa、JCB ）それぞれの加盟店でご利用いただけます。
            </p>
            <p class="small mb-3">
              ※JCBはアメリカの大手カード会社ディスカバー（Discover Financial Services）社と提携しております。<br>ディスカバーカード取扱店でもJCBカードがご利用いただけます。
            </p>
            <div class="text-center mb-3">
              <img class="mb-1" src="//image.card.jp.rakuten-static.com/card_corp/common/cardface/cardface_n_amex_rp_e_front_200_126.png" srcset="//image.card.jp.rakuten-static.com/card_corp/common/cardface/cardface_n_amex_rp_e_front_400_252.png 2x" width="200" height="126" alt="楽天カード">
              <div class="d-flex justify-content-center mb-4">
                <img class="mr-1" src="//image.card.jp.rakuten-static.com/card_corp/lay2.0/common/svg/brand/img_brand_amex.svg" height="36" width="36" alt="American Express">
                <img class="mr-1" src="//image.card.jp.rakuten-static.com/card_corp/lay2.0/common/svg/brand/img_brand_mc-responsive.svg" height="36" width="44" alt="Mastercard">
                <img class="mr-1" src="//image.card.jp.rakuten-static.com/card_corp/lay2.0/common/svg/brand/img_brand_visa.svg" height="36" width="60" alt="VISA">
                <img src="//image.card.jp.rakuten-static.com/card_corp/lay2.0/common/svg/brand/img_brand_jcb.svg" height="36" width="45" alt="JCB">
              </div>
            </div>
            <div class="text-center mb-4">
              <a href="/card/brand/?l-id=corp_sp_overseas_payment_to_brand_sp" class="btn btn-primary btn-outline">各国際ブランドについて<br>詳しくはこちら</a>
            </div>
            <section class="py-4">
              <h3 class="text-center mb-3">適応されるレートに関して</h3>
              <p>海外でご利用になった場合の換算レートは、現地でご利用になった際のレートではありませんのでご留意ください。</p>
              <p class="small mb-3">※国際カードの為替レート(円)はAmericanExpress/Mastercard/Visa/JCBなどの決済為替レートが適応されます。</p>
              <p class="text-center">
                <img src="./images/parts_rate.png" srcset="./images/parts_rate@2x.png 2x" width="272" height="244" alt="お客様の総額の計算例">
              </p>
            </section>
            <section class="pt-4">
              <h3 class="text-center mb-3">各ブランドの<br>事務手数料に関して</h3>
              <p>各社が適応した交換レートに下記をプラスしたレートで明細に記載しております。</p>
              <table class="table mb-0">
                <tr>
                  <th>ブランド名</th>
                  <th>事務手数料</th>
                </tr>
                <tr>
                  <td>American Express</td>
                  <td>1.63%</td>
                </tr>
                <tr>
                  <td>Mastercard</td>
                  <td>1.63%</td>
                </tr>
                <tr>
                  <td>Visa</td>
                  <td>1.60%</td>
                </tr>
                <tr>
                  <td>JCB</td>
                  <td>2.00%</td>
                </tr>
              </table>
            </section>
          </section>
          <hr class="separater">
          <section class="py-4">
            <h2 class="text-center mb-3">ご利用覚えのない<br>請求に関して</h2>
            <p>海外での楽天カードのご利用について、ご利用覚えのない請求があった方はこちらをご確認ください。</p>
            <div class="text-center">
              <img src="../../images/common/icon/icon_unknown.svg" width="85" height="85" alt="ご利用覚えのない請求に関して">
            </div>
            <section class="pt-4">
              <h3 class="text-center mb-3">二重請求に関して</h3>
              <p class="mb-2">
                現地のカード会社に対して、請求取消の申し立てをいたしますので、下記楽天カードコンタクトセンターにご連絡ください。
              </p>
              <div class="accordion">
                <div class="accordion-header collapsed" data-toggle="accordion" data-target="#accordionTwo">
                  たとえば…
                </div>
                <div id="accordionTwo">
                  <div class="py-4 accordion-body">
                    加盟店でカードご利用情報処理時、端末機の故障や障害などにより、複数回カードご利用情報処理の操作をしたが、署名は一回しかしていない
                  </div>
                </div>
              </div>
            </section>
            <section class="pt-4">
              <h3 class="text-center mb-3">追加請求に関して</h3>
              <p class="mb-2">
                海外のホテルやレンタカーからの請求には、ご自身の控えに記載されているもの以外に、小額の追加請求をされる場合がございます。<br>
                お心当たりがなければ、現地のカード会社に照会をいたしますので下記楽天カードコンタクトセンターにご連絡ください。
              </p>
              <div class="accordion">
                <div class="accordion-header collapsed" data-toggle="accordion" data-target="#accordionOne">
                  たとえば…
                </div>
                <div id="accordionOne">
                  <div class="py-4 accordion-body">
                    <ul>
                      <li>ホテル⇒チェックアウト時に精算が間に合わなかった電話代・ミニバー（客室内のドリンク・スナックなど）の利用代金など</li>
                      <li>
                        レンタカー⇒ガソリン代・延長料金・交通違反の罰金・修理代など
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </section>
            <section class="py-4">
              <h3 class="text-center mb-3">キャンセルしたはずの<br>請求に関して</h3>
              <p>
                キャンセルしたカードでの支払が、後日請求されるケースがあります。<br>
                お店からの返金が確認できない場合には、請求取消申し立てをいたしますので、下記楽天カードコンタクトセンターまでご連絡ください。 
              </p>
              <p class="small mb-2">
                ※申し立ては必ずしも認められるものではございません。<br>
                ※取り消しが完了するまでには時間がかかります。
              </p>
              <div class="accordion">
                <div class="accordion-header collapsed" data-toggle="accordion" data-target="#accordionThree">
                  たとえば…
                </div>
                <div id="accordionThree">
                  <div class="py-4 accordion-body">
                    加盟店側での下記の理由などが考えられます。
                    <ul>
                      <li>
                        キャンセルの手続きが遅延した
                      </li>
                      <li>
                        キャンセルされたカード売上伝票を破棄せずカード会社に提出してしまった
                      </li>
                      <li>
                        取消伝票（Credit Voucher、Credit Slip）を起票しなかった
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </section>
            <div class="text-center mb-2">
              <div class="mb-1">
                <a href="tel:0570666910" class="btn btn-primary btn-outline btn-lg"><span class="rex-icon phone-l"></span>0570-66-6910</a>
              </div>
                <span class="text-primary">有料</span>・営業時間　9:30～17:30
            </div>
            <div class="text-center mb-2">
                上記電話番号がご利用いただけない場合
              <div class="mb-1">
                <a href="tel:0924746287" class="btn btn-primary btn-outline btn-lg"><span class="rex-icon phone-l"></span>092-474-6287</a>
              </div>
              <span class="text-primary">有料</span>・営業時間　9:30～17:30
            </div>
            <ul class="list-unstyled small">
              <li>
                ※申し立てには期限がありますのでご注意ください。
              </li>
              <li>
                ※カード番号の入力が必要となります。クレジットカードをお手元にご準備のうえ、おかけください。
              </li>
              <li>
                ※ご契約者様ご本人よりお問い合わせください。
              </li>
              <li>
                ※携帯電話・PHSからもご利用いただけます。
              </li>
            </ul>
          </section>
          <hr class="separater">
          <section class="py-4">
            <h2 class="text-center mb-3">暗証番号のご確認</h2>
            <p>
                海外でのカード決済では暗証番号を求められる場合があります。<br>
                暗証番号を複数回誤って入力されますとそのカードがご利用いただけなくなってしまいますので出国前にご確認ください。<br>
                海外キャッシングご利用の際に、国や地域によっては5ケタ以上の暗証番号を求められる場合がありますが、その場合でも4ケタの暗証番号を入力してください。
            </p>
            <div class="text-center mb-3">
              <img src="../../images/common/icon/icon_number.svg" width="80" height="80" alt="暗証番号のご確認">
            </div>
            <div class="text-center">
              <a href="/e-navi/sd/members/information/pin-inquiry/index.xhtml" class="btn btn-primary btn-outline">暗証番号の照会はこちら</a>
            </div>
          </section>
        </div>
      </section>
    </article>
  </main>
  <% include ../../include/mobile/_footer %>
  <% include ../../include/mobile/_scrolltop %>
  <script src="//static.card.jp.rakuten-static.com/card_corp/pc/js/common/jquery-3.2.1.min.js"></script>
  <script src="//jp.rakuten-static.com/1/js/grp/prtl/rc-gp-sp.v2.min.js" data-service="rtc" data-priority="bnk,sec_is,sei"></script>
  <script src="../../js/mobile/jquery.easing.min.js"></script>
  <script src="../../js/mobile/header.js"></script>
  <script src="../../js/mobile/main.js"></script>
  <script src="https://static.card.jp.rakuten-static.com/card_corp/smart/js/common/rui-1.2.0.js"></script>
  <script src="https://static.card.jp.rakuten-static.com/card_corp/smart/js/common/common.1.2.0.js"></script>
</body>

</html>