<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1080">
    <title>リボ払い　月々の負担を軽くできる便利なお支払方法｜楽天カード</title>
    <meta name="description" content="楽天カードのリボ払いは、状況に応じて毎月自分で設定できる便利なサービス。24時間、楽天e-NAVIからお申し込み可能。今月のお支払いがピンチ、また、安心してお買い物を楽しみたいあなたへ便利なお支払方法のご案内です。">
    <meta name="keywords" content="リボ払い、支払い変更、返済、一括返済、楽天カード">
    <meta property="og:title" content="リボ払い　月々の負担を軽くできる便利なお支払方法｜楽天カード">
    <meta property="og:description" content="楽天カードのリボ払いは、状況に応じて毎月自分で設定できる便利なサービス。24時間、楽天e-NAVIからお申し込み可能。今月のお支払いがピンチ、また、安心してお買い物を楽しみたいあなたへ便利なお支払方法のご案内です。">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="楽天カード">
    <meta property="og:image" content="https://image.card.jp.rakuten-static.com/corp/pc/contents/logo_200x200.gif">
    <link rel="canonical" href="https://www.rakuten-card.co.jp/revo/">
    <% include ../_common/_stylesheet %>
    <link rel="stylesheet" href="style.css">
  </head>

<body>
  <% include ../_common/_header_low %>
    <main>
      <article class="pt-2">
        <div class="container-fluid">
          <h1 class="text-center">リボ払い</h1>
        </div>
        <p class="jumbotron">
          月々のお支払いがほぼ一定だから、<br>安心してお買い物を楽しめる。
        </p>
        <div class="container-fluid bg-light py-2">
          <p>今月のお支払いがピンチ！という方に。<br>毎月のお支払い金額をほぼ一定にして、月々の負担を軽くできる便利なお支払い方法のご案内。</p>
          <h2 class="text-center">楽天カードのリボ払いは<br><span class="text-primary">ココ</span>が便利！</h2>
          <div class="d-flex justify-content-center">
            <ul>
              <li class="d-flex align-content-start">
                <img src="image/revo_icon01.png" width="20" height="17" alt="">
                <p>「街で」「楽天市場で」…「自動で」「あとから」…状況に応じて選択できる</p>
              </li>
              <li class="d-flex align-content-start">
                <img src="image/revo_icon01.png" width="20" height="17" alt="">
                <p>リボお支払い金額は、5,000円以上から1,000円単位で毎月自分で設定できる</p>
              </li>
              <li class="d-flex align-content-start">
                <img src="image/revo_icon01.png" width="20" height="17" alt="">
                <p>一括払いや一部入金も24時間、楽天e-NAVIから申し込みできる</p>
              </li>
            </ul>
          </div>
        </div>
        <section class="container-fluid py-2">
          <div class="text-center">
            <img src="../../image/icon_beginner.svg" width="44" height="50" alt="楽天カードの基本">
            <h2>はじめての方へ</h2>
          </div>
          <p>リボ払いって何？どうやって使うの？そんな疑問を解消して便利にお使いいただけるガイドです。</p>
          <ul>
            <li>リボ払いとは</li>
            <li>お店でのご利用方法</li>
            <li>リボ払いの賢い使い方</li>
          </ul>
          <div class="btn-border text-center pt-2">
            <a type="button" class="btn btn-default btn-outline" href="#">詳しくはこちら</a>
          </div>
          <hr class="separator">
          <div class="text-center">
            <img src="../../image/icon_graph.svg" width="48" height="48" alt="ショッピングリボ返済シミュレーション">
            <h2>ショッピングリボ<br>返済シミュレーション</h2>
          </div>
          <p>シミュレーターでショッピングリボ払いの返済シミュレーションが行えます。</p>
          <div class="btn-border text-center pt-1 pb-2">
            <a type="button" class="btn btn-default btn-outline" href="#">詳しくはこちら</a>
          </div>
        </section>
        <div class="container-fluid bg-light">
          <section class="py-2">
           <h2 class="text-center mb-3">リボ払い関連サービス</h2>
           <p>お客様のご都合に合わせて、お支払い方法の変更や毎月のお支払い額の変更が行えます。</p>
           <section class="card mb-2">
             <div class="card-img-top">
               <img src="image/revo_icon02.png" width="50" height="50" alt="リボ払い関連サービス">
             </div>
             <div class="card-body">
               <h3 class="card-title">あとからリボ払い</h3>
               <p class="card-text">1回払い、分割2回払いのご利用分をあとからリボ払いに変更。ご自宅のパソコンやスマートフォンから簡単にお手続きできます。</p>
             </div>
             <div class="card-detail-link">
               <a href="" class="text-link">詳しくはこちら</a>
             </div>
           </section>
           <section class="card mb-2">
             <div class="card-img-top">
               <img src="image/revo_icon03.png" width="50" height="50" alt="あとからリボ払い">
             </div>
             <div class="card-body">
               <h3 class="card-title">自動でリボ払い</h3>
               <p class="card-text">1回払いご利用分が自動的にリボ払いに変更されるので、お店で「リボ払い」と伝える必要がありません。</p>
             </div>
             <div class="card-detail-link">
               <a href="" class="text-link">詳しくはこちら</a>
             </div>
           </section>
           <section class="card mb-2">
              <div class="card-img-top">
                <img src="image/revo_icon04.png" width="50.5" height="43.5" alt="リボお支払いコース">
              </div>
              <div class="card-body">
                <h3 class="card-title">リボお支払いコース</h3>
                <p class="card-text">月々5,000円～選べるお支払いコース。お客様のご都合にあわせたお支払い金額へと変更いただけます。</p>
              </div>
              <div class="card-detail-link">
                <a href="" class="text-link">変更する</a>
              </div>
            </section>
            <section class="card">
              <div class="card-img-top">
                <img src="image/revo_icon05.png" width="49" height="45" alt="リボ残高のおまとめ払い">
              </div>
              <div class="card-body">
                <h3 class="card-title">リボ残高のおまとめ払い</h3>
                <p class="card-text">余裕ができたときには、まとめてお支払いいただくことも可能です。</p>
              </div>
              <div class="card-detail-link">
                <a href="" class="text-link">変更する</a>
              </div>
            </section>
          </section>
        </div>
      </article>
    </main>

    <% include ../_common/_footer %>
    <script src="//static.card.jp.rakuten-static.com/corp/pc/js/common/jquery-3.2.1.min.js"></script>
    <script src="../js/global-nav.js"></script>
</body>

</html>