.content-button-section {
  .working-example {
    height: 262px;
    display: flex;
    > div {
      margin: auto;
    }
  }
}
.container-back-to-top-buttons {
  .working-example {
    height: 289px;
    display: flex;
    > div {
      margin: auto;
    }
  }
}
