<h2 class="mb-4 text-center">新着情報</h2>
<table class="table data-table">
  <tbody>
    <tr>
      <th class="fixed">2018/11/29</th>
      <td class="fixed">
        <div class="label label--gold">現地レポート</div>
      </td>
      <td><a href="/overseas/hawaii/article/report-peacecafe/" class="data-table__link">訪問レポートの記事を追加いたしました。</a></td>
    </tr>
    <tr>
      <th class="fixed">2018/11/09</th>
      <td class="fixed">
        <div class="label label--gold">特集記事</div>
      </td>
      <td><a href="/overseas/hawaii/article/special-cookie/" class="data-table__link">特集記事を追加いたしました。</a></td>
    </tr>
    <tr>
      <th class="fixed">2018/11/07</th>
      <td class="fixed">
        <div class="label label--gold">特典クーポン</div>
      </td>
      <td><a href="/overseas/hawaii/coupon/#up_coupon_102" class="data-table__link">キャッチUSAの店舗情報が変更となりました。</a></td>
    </tr>
  </tbody>
</table>