<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=1080">
  <title>ポイントを使う　ネットも街も　あなたにあった使い方を｜楽天カード</title>
  <meta name="description" content="楽天スーパーポイントは楽天以外でも使える。楽天ポイントカード機能や楽天ペイを使えば支払いにポイントが利用できる。Edyやマイルに交換することも可能。ネットでも街でもあなたのライフスタイルに合った使い方を。">
  <meta name="keywords" content="ポイント、ポイント加盟店、お得、楽天ポイントカード機能、楽天カード ">
  <meta property="og:title" content="ポイントを使う　ネットも街も　あなたにあった使い方を｜楽天カード">
  <meta property="og:description" content="楽天スーパーポイントは楽天以外でも使える。楽天ポイントカード機能や楽天ペイを使えば支払いにポイントが利用できる。Edyやマイルに交換することも可能。ネットでも街でもあなたのライフスタイルに合った使い方を。">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="楽天カード">
  <meta property="og:image" content="https://image.card.jp.rakuten-static.com/corp/pc/contents/logo_200x200.gif">
  <link rel="canonical" href="https://www.rakuten-card.co.jp/point/pointuse/">
  <% include ../_common/_stylesheet %>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <% include ../_common/_header_low %>
    <main>
      <article class="pt-2">
        <div class="container-fluid">
          <h1 class="text-center">ポイントを使う</h1>
        </div>
        <p class="jumbotron text-center">
          貯まったポイントは<br>1ポイント＝1円で使える！
        </p>
        <div class="container-fluid bg-light">
          <section class="py-2">
           <h2 class="text-center">街でポイントを使う</h2>
           <section class="card mb-2">
             <div class="card-body">
               <h3 class="card-title">楽天ポイントカード加盟店</h3>
               <p class="card-text">現金の代わりに楽天スーパーポイントでのお支払いができます。</p>
             </div>
            <div class="card-img-top">
              <img src="../../image/logo_rpoint.svg" width="70" height="70" alt="楽天POINT">
              <img class="img-responsive mt-2" src="image/pointuse_icon01.png" alt="">
            </div>
            <div class="card-detail-link">
              <a href="" class="text-link">使えるお店の一覧を見る</a>
            </div>
           </section>
           <section class="card mb-2">
              <div class="card-body">
                <h3 class="card-title">楽天ペイ加盟店</h3>
                <p class="card-text">楽天スーパーポイントでのお支払いができます。このマークのお店で使えます。</p>
              </div>
             <div class="card-img-top">
               <img src="../../image/logo_rpay.svg" width="70" height="70" alt="楽天Pay">
               <img class="img-responsive mt-2" src="image/pointuse_icon02.jpg" alt="">
             </div>
             <div class="card-detail-link">
               <a href="" class="text-link">詳しくはこちら</a>
             </div>
           </section>
           <section class="card">
              <div class="card-body">
                <h3 class="card-title">楽天Edyに交換して使う</h3>
                <p class="card-text">貯まったポイントを楽天Edyに交換して、お店でお支払いすることができます。</p>
              </div>
             <div class="card-img-top d-flex align-items-center justify-content-center mb-2">
               <img class="img-responsive mr-2" src="../../image/logo_rpoint.svg" width="70" height="70" alt="楽天POINT">
               <img class="img-responsive" src="../../image/logo_edy.svg" width="70" height="70" alt="楽天POINT">
             </div>
             <p class="text-center">1ポイント→楽天Edy1円分<br>楽天Edy1円分→1ポイント</p>
             <div class="card-detail-link">
               <a href="" class="text-link">詳しくはこちら</a>
             </div>
            </section>
          </section>
          <section class="py-2">
            <h2 class="text-center">ネットでポイントを使う</h2>
            <section class="card mb-2">
              <div class="card-body">
                <h3 class="card-title">楽天グループのサービス</h3>
                <p class="card-text">ポイントは貯まりやすいから、「ポイント贅沢」もできちゃう！生活を楽しく便利にする楽天の多彩なサービスで、ショッピングや旅行、ライフサービス、エンタメサービスなど、様々なシーンで使えます。</p>
              </div>
              <div class="card-img-top">
                <img class="img-responsive mt-2" src="image/pointuse_icon04.jpg" alt="">
              </div>
              <div class="card-detail-link">
                <a href="" class="text-link">詳しくはこちら</a>
              </div>
            </section>
            
          </section>
          
      </article>
    </main>

  <% include ../_common/_footer %>
    <script src="//static.card.jp.rakuten-static.com/corp/pc/js/common/jquery-3.2.1.min.js"></script>
    <script src="../js/global-nav.js"></script>
</body>

</html>