<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>キャッシング　はじめてご利用の方へご利用方法のご紹介｜楽天カード</title>
  <meta name="description" content="楽天カードのキャッシングは、国内・海外のATMでいつでも利用可能。24時間インターネットでお申込みいただける便利なサービス。急な出費でも大丈夫。お近くのコンビニ、銀行、郵便局など簡単にお手続きいただけます。">
  <meta name="keywords" content="キャッシング,ネットキャッシング,海外キャッシング,返済,金利">
  <meta property="og:title" content="キャッシング　はじめてご利用の方へご利用方法のご紹介｜楽天カード">
  <meta property="og:description" content="楽天カードのキャッシングは、国内・海外のATMでいつでも利用可能。24時間インターネットでお申込みいただける便利なサービス。急な出費でも大丈夫。お近くのコンビニ、銀行、郵便局など簡単にお手続きいただけます。">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="楽天カード">
  <meta property="og:image" content="https://image.card.jp.rakuten-static.com/corp/pc/contents/logo_200x200.gif">
  <link rel="canonical" href="https://www.rakuten-card.co.jp/service/">
  <% include ../_common/_stylesheet %>
    <link rel="stylesheet" href="style.css">
</head>

<body>
  <% include ../_common/_header_low %>
    <main>
      <article class="pt-4">
        <section>
          <h1 class="text-center mb-4">キャッシング</h1>
          <p class="jumbotron mb-0">
            「いざ」というときの強い味方。
            <br>楽天カードのキャッシングサービス。
          </p>
          <div class="container-fluid bg-light py-2">
            国内・海外のCD・ATMでいつでもご利用できるから、急な出費にも安心。インターネットで24時間いつでもお申し込みが可能です。
            <section class="container-fluid py-4">
              <h2 class="text-center mb-4">楽天カードのキャッシング
                <br>サービスは
                <span class="text-primary">ココ</span>が便利！</h2>
              <div class="text-center">
                <div class="d-inline-block text-left">
                  <p class=" card-title-check mb-0">
                    最短数分！パソコン・スマートフォンから簡単お手続き
                  </p>
                  <p class="card-title-check mb-0">
                    急な出費でも安心！お近くのコンビニ、銀行、郵便局のCD・ATMで使える
                  </p>
                  <p class="card-title-check mb-0">
                    海外でも安心！両替いらずで現地通貨が手に入る
                  </p>
                </div>
              </div>
          </div>

          </section>
          <section class="container-fluid py-4">
            <div class="text-center mb-3">
              <h2>キャッシング枠のご設定
                <br>はお済みですか？</h2>
            </div>
            <p>お手持ちの楽天カードのキャッシング枠は、楽天カード会員様専用オンラインサービス「楽天e-NAVI」でご確認ください。
            </p>
            <div class="text-center py-1">
              <a href="#" type="button" class="btn btn-default">キャッシング枠のご確認はこちら</a>
            </div>
          </section>

          <div class="container-fluid bg-light py-1"></div>
          <section class="container-fluid pt-4 pm-2">
            <div class="text-center mb-3">
              <img class="mb-2" src="../../image/icon_beginner.svg" width="44" height="50" alt="はじめての方へ">
              <h2>はじめての方へ</h2>
            </div>
            <p>はじめてキャッシングをする方、キャッシングを検討中の方へ。キャッシングのご利用方法やご返済方法 をご案内しております。</p>
            <ul>
              <li>キャッシングとは</li>
              <li>ご利用方法</li>
              <li>ご返済</li>
              <li>お利息</li>
              <li>お手続き</li>
              <li>キャッシング体験談</li>
            </ul>
            <div class="text-center py-2">
              <a href="#" type="button" class="btn btn-default btn-outline">詳しくはこちら</a>
            </div>
          </section>
          <hr class="separator">

          <section class="container-fluid py-2">
            <div class="text-center mb-3">
              <img class="mb-2" src="./image/ico_user.svg" width="44" height="50" alt="キャッシングのご利用について">
              <h2>キャッシングの
                <br>ご利用について</h2>
            </div>
            <p>楽天カード会員様専用オンラインサービス「楽天e-NAVI」より、今すぐお申し込みいただけます。</p>
            <div class="text-left mb-2">
              <p class="mb-2">
                <a href="">
                  今すぐご利用
                  <span class="rex-icon chevron-right"> </span>
                </a>
              </p>
              <p class="mb-2">
                <a href="">
                  ご利用可能額の変更お手続き
                  <span class="rex-icon chevron-right"> </span>
                </a>
              </p>
              <p class="mb-2">
                <a href="">
                  審査状況の照会
                  <span class="rex-icon chevron-right"> </span>
                </a>
              </p>
              <p class="mb-2">
                <a href="">
                  返済方法の確認
                  <span class="rex-icon chevron-right"> </span>
                </a>
              </p>
              <p class="mb-2">
                <a href="">
                  毎月の返済額の照会・変更お手続き
                  <span class="rex-icon chevron-right"> </span>
                </a>
              </p>
              <p class="mb-2">
                <a href="">
                  キャッシングあとリボ
                  <span class="rex-icon chevron-right"> </span>
                </a>
              </p>
              <p class="mb-2">
                <a href="">
                  キャッシング返済シミュレーション
                  <span class="rex-icon chevron-right"> </span>
                </a>
              </p>
              <p class="mb-2">
                <a href="">
                  CD・ATMを探す
                  <span class="rex-icon chevron-right"> </span>
                </a>
              </p>
            </div>
          </section>

          <div class="container-fluid bg-light pt-4">
            <section class="pb-4">
              <h2 class="text-center mb-3">ネットでも、
                <br> 国内・海外のATMからも</h2>
              <p>
                ご利用可能枠の範囲内で、いつでも気軽にご利用いただけます。
              </p>
              <section class="card mb-2">
                <div class="card-img-top">
                  <img src="./image/ico_netcashing.svg" width="65" alt="ネットキャッシング">
                </div>
                <div class="card-body">
                  <h3 class="card-title">ネットキャッシング</h3>
                  <p class="card-text">パソコンやスマートフォンから24時間いつでもお申し込みが可能。
                    <br>急な出費に便利なサービスです。</p>
                </div>
                <div class="card-detail-link">
                  <a href="" class="text-link">詳しくはこちら</a>
                </div>
              </section>
              <section class="card mb-2">
                <div class="card-img-top">
                  <img src="../../image/icon_world.svg" width="68" alt="海外キャッシング">
                </div>
                <div class="card-body">
                  <h3 class="card-title">海外キャッシング</h3>
                  <p class="card-text">深夜に到着する場合や、現地でたくさん現金を持ち歩くのは不安…という方に安心。</p>
                </div>
                <div class="card-detail-link">
                  <a href="" class="text-link">詳しくはこちら</a>
                </div>
              </section>
              <section class="card mb-2">
                <div class="card-img-top">
                  <img src="../../image/icon_conveniencestore.svg" width="55" height="51" alt="CD・ATM">
                </div>
                <div class="card-body">
                  <h3 class="card-title">CD・ATM</h3>
                  <p class="card-text">全国のコンビニや銀行のCD・ATMで簡単に現金をお借り入れできます。</p>
                </div>
                <div class="card-detail-link">
                  <a href="" class="text-link">詳しくはこちら</a>
                </div>
              </section>
              <section class="card mb-2">
                <div class="card-img-top">
                  <img src="./image/ico_simulation.svg" width="65" height="51" alt="キャッシング返済シミュレーション">
                </div>
                <div class="card-body">
                  <h3 class="card-title">キャッシング
                    <br>返済シミュレーション</h3>
                  <p class="card-text">シミュレーターで、キャッシングご利用時の月々のお支払い額の試算ができます。</p>
                </div>
                <div class="card-detail-link">
                  <a href="" class="text-link">詳しくはこちら</a>
                </div>
              </section>
            </section>
          </div>
          <section class="py-4">
            <h2 class="text-center mb-3">SNS</h2>
            <figure class="d-flex justify-content-center">
              <div class="mr-3">
                <a href="">
                  <img src="../../image/icon_twitter.svg" width="50" height="50" alt="Twitter">
                </a>
              </div>
              <div class="mr-3">
                <a href="">
                  <img src="../../image/icon_facebook.svg" width="50" height="50" alt="Facebook">
                </a>
              </div>
              <div>
                <a href="">
                  <img src="../../image/icon_line.svg" width="50" height="50" alt="Facebook">
                </a>
              </div>
            </figure>
          </section>
        </section>
      </article>
    </main>

    <% include ../_common/_footer %>
      <script src="//static.card.jp.rakuten-static.com/corp/pc/js/common/jquery-3.2.1.min.js"></script>
      <script src="../js/header.js"></script>
</body>

</html>