<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1080">
  <title>楽天カード ヴィッセル神戸デザイン｜楽天カード</title>
  <meta name="description" content="楽天カードに新デザインが登場！ヴィッセル神戸デザインとイニエスタデザインの2種類から選べます。年会費永年無料、ポイント還元率1％～最大3％！ネットでも街でもポイントが貯まる・使えるクレジットカードです。">
  <meta name="keywords" content="ヴィッセル神戸、イニエスタ、VISSEL、クレジットカード、楽天カード">
  <meta property="og:title" content="楽天カード ヴィッセル神戸デザイン｜楽天カード">
  <meta property="og:description" content="楽天カードに新デザインが登場！ヴィッセル神戸デザインとイニエスタデザインの2種類から選べます。年会費永年無料、ポイント還元率1％～最大3％！ネットでも街でもポイントが貯まる・使えるクレジットカードです。">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="楽天カード">
  <meta property="og:image" content="./images/ogimage.png">
  <meta property="fb:page_id" content="104759839604740">
  <link rel="canonical" href="https://www.rakuten-card.co.jp/card/vissel-design-card/">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/rex-red.min.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/header-2.0.0.min.css">
  <link rel="stylesheet" href="./css/footer-2.0.0.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/share.css">
  <link rel="stylesheet" href="./css/style.css">
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "https://www.rakuten-card.co.jp/",
          "name": "トップ"
        }
      }, {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "https://www.rakuten-card.co.jp/card/",
          "name": "カードをつくる"
        }
      }, {
        "@type": "ListItem",
        "position": 3,
        "item": {
          "@id": "https://www.rakuten-card.co.jp/card/vissel-design-card/",
          "name": "楽天カード ヴィッセル神戸デザイン"
        }
      }]
    }
  </script>
</head>

<body>
  <% include ./_include/_header %>
  <% include ./_include/_nav %>
  <ul class="breadcrumbs">
    <li><a href="/">トップ</a></li>
    <li><a href="/card/">カードをつくる</a></li>
    <li>楽天カード ヴィッセル神戸デザイン</li>
  </ul>
  <div class="container">
    <div class="sns-area mt-sm-0 mt-2">
      <% include ./_include/_share %>
    </div>
  </div>
  <main>
    <article>
      <section>
        <div id="hero">
          <div class="hero__heading">
            <h1 class="container mb-0">
              楽天カードヴィッセル神戸デザイン<br>
              <small>リリース記念！条件達成でヴィッセル神戸オフィシャルグッズプレゼント</small>
            </h1>
          </div>
          <div class="container">
            <div class="row mb-6">
              <div class="col-xs-6 text-right">
                <div class="d-inline-block text-center">
                  <figure>
                    <div class="vissel-cardface-shadow mb-3">
                      <img src="./images/cardface_vissel-em_master_rp_e_front_336_213.png" srcset="./images/cardface_vissel-em_master_rp_e_front_672_426.png 2x" width="336" height="213" alt="ヴィッセル神戸デザイン">
                    </div>
                    <figcaption class="d-inline-block">
                      <div class="vissel-card-label">
                        <div class="vissel-card-label__text">ヴィッセル神戸デザイン</div>
                      </div>
                    </figcaption>
                  </figure>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="d-inline-block text-center">
                  <figure>
                    <div class="vissel-cardface-shadow mb-3">
                      <img src="./images/cardface_vissel-pl_master_rp_e_front_336_213.png" srcset="./images/cardface_vissel-pl_master_rp_e_front_672_426.png 2x" width="336" height="213" alt="イニエスタデザイン">
                    </div>
                    <figcaption class="d-inline-block">
                      <div class="vissel-card-label">
                        <div class="vissel-card-label__text">イニエスタデザイン</div>
                      </div>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <figure class="hero__brand">
              <img class="mr-2" src="//image.card.jp.rakuten-static.com/card_corp/common/logo/logo_mastercard_vertical_isolation.svg" width="60" height="49" alt="Mastercard">
              <figcaption>Mastercard</figcaption>
            </figure>
            <div>
              <div class="text-center">
                <div class="hero__button">
                  <a href="/card/form/rakuten-card/?l-id=corp_rc_rakuten_card_to_form_vissel_pc" class="vissel-btn"><span class="vissel-btn-text">カードを申し込む<br><small>(年会費永年無料)</small></span></a>
                </div>
                <a class="hero__button__detail small" href="//r10.to/hOgFfP?l-id=corp_rc_rakuten_card_choice_detail_vissel_pc">※ 楽天カードをすでにお持ちで、新たにヴィッセル神戸デザインをご希望の方はこちらをご確認ください<span class="rex-icon chevron-right small"></span></a>
              </div>
            </div>
          </div>
        </div>
        <section id="campaign" class="vissel-section">
          <div class="vissel-heading"></div>
          <div class="container">
            <h2>
              新規入会&amp;カード利用特典
            </h2>
            <div class="vissel-panel">
              <div class="campaign">
                <div class="campaign__items">
                  <section class="campaign__item">
                    <h3 class="campaign__title">[特典1] 新規入会特典</h3>
                    <div class="campaign__content__insentives"><span class="large">2,000</span>ポイントGET</div>
                    <p class="mb-0 small">「楽天e-NAVI」で受け取り申請後5営業日以内に進呈<br><a href="/service/2000point/?l-id=corp_rc_rakuten_card_campaign_1_vissel_pc">お受け取り方法はこちらをご覧ください<span class="rex-icon chevron-right small"></span></a></p>
                  </section>
                  <span class="rex-icon plus"></span>
                  <section class="campaign__item">
                    <h3 class="campaign__title">[特典2] カード利用特典</h3>
                    <div class="campaign__content__insentives"><span class="large">3,000</span>ポイントGET</div>
                    <p class="mb-0 small">※期間限定ポイントとして進呈<br>お申し込み日の翌月末までにカードショッピングを1回以上ご利用が必要です。<br><a href="//r10.to/hrJfAM?l-id=corp_rc_rakuten_card_campaign_2_vissel_pc">進呈タイミングについてはこちらをご覧ください<span class="rex-icon chevron-right small"></span></a></p>
                  </section>
                </div>
                <div class="campaign__total">
                  <p class="campaign__total__insentives"><span class="text-primary">[合計]</span><span class="large">5,000</span>ポイントGET</p>
                  <p class="small">進呈するポイント(期間限定ポイント含む)は条件がございます。<a href="/campaign/rakuten_card/?l-id=corp_rc_rakuten_card_campaign_summary_vissel_pc">特典進呈条件の詳細を必ずご確認ください<span class="rex-icon chevron-right small"></span></a></p>
                </div>
                <div class="campaign__addition">さらに今なら</div>
                <section>
                  <h3 class="campaign__title">
                    [特典3] 楽天カードのお申し込みでヴィッセル神戸オフィシャルマフラータオルを、抽選で200名様にプレゼント
                  </h3>
                  <table class="campaign__term mb-1">
                    <tr>
                      <th>キャンペーン期間</th>
                      <td>2018年11月30日(金)10:00～2018年12月10日(月)9:59</td>
                    </tr>
                  </table>
                  <p class="small">※キャンペーン期間内に楽天カード(ヴィッセル神戸デザイン)、または楽天カード(イニエスタデザイン)をお申し込みされた方かつ、2019年1月31日(木)までに発行された方が対象となります。</p>
                  <figure class="mb-1">
                    <figcaption class="campaign__merchandise-label mb-2"><span class="campaign__merchandise-label--left"><span class="campaign__merchandise-label__text">マフラータオル</span></span><span class="campaign__merchandise-label--right"><span class="campaign__merchandise-label__text">200名様</span></span></figcaption>
                    <div class="text-center">
                      <img src="./images/campaign_scarf.svg" width="520" height="96" alt="マフラータオル　200名様">
                    </div>
                  </figure>
                  <p class="small">※画像はイメージです。実際の景品とは異なる場合がございます。</p>
                  <a href="#requirements" class="small">楽天カードヴィッセル神戸デザインリリース記念特典進呈条件を必ずご確認ください<span class="rex-icon arrow-down-l small"></span></a>
                </section>
              </div>
            </div>
          </div>
        </section>
        <section id="special-feature" class="vissel-section">
          <div class="vissel-heading"></div>
          <div class="container">
            <h2>ヴィッセル神戸特集！</h2>
            <div class="vissel-panel">
              <section class="special-feature__anniversary-movie mb-4">
                <div class="text-center mb-3">
                  <h3 class="special-feature__anniversary-movie__title mb-0">カード発行記念動画公開中！</h3>
                </div>
                <div class="video-wrap">
                  <div class="video-content"><video data-video-id="5971503104001" data-account="5068808272001" data-player="ryorXS41g" data-embed="default" data-application-id class="video-js" controls style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></video>
                    <script src="//players.brightcove.net/5068808272001/ryorXS41g_default/index.min.js"></script>
                  </div>
                </div>
              </section>
              <div class="row d-flex mb-4">
                <section class="special-feature__tv col-xs-6">
                  <div class="text-center mb-1">
                    <h3 class="special-feature__tv__title"><span class="px-1">イニエスタTV</span></h3>
                    <p class="mb-0">イニエスタ選手の魅力に迫る！</p>
                  </div>
                  <div class="special-feature__tv__content mb-1">
                    <figure class="text-center">
                      <img src="./images/rakuten-viki.jpg" srcset="./images/rakuten-viki@2x.jpg 2x" width="412" height="241" alt="イニエスタTV">
                    </figure>
                    <p class="special-feature__tv__text">
                      ヴィッセル神戸に加入したイニエスタ選手のオリジナル映像コンテンツ盛りだくさんの「イニエスタTV」リリース！サッカー技術の指導やスペシャルインタビュー、プライベート映像、他にも自伝やオリジナル記事など、イニエスタ選手の新たな魅力を発見できるエピソードを順次配信予定！
                    </p>
                  </div>
                  <p class="text-right mb-0"><a href="https://www.viki.com/tv/36303c-iniesta-tv?utm_source=rakuten&utm_medium=ra-card&utm_campaign=iniesta_190001000012">楽天VIKIへ<span class="rex-icon chevron-right"></span></a></p>
                </section>
                <section class="special-feature__tv col-xs-6">
                  <div class="text-center mb-1">
                    <h3 class="special-feature__tv__title"><span class="px-1">ヴィッセル神戸公式サイト</span></h3>
                    <p class="mb-0">ヴィッセル神戸をもっと知る！</p>
                  </div>
                  <div class="special-feature__tv__content mb-1">
                    <figure class="text-center">
                      <img src="./images/official-site.jpg" srcset="./images/official-site@2x.jpg 2x" width="412" height="241" alt="ヴィッセル神戸公式サイト">
                    </figure>
                    <p class="special-feature__tv__text">
                      ヴィッセル神戸では、ヴィッセルに関わるすべての人に幸せを与えられるクラブを「サッカーを通じて地域社会に貢献すること」「地域に密着したサッカーの技術向上」「世界に誇れるスポーツクラブの創造」という三点を軸に目指しています。<br>
                      また、上記のクラブ理念に加え、ヴィッセルだけではなく、神戸の街・人全てが立ち止まることなく、永遠に前進し続けていきたいという思いを表した「Kobe Forever Forward」の精神も持ち続け、これからも神戸の街と共に成長していきます。
                    </p>
                  </div>
                  <p class="text-right mb-0"><a href="https://www.vissel-kobe.co.jp/club/">ヴィッセル神戸オフィシャルサイトへ<span class="rex-icon chevron-right"></span></a></p>
                </section>
              </div>
              <div class="text-center">
                <a href="/card/form/rakuten-card/?l-id=corp_rc_rakuten_card_middle_to_form_vissel_pc" class="vissel-btn"><span class="vissel-btn-text">カードを申し込む<br><small>(年会費永年無料)</small></span></a>
              </div>
            </div>
          </div>
        </section>
        <section id="basic-information" class="vissel-section">
          <div class="vissel-heading"></div>
          <div class="container">
            <h2>年会費永年無料<br>楽天カード(ヴィッセル神戸デザイン)の基本情報</h2>
            <div class="vissel-panel">
              <div class="basic-information__basic-data">
                <dl>
                  <dt>年会費</dt>
                  <dd>永年無料</dd>
                </dl>
                <dl>
                  <dt>ブランド</dt>
                  <dd><img src="//image.card.jp.rakuten-static.com/card_corp/common/logo/logo_mastercard_vertical_isolation.svg" width="65" height="54" alt="Mastercard"></dd>
                </dl>
                <dl>
                  <dt>ポイント還元率</dt>
                  <dd class="p-1">
                    <div>
                      <div class="large mb-1">1%</div>
                      <div class="small">100円につき<br>1円分</div>
                    </div>
                  </dd>
                </dl>
                <dl>
                  <dt>保険</dt>
                  <dd>海外旅行<br>傷害保険</dd>
                </dl>
                <dl>
                  <dt>利用可能額</dt>
                  <dd>最大100万円</dd>
                </dl>
              </div>
              <div class="basic-information__option-data row">
                <dl class="col-xs-6">
                  <dt class="text-center">追加可能カード</dt>
                  <dd class="row">
                    <dl class="col-xs-6">
                      <dt class="text-center">
                        <img class="mb-1" src="//image.card.jp.rakuten-static.com/card_corp/common/icon/card-icon/icon_etc.svg" width="80" height="80" alt="ETCカード">
                        <span class="d-block">ETCカード</span>
                      </dt>
                      <dd>ダイヤモンド・プラチナ会員様、プレミアムカード保有者様は年会費が無料。それ以外の会員様は年会費540円(税込み)となります。</dd>
                    </dl>
                    <dl class="col-xs-6">
                      <dt class="text-center">
                        <img class="mb-1" src="//image.card.jp.rakuten-static.com/card_corp/common/icon/card-icon/icon_family.svg" width="80" height="80" alt="家族カード">
                        <span class="d-block">家族カード</span>
                      </dt>
                      <dd>ご契約者様のご家族様が個々に家族カードを保有できるサービスです。カードのご利用分はご契約者様の口座へまとめてご請求されます。</dd>
                    </dl>
                  </dd>
                </dl>
                <dl class="col-xs-6">
                  <dt class="text-center">追加可能カード</dt>
                  <dd class="row">
                    <dl class="col-xs-6">
                      <dt class="text-center">
                        <img class="mb-1" src="//image.card.jp.rakuten-static.com/card_corp/common/logo/logo_edy.svg" width="80" height="80" alt="楽天Edy">
                        <span class="d-block">楽天Edy</span>
                      </dt>
                      <dd>プリペイド型電子マネーが楽天カードと1枚になってお支払い方法の幅が広がります。</dd>
                    </dl>
                    <dl class="col-xs-6">
                      <dt class="text-center">
                        <img class="mb-1" src="//image.card.jp.rakuten-static.com/card_corp/common/logo/logo_rpoint.svg" width="80" height="80" alt="楽天ポイントカード">
                        <span class="d-block">楽天ポイントカード</span>
                      </dt>
                      <dd>対象のお店で提示するだけでポイントがたまります。</dd>
                    </dl>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </section>
        <section id="point-1" class="vissel-section">
          <div class="vissel-heading"></div>
          <div class="container">
            <h2>ポイントがお得に貯まる！使える！</h2>
            <div class="vissel-panel">
              <div>
                <p class="text-center large">いつでもどこでも、普段のお買い物で、<strong class="text-primary">100円につき1ポイント</strong>が貯まります。<br>さらにポイントがアップするサービスが充実。</p>
                <figure class="text-center">
                  <img src="./images/points.png" srcset="./images/points@2x.png 2x" width="840" height="197" alt="ポイントが貯まる例">
                </figure>
                <ul class="list-unstyled small">
                  <li>※1 楽天トラベルご利用ポイント1倍(100円で1ポイント)、楽天カードご利用通常ポイント+1倍</li>
                  <li>※2 楽天市場ご利用ポイント1倍(100円で1ポイント)、楽天カードご利用通常ポイント+1倍、楽天カードご利用特典ポイント+最大1倍<br>(楽天市場で開催中の「スーパーポイントアッププログラム」の特典となります。なお楽天PointClubの会員ランクに応じて月間獲得ポイント上限があります。<a href="https://event.rakuten.co.jp/campaign/point-up/everyday/point/#rule">詳細はこちらをご覧ください<span class="rex-icon chevron-right small"></span></a>)</li>
                  <li>※3 楽天カードご利用通常ポイント1倍(100円で1ポイント)、Rakoo(ラクー)ご利用のポイント+1倍</li>
                  <li>※4 楽天カードご利用通常ポイント1倍(100円で1ポイント)、楽天カードポイント加盟店ご利用ポイント+1倍～+2倍</li>
                  <li>※5 進呈するポイント(期間限定ポイント含む)には上限や条件があります。<a href="/campaign/rakuten_card/#rule_detail">詳細はこちらをご覧ください<span class="rex-icon chevron-right small"></span></a></li>
                </ul>
              </div>
              <hr>
              <div class="mb-2">
                <p class="text-center large">貯まったポイントは、<br><strong class="text-primary">1ポイント＝1円</strong>として幅広く使えます。</p>
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <div class="mb-1">
                      <a href="https://point.rakuten.co.jp/use/" class="large">楽天のサービスで<span class="rex-icon chevron-right large"></span></a>
                    </div>
                    <p class="small">豊富なジャンルの楽天のサービスで<br>貯まったポイントを利用できます</p>
                    <figure class="text-center">
                      <img src="./images/rakuten-service.png" srcset="./images/rakuten-service@2x.png" width="266" height="125" alt="楽天グループサービス">
                    </figure>
                  </div>
                  <div class="col-xs-4 text-center">
                    <div class="mb-1">
                      <a href="https://pointcard.rakuten.co.jp/partner/" class="large">街のお店で<span class="rex-icon chevron-right large"></span></a>
                    </div>
                    <p class="small">楽天ポイントカードがあれば<br>街のお買い物でもポイントが使えます</p>
                    <figure class="text-center">
                      <img src="./images/member-store.png" srcset="./images/member-store@2x.png" width="266" height="125" alt="楽天カード加盟店">
                    </figure>
                  </div>
                  <div class="col-xs-4 text-center">
                    <div class="mb-1">
                      <a href="https://point.rakuten.co.jp/exchange/" class="large">交換して<span class="rex-icon chevron-right large"></span></a>
                    </div>
                    <p class="small">楽天EdyやANAマイレージに交換可能<br>さまざまなシーンで便利に使えます</p>
                    <figure class="text-center">
                      <img src="./images/point-exchange.png" srcset="./images/point-exchange@2x.png" width="267" height="126" alt="楽天EdyやANAマイレージに交換可能">
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="point-2" class="vissel-section">
          <div class="vissel-heading"></div>
          <div class="container">
            <h2>安心・安全のセキュリティ対策</h2>
            <div class="vissel-panel">
              <div class="point-2__security-list">
                <div class="row">
                  <dl class="col-xs-4">
                    <dt class="text-center">
                      <figure>
                        <img class="mb-1" src="//image.card.jp.rakuten-static.com/card_corp/common/icon/card-icon/icon_mail-notification.svg" width="80" height="80" alt="カード利用お知らせメール">
                        <figcaption class="vissel-small-title">カード利用<br>お知らせメール</figcaption>
                      </figure>
                    </dt>
                    <dd>メールでご利用状況をいち早くご案内。不正利用の早期発見につながります。</dd>
                  </dl>
                  <dl class="col-xs-4">
                    <dt class="text-center">
                      <figure>
                        <img class="mb-1" src="//image.card.jp.rakuten-static.com/card_corp/common/icon/card-icon/icon_target.svg" width="80" height="80" alt="不正利用探知システム">
                        <figcaption class="vissel-small-title">不正利用<br>探知システム</figcaption>
                      </figure>
                    </dt>
                    <dd>24時間体制で不審なカード利用を監視・検知しています。</dd>
                  </dl>
                  <dl class="col-xs-4">
                    <dt class="text-center">
                      <figure>
                        <img class="mb-1" src="//image.card.jp.rakuten-static.com/card_corp/common/icon/card-icon/icon_identification.svg" width="80" height="80" alt="本人認証サービス">
                        <figcaption class="vissel-small-title">本人認証<br>サービス</figcaption>
                      </figure>
                    </dt>
                    <dd>ネットショッピングにおける「なりすまし」などの被害を未然に防ぎます。</dd>
                  </dl>
                </div>
                <div class="row">
                  <dl class="col-xs-4">
                    <dt class="text-center">
                      <figure>
                        <img class="mb-1" src="//image.card.jp.rakuten-static.com/card_corp/common/icon/card-icon/icon_virus.svg" width="80" height="80" alt="ネット不正あんしん制度">
                        <figcaption class="vissel-small-title">ネット不正<br>あんしん制度</figcaption>
                      </figure>
                    </dt>
                    <dd>ネットショッピングにおいてカード情報を盗用された場合、不正利用分を補償します。</dd>
                  </dl>
                  <dl class="col-xs-4 mb-0">
                    <dt class="text-center">
                      <figure>
                        <img class="mb-1" src="//image.card.jp.rakuten-static.com/card_corp/common/icon/card-icon/icon_delivery.svg" width="80" height="80" alt="商品未着あんしん制度">
                        <figcaption class="vissel-small-title">商品未着<br>あんしん制度</figcaption>
                      </figure>
                    </dt>
                    <dd>万一、楽天市場で購入された商品が届かない場合には請求をお取消しいたします。</dd>
                  </dl>
                  <dl class="col-xs-4 mb-0">
                    <dt class="text-center">
                      <figure>
                        <img class="mb-1" src="//image.card.jp.rakuten-static.com/card_corp/common/icon/card-icon/icon_thief.svg" width="80" height="80" alt="カード盗難保険">
                        <figcaption class="vissel-small-title">カード<br>盗難保険</figcaption>
                      </figure>
                    </dt>
                    <dd>カード紛失・盗難時における不正利用の損害金額を補償します。</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="point-3" class="vissel-section">
          <div class="vissel-heading"></div>
          <div class="container">
            <h2>海外旅行にも安心・便利</h2>
            <div class="vissel-panel">
              <section class="point-3__travel-service mb-3">
                <h3 class="text-center">旅行にうれしい優待サービス</h3>
                <div class="row text-center mb-2">
                  <figure class="col-xs-3">
                    <img class="mb-1" src="//image.card.jp.rakuten-static.com/card_corp/common/icon/card-icon/icon_car.svg" width="80" height="80" alt="海外レンタカー10%オフ">
                    <figcaption class="vissel-small-title font-weight-bold">海外レンタカー<br>10%オフ</figcaption>
                  </figure>
                  <figure class="col-xs-3">
                    <img class="mb-1" src="//image.card.jp.rakuten-static.com/card_corp/common/icon/card-icon/icon_mobile-wifi.svg" width="80" height="80" alt="携帯・WiFiルーターレンタル20%オフ">
                    <figcaption class="vissel-small-title font-weight-bold">携帯・WiFiルーター<br>レンタル20%オフ</figcaption>
                  </figure>
                  <figure class="col-xs-3">
                    <img class="mb-1" src="//image.card.jp.rakuten-static.com/card_corp/common/icon/card-icon/icon_baggage.svg" width="80" height="80" alt="手荷物宅配優待サービス">
                    <figcaption class="vissel-small-title font-weight-bold">手荷物宅配<br>優待サービス</figcaption>
                  </figure>
                  <figure class="col-xs-3">
                    <img class="mb-1" src="//image.card.jp.rakuten-static.com/card_corp/common/icon/card-icon/icon_concierge.svg" width="80" height="80" alt="楽天カード会員様限定専用ラウンジ">
                    <figcaption class="vissel-small-title font-weight-bold small">楽天カード会員様限定<br>専用ラウンジ<br>(ハワイ・ワイキキ)</figcaption>
                  </figure>
                </div>
              </section>
              <hr>
              <section class="point-3__travel-support">
                <h3 class="text-center">旅先での急なトラブルもしっかりサポート</h3>
                <div class="row">
                  <dl class="mb-0 col-xs-4">
                    <dt class="mb-0 large text-center"><a href="/overseas/guide/relief/#menu4-2">海外緊急サービス<span class="rex-icon chevron-right large"></span></a></dt>
                    <dd>各カードブランド(Visa, JCB, Mastercard)が提供する海外でのカード紛失・盗難の際に利用できる緊急サービスです。</dd>
                  </dl>
                  <dl class="mb-0 col-xs-4">
                    <dt class="mb-0 large text-center"><a href="/overseas/insurance/">海外旅行傷害保険<span class="rex-icon chevron-right large"></span></a></dt>
                    <dd>海外旅行中の病気やケガを補償する、安心の保険サービスです。疾病治療費や賠償責任、携行品損害も補償します。</dd>
                  </dl>
                  <dl class="mb-0 col-xs-4">
                    <dt class="mb-0 large text-center"><a href="/overseas/guide/relief/#menu4-1">紛失・盗難対応<span class="rex-icon chevron-right large"></span></a></dt>
                    <dd>海外での紛失・盗難について、年中無休で対応します。</dd>
                  </dl>
                </div>
              </section>
            </div>
          </div>
        </section>
        <section id="promotion" class="container mb-7">
          <div class="row mb-2">
            <div class="col-xs-6 text-right">
              <figure class="d-inline-block">
                <img class="vissel-cardface-shadow mb-3" src="./images/cardface_vissel-em_master_rp_e_front_336_213.png" srcset="./images/cardface_vissel-em_master_rp_e_front_672_426.png 2x" width="336" height="213" alt="ヴィッセル神戸デザイン">
                <figcaption class="text-center">
                  <div class="d-inline-block">
                    <div class="vissel-card-label">
                      <div class="vissel-card-label__text">ヴィッセル神戸デザイン</div>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="col-xs-6">
              <figure class="d-inline-block">
                <img class="vissel-cardface-shadow mb-3" src="./images/cardface_vissel-pl_master_rp_e_front_336_213.png" srcset="./images/cardface_vissel-pl_master_rp_e_front_672_426.png 2x" width="336" height="213" alt="イニエスタデザイン">
                <figcaption class="text-center">
                  <div class="d-inline-block">
                    <div class="vissel-card-label">
                      <div class="vissel-card-label__text">イニエスタデザイン</div>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
          <figure class="d-flex justify-content-center align-items-center mb-3">
            <img class="mr-2" src="//image.card.jp.rakuten-static.com/card_corp/common/logo/logo_mastercard_vertical_isolation.svg" width="60" height="49" alt="Mastercard">
            <figcaption>Mastercard</figcaption>
          </figure>
          <p class="text-center mb-4">
            <a href="/card/form/rakuten-card/?l-id=corp_rc_rakuten_card_bottom_to_form_vissel_pc" class="vissel-btn"><span class="vissel-btn-text">カードを申し込む<br><small>(年会費永年無料)</small></span></a>
          </p>
          <p class="mb-0 text-center"><a href="//r10.to/hOgFfP?l-id=corp_rc_rakuten_card_bottom_choice_detail_vissel_pc" class="small">※ 楽天カードをすでにお持ちで、新たにヴィッセル神戸デザインをご希望の方はこちらをご確認ください<span class="rex-icon chevron-right small"></span></a></p>
        </section>
        <section id="requirements" class="container mb-7">
          <h2>楽天カードヴィッセル神戸デザイン<br>リリース記念特典進呈条件</h2>
          <dl>
            <dt>対象期間</dt>
            <dd>2018年11月30日(金)10:00～2018年12月10日(月)9:59</dd>
          </dl>
          <dl>
            <dt>特典</dt>
            <dd>ヴィッセル神戸オフィシャルマフラータオル：抽選で200名様</dd>
          </dl>
          <dl>
            <dt>特典発送予定日</dt>
            <dd>
              2019年2月下旬発送<br>
              2019年1月末時点の、楽天カード(株)にご登録のご自宅のご住所にお送りいたします。
              <ul class="pl-3 mb-0">
                <li>やむを得ない事情により景品の発送が遅れる場合がありますのであらかじめご了承ください。</li>
                <li>当選者の方のみ景品をプレゼントさせていただきます。</li>
                <li>当選者の発表は厳正な抽選のうえ、当選者の方に景品の発送をもって発表にかえさせていただきます。</li>
                <li>景品画像はイメージとなります。実際のものと異なる場合がございます。</li>
                <li>なお、グッズの転売は禁止とさせていただきます。</li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt>進呈対象</dt>
            <dd>
              <ul class="pl-3 mb-0">
                <li>楽天カードを新規のお申し込みでカードが発行された方(18歳以上：高校生不可)</li>
                <li>楽天カード(ヴィッセル神戸デザイン)、または楽天カード(イニエスタデザイン)の対象カードをお申し込みされた方※1</li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt>進呈対象外</dt>
            <dd>
              <ul class="pl-3 mb-0">
                <li>過去お申し込み履歴があり、カードが発行されたことのある方(すでに退会された方・カード切り替えのお申し込みをされた方含む)</li>
                <li>ご家族や他人の楽天ユーザIDを利用してお申し込みをされた方</li>
                <li>カードお申し込み時の審査において、カードが発行されなかった方</li>
                <li>本カード会員様が弊社会員規約(第19条)に基づく楽天カード会員資格の失効、もしくは楽天カード会員および楽天会員を退会されている場合</li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt>備考</dt>
            <dd>
              ※1.家族カード会員様は抽選の対象外となります。
              <ul class="pl-3 mb-0">
                <li>カード発行には所定の審査がございます。</li>
                <li>本企画は、予告なく変更・中止させていただく場合がございます。</li>
              </ul>
            </dd>
          </dl>
          <dl class="mb-0">
            <dt>楽天カードのお申し込みに関するお問い合わせ先</dt>
            <dd>
              楽天カード株式会社コンタクトセンター<br>
              <a href="tel:0570666910">0570-66-6910</a>(営業時間9:30～17:30)<br>
              <span class="small">※上記電話番号がご利用いただけない場合は<a href="tel:0924746287">092-474-6287</a>をご利用ください。</span>
            </dd>
          </dl>
        </section>
        <section id="sns" class="container mb-7">
          <h2 class="sns-head pb-1"><strong class="large mr-2">楽天カード</strong>SNS公式アカウント一覧</h2>
          <p>SNS公式アカウントでは、楽天カードヴィッセル神戸デザインの最新情報をはじめ、楽天カードならではのお得な情報を配信中です。ぜひフォローしてください！</p>
          <div class="row d-flex mb-1">
            <div class="col-xs-4 d-flex">
              <div class="sns-content p-2">
                <div class="d-flex mb-3">
                  <figure class="mr-2">
                    <img src="//image.card.jp.rakuten-static.com/card_corp/common/icon/icon_facebook.svg" width="57" height="57" alt="Facebook">
                  </figure>
                  <div>
                    <p class="mb-0 font-weight-bold">楽天カードの公式Facebook</p>
                    <small>＠RakutenCard</small>
                  </div>
                </div>
                <p>
                  ユニークな商品やお得な情報をお届けします。世の中のトレンドもまるわかり！
                </p>
                <div class="text-center mt-auto">
                  <a href="https://r10.to/hv4xLF" class="sns-btn sns-btn-facebook">
                    Facebookページはこちら
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-4 d-flex">
              <div class="sns-content p-2">
                <div class="d-flex mb-3">
                  <figure class="mr-2">
                    <img src="//image.card.jp.rakuten-static.com/card_corp/common/icon/icon_line.svg" width="57" height="57" alt="LINE">
                  </figure>
                  <div>
                    <p class="mb-0 font-weight-bold">楽天カードの公式LINE</p>
                    <small>＠RakutenCard</small>
                  </div>
                </div>
                <p>
                  楽天カードのLINE公式アカウントでは、LINE友だち限定のオトクなキャンペーンやプレゼント情報を配信中！
                </p>
                <div class="d-flex align-items-end justify-content-between mt-auto">
                  <p class="sns-line__qr d-flex align-items-center mb-0 small">
                    ※LINEの友達追加はこちらから<span class="arrow ml-1"></span>
                  </p>
                  <figure>
                    <img src="./images/qr.svg" width="58" height="58" alt="LINEの友達追加のQR">
                  </figure>
                </div>
              </div>
            </div>
            <div class="col-xs-4 d-flex">
              <div class="sns-content p-2">
                <div class="d-flex mb-3">
                  <figure class="mr-2">
                    <img src="//image.card.jp.rakuten-static.com/card_corp/common/logo/logo_twitter_blue_no-isolation.svg" width="57" height="57" alt="Twitter">
                  </figure>
                  <div>
                    <p class="mb-0 font-weight-bold">楽天カードの公式Twitter</p>
                    <small>＠RakutenCard</small>
                  </div>
                </div>
                <p>
                  ユニークな商品やTwitterならではの企画、お得な情報などをお届けします。
                </p>
                <div class="text-center mt-auto">
                  <a href="https://r10.to/hv3OLn" class="sns-btn sns-btn-twitter">
                    Twitter公式アカウントはこちら
                  </a>
                </div>
              </div>
            </div>
          </div>
          <p class="mb-0 small">※楽天カードヴィッセル神戸デザインのリリースは予告なく中止、あるいはカードデザインが変更になる場合がございます。ご了承ください。</p>
        </section>
        <section id="app" class="container">
          <h2>明細も気軽に確認、通知が届いて安心</h2>
          <div class="row">
            <div class="col-xs-6 text-center">
              <p>楽天カード公式アプリや、<br>会員専用オンラインサービス「楽天e-NAVI」を使えば、<br>いつでも・どこでも気軽に明細を確認できます。</p>
              <p>また、ご利用ごとにメールでお知らせするので<br>不正利用の早期発見にもつながり安心です。</p>
              <div>
                <a href="/service/app/?l-id=corp_rc_reakuten_card_app_vissel_pc" class="btn btn-primary btn-outline">アプリ公式ページ</a>
              </div>
            </div>
            <div class="col-xs-6">
              <img src="./images/app.png" alt="楽天カードアプリ">
            </div>
          </div>
        </section>
      </section>
    </article>
  </main>
  <% include ./_include/_footer %>
  <script src="//static.card.jp.rakuten-static.com/card_corp/pc/js/common/jquery-3.2.1.min.js"></script>
  <script src="//static.card.jp.rakuten-static.com/card_corp/pc/js/common/header.min.js"></script>
  <script src="//static.card.jp.rakuten-static.com/card_corp/pc/js/common/share.min.js"></script>
</body>

</html>