body,
tooltip,
popover {
  font-family: "Noto Sans Japanese", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

input {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

body {
  min-width: 1250px;
}

.navbar-group {
  font-size: .75rem;
}

/* header */
header {
  padding: 10px 0;
  border-bottom: 1px solid #bbb;
}

header .logo {
  display: block;
  background: url(../img/sprite_logo.png) no-repeat;
  width: 122px;
  height: 44px;
  background-position: -5px -5px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  header .logo {
    width: 244px;
    height: 88px;
    background-position: -5px -59px;
  }
}

header h1 a {
  display: block;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 30s infinite linear;
}

header h1 a:hover {
  text-decoration: none;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.rakupedia .keyword_frm {
  height: 30px;
  font-size: 12px;
}

.rakupedia .keyword_frmbtn {
  width: 30px;
  height: 30px;
  padding: 0;
  background: url(../img/icon_search.svg) center/21px no-repeat, #4285f4;
  background: url(../img/icon_search.svg) center/21px no-repeat, -webkit-linear-gradient(top, #4387fd, #4683ea);
  background: url(../img/icon_search.svg) center/21px no-repeat, linear-gradient(to bottom, #4387fd 0%, #4683ea 100%);
  cursor: pointer;
  border: none;
}

.rakupedia .checkbtn {
  height: 30px;
}

.utility-links {
  font-size: 13px;
}

.utility-links ul {
  padding-left: 15px;
}

/* content */
.side-menu {
  width: 325px;
}

.side-menu_card .card-header {
  color: white;
  background-color: #bf0000;
}

.side-menu_card .nav-item .nav-link {
  padding: .2rem .625rem;
  color: #343a40;
}

.side-menu_card .nav-item .nav-link:hover:not(.nav-link-disabled) {
  color: #0056b3;
  background-color: #f8f9fa;
}

.side-menu .js-dropdown-menu-color {
  border-width: 4px;
}

.side-menu .js-dropdown-menu-color--aqua {
  border-color: #45a5ff;
}

.side-menu .js-dropdown-menu-color--purple {
  border-color: #454fff;
}

.side-menu .js-dropdown-menu-color--green {
  border-color: #239e09;
}

.side-menu .js-dropdown-menu-color--orange {
  border-color: #ff8800;
}

.side-menu .js-dropdown-menu .nav-link:hover:not(.nav-link-disabled) {
  background-color: rgba(0, 0, 0, 0.03);
}

.main-content_card .card-header,
.side-menu_card .card-header {
  padding: .4375rem .625rem;
  font-size: .875rem;
}

.main-content_card .card-body,
.side-menu_card .card-body {
  padding: .625rem;
}

.main-content_card .card-title,
.side-menu_card .card-title {
  font-size: 1rem;
}

.main-content_card .nav,
.side-menu_card .nav {
  margin: -.2rem 0;
}

.main-content_card .nav-link,
.side-menu_card .nav-link {
  padding: .2rem 0;
  font-size: .875rem;
}

/* dropdown-menu */
.dropdown-menu--m {
  width: 500px;
}

.dropdown-menu--ml {
  width: 750px;
}

.dropdown-menu--lg {
  width: 1000px;
}

/* footer */
footer {
  padding: 0.3125rem 0;
  margin-top: 3.125rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.03);
  font-size: .875rem;
}

/* js */
.js-dropdown {
  position: relative;
}

.js-dropdown-menu {
  position: absolute;
  top: 50%;
  display: none;
  z-index: 1;
  white-space: nowrap;
  transform: translateY(-50%);
}

.side-menu--left .js-dropdown-menu {
  left: calc(100% + 5px);
}

.side-menu--right .js-dropdown-menu {
  left: calc(0% - 5px);
  transform: translate(-100%, -50%);
}

/* component */
#accordion .card-header {
  padding: 0;
  border-radius: 0;
}

#accordion .card-header > a {
  padding: .4375rem .625rem;
  text-decoration: none;
}

#accordion [aria-expanded="true"] .fa-caret-down {
  display: none;
}

#accordion [aria-expanded="false"] .fa-caret-up {
  display: none;
}

.link-box__ttl-lv1 {
  padding: 7px 10px;
  background-color: #bf0000;
  font-size: 15px;
  color: white;
  margin: 0;
}

.link-box .nav {
  padding: 10px 0;
  font-size: 14px;
}

.link-box .nav-link {
  color: #444;
  padding: .2rem 1rem;
}

.link-box .nav-link:hover {
  color: #0056b3;
}

.btn-outline-crimson {
  color: #bf0000;
  background-color: transparent;
  background-image: none;
  border-color: #bf0000;
}

.btn-outline-crimson:hover {
  color: white;
  background-color: #bf0000;
  border-color: #bf0000;
}

/* utilities */
.text-crimson-red {
  color: #bf0000 !important;
}
