<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>海外決済の適応レート・手数料の確認｜楽天カード</title>
  <meta name="viewport" content="width=1080">
  <meta name="description" content="海外で楽天カードをご利用いただく際の適応レートのご説明や手数料についてご案内しています。また海外でのご利用覚えのない請求についてお困りの方もこちらをご確認ください。">
  <meta name="keywords" content="海外, レート, 手数料, 請求, 楽天カード">
  <meta property="og:title" content="海外決済の適応レート・手数料の確認">
  <meta property="og:description" content="海外で楽天カードをご利用いただく際の適応レートのご説明や手数料についてご案内しています。また海外でのご利用覚えのない請求についてお困りの方もこちらをご確認ください。">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="楽天カード">
  <meta property="og:image" content="https://image.card.jp.rakuten-static.com/card_corp/pc/contents/logo_200x200.gif">
  <meta property="fb:page_id" content="104759839604740">
  <link rel="canonical" href="https://www.rakuten-card.co.jp/overseas/guide/payment/">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/rex-red.min.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/header-2.0.0.min.css">
  <link rel="stylesheet" href="../../css/desktop/localnav/style.css">
  <link rel="stylesheet" href="../../css/desktop/scrolltop/style.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/footer-2.0.0.min.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <% include ../../include/desktop/_header %>
  <% include ../../include/desktop/_localnav %>
  <ul class="breadcrumbs">
    <li><a href="/">トップ</a></li>
    <li><a href="/overseas/">海外で使う</a></li>
    <li><a href="/overseas/guide/">海外ご利用ガイド</a></li>
    <li>海外での楽天カードの決済について</li>
  </ul>
  <main>
    <article>
      <section>
        <div class="container mt-3">
          <h1 class="text-center mb-0">海外での楽天カードの決済について</h1>
        </div>
        <div class="jumbotron mt-6">
          <div>
            <div class="container text-center">出発前の確認で安心！</div>
          </div>
        </div>
        <section class="bg-lightest">
          <div class="container py-6 text-center">
            海外で楽天カードをご利用いただける場所、適応されるレートや手数料についてご案内します。
          </div>
        </section>
        <section class="container pt-6 pb-5">
          <h2 class="text-center mb-4">海外でのご利用について</h2>
          <p class="text-center">
            楽天カードのブランドマーク（American Express、Mastercard、Visa、JCB ）それぞれの加盟店でご利用いただけます。<br>
            ※JCBはアメリカの大手カード会社ディスカバー（Discover Financial Services）社と提携しております。<br>
            ディスカバーカード取扱店でもJCBカードがご利用いただけます。
          </p>
          <div class="text-center">
            <img class="mb-2" src="//image.card.jp.rakuten-static.com/card_corp/common/cardface/cardface_n_amex_rp_e_front_240_152.png" width="240" height="152" alt="楽天カード">
            <div class="d-flex justify-content-center mb-4">
              <img class="mr-1" src="//image.card.jp.rakuten-static.com/card_corp/lay2.0/common/svg/brand/img_brand_amex.svg" height="40" width="40" alt="American Express">
              <img class="mr-1" src="//image.card.jp.rakuten-static.com/card_corp/lay2.0/common/svg/brand/img_brand_mc-responsive.svg" height="40" width="49" alt="Mastercard">
              <img class="mr-1" src="//image.card.jp.rakuten-static.com/card_corp/lay2.0/common/svg/brand/img_brand_visa.svg" height="40" width="67" alt="VISA">
              <img src="//image.card.jp.rakuten-static.com/card_corp/lay2.0/common/svg/brand/img_brand_jcb.svg" height="40" width="50" alt="JCB">
            </div>
          </div>
          <div class="text-center">
            <a href="/card/brand/?l-id=corp_sp_overseas_payment_to_brand_pc" class="btn btn-primary btn-outline">各国際ブランドについて詳しくはこちら</a>
          </div>
          <section class="pt-5 mb-5">
            <h3 class="text-center mb-4">適応されるレートに関して</h3>
            <p class="mb-4 text-center">
              海外でご利用になった場合の換算レートは、現地でご利用になった際のレートではありませんのでご留意ください。 <br>
              ※国際カードの為替レート(円)はAmerican Express/Mastercard/Visa/JCBなどの決済為替レートが適応されます。
            </p>
            <figure class="text-center">
              <img src="./images/parts_rate.png" alt="お客様の総額の計算例" width="779" height="152">
            </figure>
          </section>
          <section>
            <h3 class="text-center mb-4">各ブランドの事務手数料に関して</h3>
            <p class="text-center">各社が適応した交換レートに下記をプラスしたレートで明細に記載しております。</p>
            <div class="text-center">
              <div class="d-inline-block">
                <table class="table mb-0">
                  <tr>
                    <th>ブランド名</th>
                    <th>事務手数料</th>
                  </tr>
                  <tr>
                    <td>American Express</td>
                    <td>1.63%</td>
                  </tr>
                  <tr>
                    <td>Mastercard</td>
                    <td>1.63%</td>
                  </tr>
                  <tr>
                    <td>Visa</td>
                    <td>1.60%</td>
                  </tr>
                  <tr>
                    <td>JCB</td>
                    <td>2.00%</td>
                  </tr>
                </table>
              </div>
            </div>
          </section>
        </section>
        <hr class="separator">
        <section class="container pt-5 mb-5">
          <h2 class="text-center mb-4">ご利用覚えのない請求に関して</h2>
          <p class="text-center mb-4">海外での楽天カードのご利用について、ご利用覚えのない請求があった方はこちらをご確認ください。</p>
          <figure class="text-center">
            <img src="../../images/common/icon/icon_unknown.svg" width="112" height="112" alt="ご利用覚えのない請求に関して">
          </figure>
          <section class="pt-5 mb-5">
            <h3 class="text-center mb-4">二重請求に関して</h3>
            <p>現地のカード会社に対して、請求取消の申し立てをいたしますので、下記楽天カードコンタクトセンターにご連絡ください。</p>
            <p><strong>たとえば…</strong><br>加盟店でカードご利用情報処理時、端末機の故障や障害などにより、複数回カードご利用情報処理の操作をしたが、署名は一回しかしていない。</p>
          </section>
          <section class="mb-5">
            <h3 class="text-center mb-4">追加請求に関して</h3>
            <p>海外のホテルやレンタカーからの請求には、ご自身の控えに記載されているもの以外に、小額の追加請求をされる場合がございます。<br>お心当たりがなければ、現地のカード会社に照会をいたしますので下記楽天カードコンタクトセンターにご連絡ください。</p>
            <strong>たとえば…</strong><br>
            <ul>
              <li>ホテル⇒チェックアウト時に精算が間に合わなかった電話代・ミニバー（客室内のドリンク・スナックなど）利用代金など</li>
              <li>レンタカー⇒ガソリン代・延長料金・交通違反の罰金・修理代など</li>
            </ul>
          </section>
          <section class="mb-5">
            <h3 class="text-center mb-4">キャンセルしたはずの請求に関して</h3>
            <p>キャンセルしたカードでの支払が、後日請求されるケースがあります。 <br>お店からの返金が確認できない場合には、請求取消申し立てをいたしますので、下記楽天カードコンタクトセンターまでご連絡ください。</p>
            <p><strong>たとえば…</strong><br>加盟店側での下記の理由などが考えられます。</p>
            <ul>
              <li>キャンセルの手続きが遅延。</li>
              <li>キャンセルされたカード売上伝票を破棄せずカード会社に提出してしまった。</li>
              <li>取消伝票（Credit Voucher、Credit Slip）を起票しなかった。</li>
            </ul>
            ※申し立ては必ずしも認められるものではございません。<br>
            ※取り消しが完了するまでには時間がかかります。
          </section>
        </section>
        <hr class="separator">
        <section class="container py-5">
          <h3 class="text-center mb-4">コンタクトセンター</h3>
          <div class="d-flex justify-content-center mb-4">
            <div class="contact-center">
              <div class="contact-center_business-hour">営業時間　9:30～17:30</div>
              <div class="contact-center_phone-number"><i class="rex-icon phone-f"></i><a href="tel:0570666910">0570-66-6910</a><small>（有料）</small></div>
              <p class="mb-0">上記電話番号がご利用いただけない場合</p>
              <div class="contact-center_phone-number"><i class="rex-icon phone-f"></i><a href="tel:0924746287">092-474-6287</a><small>（有料）</small></div>
            </div>
          </div>
          <ul class="list-unstyled">
            <li>
              ※申し立てには期限がありますのでご注意ください。 
            </li>
            <li>
              ※カード番号の入力が必要となります。クレジットカードをお手元にご準備のうえ、おかけください。
            </li>
            <li>
              ※ご契約者様ご本人よりお問い合わせください。
            </li>
            <li>
              ※携帯電話・PHSからもご利用いただけます。
            </li>
          </ul>
        </section>
        <hr class="separator">
        <section class="container py-5">
          <h2 class="text-center mb-4">暗証番号のご確認</h2>
          <p class="text-center mb-4">
            海外でのカード決済では暗証番号を求められる場合があります。<br>暗証番号を複数回誤って入力されますとそのカードがご利用いただけなくなってしまいますので出国前にご確認ください。<br>海外キャッシングご利用の際に、国や地域によっては5ケタ以上の暗証番号を求められる場合がありますが、その場合でも4ケタの暗証番号を入力してください。
          </p>
          <figure class="text-center mb-4">
            <img src="../../images/common/icon/icon_number.svg" width="110" height="113" alt="暗証番号のご確認">
          </figure>
          <div class="text-center">
            <a class="btn btn-primary btn-outline" href="/e-navi/members/information/pin-inquiry/">暗証番号の照会はこちら</a>
          </div>
        </section>
      </section>
    </article>
  </main>
  <button id="scroll-top">
    <span class="rex-icon arrow-up-l"></span>
    <div>ページ<br>トップ</div>
  </button>
  <% include ../../include/desktop/_footer %>
  <script src="//static.card.jp.rakuten-static.com/card_corp/pc/js/common/jquery-3.2.1.min.js"></script>
  <script src="../../js/desktop/jquery.easing.min.js"></script>
  <script src="../../js/desktop/header.js"></script>
  <script src="../../js/desktop/main.js"></script>
</body>

</html>