<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>楽天カード会員様がご利用いただけるラウンジのご紹介｜楽天カード</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="国内空港ラウンジ、海外空港ラウンジ、ハワイのラウンジなどがございます。お手持ちの楽天カードによって使えるサービスが異なる場合があります。">
  <meta name="keywords" content="優待, ラウンジ, クレジットカード, 空港, 楽天カード">
  <meta property="og:title" content="楽天カード会員様がご利用いただけるラウンジのご紹介">
  <meta property="og:description" content="国内空港ラウンジ、海外空港ラウンジ、ハワイのラウンジなどがございます。お手持ちの楽天カードによって使えるサービスが異なる場合があります。">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="楽天カード">
  <meta property="og:image" content="https://image.card.jp.rakuten-static.com/card_corp/pc/contents/logo_200x200.gif">
  <meta property="fb:page_id" content="104759839604740">
  <link rel="canonical" href="https://www.rakuten-card.co.jp/overseas/previledge/lounge/">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/header-2.0.0.min.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/footer-2.0.0.min.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/lay2.0/common/common_smart.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/rex-red.min.css">
  <link rel="stylesheet" href="../../css/mobile/localnav/style.css">
  <link rel="stylesheet" href="../../css/mobile/scrolltop/style.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div class="js-local-nav-fixed-item">
    <% include ../../include/mobile/_header %>
  </div>
  <% include ../../include/mobile/_localnav %>
  <main>
    <article class="pt-4">
      <section>
        <h1 class="text-center mb-4">ラウンジ</h1>
        <p class="jumbotron text-center mb-0">
            ラウンジがあなたの旅を<br>快適でラグジュアリーに
        </p>
        <div class="container-fluid bg-light">
          <p class="py-4 mb-0">
            楽天カード会員様がご利用いただけるラウンジを紹介しています。<br>
            お持ちのカードによって使えるサービスが異なりますのでご確認ください。<br>
            くつろぎのひとときをお過ごしください。
          </p>
          <section class="py-4">
            <h2 class="text-center mb-3">楽天カード会員様が<br>ご利用いただける<br>ラウンジ一覧</h2>
            <section class="card mb-2">
              <div class="card-img-top">
                <img src="../../images/common/icon/icon_lounge-1.svg" width="82" height="82" alt="国内空港ラウンジ">
              </div>
              <div class="card-body">
                <h3 class="card-title">国内空港ラウンジ</h3>
                <p class="card-text">楽天ゴールドカード・楽天プレミアムカード会員様がご利用いただける国内(一部、海外)空港ラウンジのご案内です。</p>
              </div>
              <div class="card-detail-link">
                <a href="/overseas/previledge/lounge/japan/?l-id=corp_sp_overseas_lounge_to_japan_sp" class="text-link">詳しくはこちら</a>
              </div>
            </section>
            <section class="card mb-2">
              <div class="card-img-top">
                <img src="../../images/common/icon/icon_lounge-2.svg" width="82" height="82" alt="海外空港ラウンジ">
              </div>
              <div class="card-body">
                <h3 class="card-title">海外空港ラウンジ</h3>
                <p class="card-text">楽天プレミアムカードをお持ちの会員様がご利用いただけるサービスです。<br>ラウンジのご利用にはプライオリティ・パス会員カードが必要です。</p>
              </div>
              <div class="card-detail-link">
                <a href="/overseas/previledge/lounge/overseas/?l-id=corp_sp_overseas_lounge_to_overseas_sp" class="text-link">詳しくはこちら</a>
              </div>
            </section>
            <section class="card mb-2">
              <div class="card-img-top">
                <img src="../../images/common/icon/icon_lounge-3.svg" width="82" height="82" alt="海外空港ラウンジ">
              </div>
              <div class="card-body">
                <h3 class="card-title">楽天カードラウンジ</h3>
                <p class="card-text">ワイキキ中心部のT ギャラリア ハワイ by DFSにある楽天カード会員様専用のラウンジです。<br>「楽天カード」のご提示で、無料でご利用いただけます。</p>
              </div>
              <div class="card-detail-link">
                <a href="/overseas/hawaii/lounge/?l-id=corp_sp_overseas_lounge_to_hawaii_sp" class="text-link">詳しくはこちら</a>
              </div>
            </section>
          </section>
        </div>
        <section class="container-fluid py-4">
            <h2 class="text-center">関連情報</h2>
            <dl class="mb-0">
              <dt>・トラベルデスク</dt>
              <dd>
                トラベルデスクは、楽天プレミアムカード・楽天ゴールド会員様がご利用いただけるデスクとなります。<br>
                現地デスクがお客様の旅をサポートいたします。
                <div class="text-right">
                  <a href="/e-navi/">楽天プレミアムカード・楽天ゴールドカード会員様はこちら<span class="rex-icon chevron-right"></span></a>
                </div>
                <div class="text-right">
                  <a href="/card/">楽天プレミアムカード・楽天ゴールドカードをお持ちでない方はこちら<span class="rex-icon chevron-right"></span></a>
                </div>
              </dd>
            </dl>
          </section>
      </section>
    </article>
  </main>
  <% include ../../include/mobile/_footer %>
  <% include ../../include/mobile/_scrolltop %>
  <script src="//static.card.jp.rakuten-static.com/card_corp/pc/js/common/jquery-3.2.1.min.js"></script>
  <script src="//jp.rakuten-static.com/1/js/grp/prtl/rc-gp-sp.v2.min.js" data-service="rtc" data-priority="bnk,sec_is,sei"></script>
  <script src="../../js/mobile/jquery.easing.min.js"></script>
  <script src="../../js/mobile/header.js"></script>
  <script src="../../js/mobile/main.js"></script>
</body>
</html>