<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>海外決済の適応レート・手数料の確認｜楽天カード</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="海外での楽天カードの適応レートや手数料などのご案内です。海外でのご利用覚えのない請求についてお困りの方もこちらをご確認ください。">
  <meta name="keywords" content="海外, レート, 手数料, 請求, 楽天カード">
  <meta property="og:title" content="海外決済の適応レート・手数料の確認">
  <meta property="og:description" content="海外での楽天カードの適応レートや手数料などのご案内です。海外でのご利用覚えのない請求についてお困りの方もこちらをご確認ください。">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="楽天カード">
  <meta property="og:image" content="https://image.card.jp.rakuten-static.com/card_corp/pc/contents/logo_200x200.gif">
  <meta property="fb:page_id" content="104759839604740">
  <link rel="canonical" href="https://www.rakuten-card.co.jp/overseas/previledge/lounge/">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/header-2.0.0.min.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/footer-2.0.0.min.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/lay2.0/common/common_smart.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/rex-red.min.css">
  <link rel="stylesheet" href="../../css/mobile/localnav/style.css">
  <link rel="stylesheet" href="../../css/mobile/scrolltop/style.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div class="js-local-nav-fixed-item">
    <% include ../../include/mobile/_header %>
  </div>
  <% include ../../include/mobile/_localnav %>
  <main>
    <article class="pt-4">
      <section>
        <h1 class="text-center mb-4">海外でのおすすめ<br>クレジットカード</h1>
        <p class="jumbotron text-center mb-0">
            留学や海外出張でも<br>賢く便利な1枚を。
        </p>
        <div class="container-fluid bg-light">
          <p class="py-4 mb-0">
              楽天カードは旅行以外にも留学や海外出張でも大活躍！<br>
              シーン別にお客様におすすめのカードをご紹介いたします。
          </p>
          <section class="pb-4">
            <h2 class="text-center mb-3">留学の際に</h2>
            <section class="card mb-2">
              <div class="card-img-top">
                <img src="//image.card.jp.rakuten-static.com/card_corp/common/cardface/cardface_ac_jcb_rp_e_front_180_114.png" srcset="//image.card.jp.rakuten-static.com/card_corp/common/cardface/cardface_ac_jcb_rp_e_front_360_227.png 2x" width="180" height="114" alt="楽天カード アカデミー">
              </div>
              <div class="card-body">
                <h3 class="card-title">楽天カード アカデミー</h3>
                <p class="card-text">学生の方のみご入会いただける、初めてのクレジットカードにおすすめの楽天カード アカデミー。<br>海外旅行傷害保険が無料で付帯しており、他のカードにはないお得な特典も充実しています。</p>
              </div>
              <div class="card-detail-link">
                <a href="/card/rakuten-card-academy/?l-id=corp_sp_overseas_scene_to_academy_sp" class="text-link">詳しくはこちら</a>
              </div>
            </section>
            <section class="card">
              <div class="card-img-top">
                  <img src="//image.card.jp.rakuten-static.com/card_corp/common/cardface/cardface_family_amex_rp_e_front_180_114.png" srcset="//image.card.jp.rakuten-static.com/card_corp/common/cardface/cardface_family_amex_rp_e_front_360_227.png 2x" width="180" height="114" alt="家族カード">
              </div>
              <div class="card-body">
                <h3 class="card-title">家族カード</h3>
                <p class="card-text">お子様の留学の際には家族カードがおすすめ！<br>家族カード会員様は本カード会員様のご利用可能枠でカードをお使いいただくので、長期の留学でも枠が足りなくなる心配がありません。</p>
              </div>
              <div class="card-detail-link">
                <a href="/service/family-card/?l-id=corp_sp_overseas_scene_to_family_sp" class="text-link">詳しくはこちら</a>
              </div>
            </section>
          </section>
          <section class="pb-4">
              <h2 class="text-center mb-3">海外出張の際に</h2>
              <section class="card">
                <div class="card-img-top">
                    <img src="//image.card.jp.rakuten-static.com/card_corp/common/cardface/cardface_p_master_rp_e_front_180_114.png" srcset="//image.card.jp.rakuten-static.com/card_corp/common/cardface/cardface_p_master_rp_e_front_360_227.png 2x" width="180" height="114" alt="楽天プレミアムカード">
                </div>
                <div class="card-body">
                  <h3 class="card-title">楽天プレミアムカード</h3>
                  <div class="card-text">
                    <p>
                      楽天プレミアムカードなら、各種付帯サービスをご利用いただけ、便利で安心です。
                    </p>
                    <ul>
                      <li>
                        国内空港ラウンジが無料
                      </li>
                      <li>
                        海外空港ラウンジサービス「プライオリティ・パス」お申し込み無料
                      </li>
                      <li>
                        各種保険が自動付帯
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-detail-link">
                  <a href="/card/rakuten-premium-card/?l-id=corp_sp_overseas_scene_to_premium_sp" class="text-link">詳しくはこちら</a>
                </div>
              </section>
          </section>
        </div>
        <section class="container-fluid py-4">
            <h2 class="text-center">海外でもポイントが<br>ざくざく貯まる</h2>
            海外でご利用いただいた場合でもポイントが貯まるのでお得です。<br>国内でご利用される場合と同等、ご利用に対して 1%分のポイントが貯まります。<br>また貯まったポイントは2ポイント→1マイルでANAのマイルに変換できます。
            <div class="text-center mb-3">
              <img src="../../images/common/icon/icon_point.svg" width="80" height="80" alt="海外でもポイントがざくざく貯まる">
            </div>
            <div class="text-center">
              <a href="" class="btn btn-outline btn-primary">詳しくはこちら</a>
            </div>
          </section>
      </section>
    </article>
  </main>
  <% include ../../include/mobile/_footer %>
  <% include ../../include/mobile/_scrolltop %>
  <script src="//static.card.jp.rakuten-static.com/card_corp/pc/js/common/jquery-3.2.1.min.js"></script>
  <script src="//jp.rakuten-static.com/1/js/grp/prtl/rc-gp-sp.v2.min.js" data-service="rtc" data-priority="bnk,sec_is,sei"></script>
  <script src="../../js/mobile/jquery.easing.min.js"></script>
  <script src="../../js/mobile/header.js"></script>
  <script src="../../js/mobile/main.js"></script>
</body>
</html>