<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>海外ご利用ガイド 海外でのお支払いや便利なサービスのご紹介｜楽天カード</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="海外キャッシングや、海外でのおすすめのクレジットカードのご紹介など、渡航前に役立つ楽天カードの海外ご利用ガイドです。">
  <meta name="keywords" content="海外, 決済, クレジットカード, おすすめ, 楽天カード">
  <meta property="og:title" content="海外ご利用ガイド 海外でのお支払いや便利なサービスのご紹介">
  <meta property="og:description" content="海外キャッシングや、海外でのおすすめのクレジットカードのご紹介など、渡航前に役立つ楽天カードの海外ご利用ガイドです。">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="楽天カード">
  <meta property="og:image" content="https://image.card.jp.rakuten-static.com/card_corp/pc/contents/logo_200x200.gif">
  <meta property="fb:page_id" content="104759839604740">
  <link rel="canonical" href="https://www.rakuten-card.co.jp/overseas/guide/">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/header-2.0.0.min.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/footer-2.0.0.min.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/lay2.0/common/common_smart.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/rex-red.min.css">
  <link rel="stylesheet" href="../../css/mobile/localnav/style.css">
  <link rel="stylesheet" href="../../css/mobile/scrolltop/style.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div class="js-local-nav-fixed-item">
    <% include ../../include/mobile/_header %>
  </div>
  <% include ../../include/mobile/_localnav %>
  <main>
    <article class="pt-4">
      <section>
        <h1 class="text-center mb-4">海外ご利用ガイド</h1>
        <div class="jumbotron">
          海外のお供に楽天カードを
        </div>
        <p class="container-fluid bg-light mb-0 py-5">
          海外でご利用の際にご確認いただきたい、お支払いや便利なサービスについてのご紹介です。<br>
          海外での快適なマネーライフのために、ぜひ渡航前にご確認ください。
        </p>
        <div class="container-fluid">
          <section class="py-4">
            <h2 class="text-center mb-3">海外での<br>カード決済について</h2>
            <p>
              海外でのご利用範囲、海外でカードを使うときに適用されるレートや手数料についてご案内します。
            </p>
            <figure class="text-center mb-4">
              <img src="../../images/common/icon/icon_user.svg" width="78" height="78" alt="海外でのカード決済について">
            </figure>
            <div class="text-center">
              <a href="/overseas/guide/payment/?l-id=corp_sp_overseas_guide_to_payment_sp" class="btn btn-primary btn-outline">詳しくはこちら</a>
            </div>
          </section>
          <hr class="separator">
          <section>
            <h2 class="text-center mb-3">現地通貨のお引き出し</h2>
            <div class="text-center">
              <img src="../../images/common/icon/icon_world.svg" width="78" height="78" alt="現地通貨のお引き出し">
            </div>
            <ul class="pl-3">
              <li>
                日本を出国前に両替を忘れてしまったとき
              </li>
              <li>
                海外旅行中に現金が足りなくなったとき
              </li>
              <li>
                夜中に現地に到着したとき
              </li>
            </ul>
            お手持ちの楽天カードで両替の手間なく最大24時間、現地の通貨を引き出すことができます。
            <p class="small mb-4">
              ※楽天カード・アメリカン・エキスプレス・カードは海外でのキャッシングはご利用いただけません。
            </p>
            <div class="text-center">
              <a href="/cashing/overseas/?l-id=corp_sp_overseas_guide_to_cashing_sp" class="btn btn-primary btn-outline">詳しくはこちら</a>
            </div>
          </section>
          <hr class="separator">
          <section class="py-4">
            <h2 class="text-center mb-3">ご利用可能限度額の<br>ご確認</h2>
            <p>
              予想外の出費や、たくさんお買いものしたくなった時に備えて、出国前に可能枠を確認しておきましょう。<br>
              一時的に増枠することのできる一時増枠のサービスもございます。
            </p>
            <figure class="text-center mb-4">
              <img src="../../images/common/icon/icon_confirm.svg" width="78" height="78" alt="ラウンジ">
            </figure>
            <div class="text-center">
              <div class="d-inline-block">
                <div class="mb-2">
                  <a href="/e-navi/sd/members/credit-limit/availability/index.xhtml" class="btn btn-primary d-block">ご利用可能額の照会</a>
                </div>
                <div class="mb-2">
                  <a href="/e-navi/sd/members/credit-limit/change/select.xhtml" class="btn btn-primary btn-outline d-block">ご利用可能枠の変更</a>
                </div>
                <div>
                  <a href="/e-navi/sd/members/credit-limit/temp-change/index.xhtml" class="btn btn-primary btn-outline d-block">ご利用可能枠の一時的な増枠</a>
                </div>
              </div>
            </div>
          </section>
          <hr class="separator">
          <section class="py-4">
            <h2 class="text-center mb-3">旅行以外の海外シーン<br>にもお役立ち</h2>
            <p>
              海外旅行以外にも、海外留学、海外出張など様々な楽天カードはシーンでご利用いただけます。
            </p>
            <figure class="text-center mb-4">
              <img src="../../images/common/icon/icon_foreign-guide.svg" width="78" height="78" alt="ラウンジ">
            </figure>
            <div class="text-center">
              <a href="/overseas/guide/scene/?l-id=corp_sp_overseas_guide_to_scene_sp" class="btn btn-primary btn-outline">詳しくはこちら</a>
            </div>
          </section>
        </div>
      </section>
    </article>
  </main>
  <% include ../../include/mobile/_footer %>
  <% include ../../include/mobile/_scrolltop %>
  <script src="//static.card.jp.rakuten-static.com/card_corp/pc/js/common/jquery-3.2.1.min.js"></script>
  <script src="//jp.rakuten-static.com/1/js/grp/prtl/rc-gp-sp.v2.min.js" data-service="rtc" data-priority="bnk,sec_is,sei"></script>
  <script src="../../js/mobile/jquery.easing.min.js"></script>
  <script src="../../js/mobile/header.js"></script>
  <script src="../../js/mobile/main.js"></script>
</body>

</html>