
<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <title>楽天カード: ハワイ・ワイキキ　楽天カードラウンジ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta content="telephone=no" name="format-detection">
    <meta name="description" content="ハワイ・ワイキキ中心部、T ギャラリア ハワイ by DFSの楽天カード会員様専用ラウンジ。ラウンジにて特典クーポン配布中！楽天カードでハワイを満喫！">
    <meta name="keywords" content="楽天カード,ハワイ,ラウンジ,優待,クーポン,ハワイラウンジ,DFS,楽天">
    <meta property="og:title" content="ハワイ・ワイキキ　楽天カードラウンジ:楽天カード">
    <meta property="og:description" content="ハワイ・ワイキキ中心部、T ギャラリア ハワイ by DFSの楽天カード会員様専用ラウンジ。ラウンジにて特典クーポン配布中！楽天カードでハワイを満喫！">
    <meta content="article" property="og:type">
    <meta content="楽天カード" property="og:site_name">
    <meta content="//image.card.jp.rakuten-static.com/card_corp/pc/contents/logo_200x200.gif" property="og:image">
    <meta content="104759839604740" property="fb:page_id">
    <link rel="canonical" href="https://www.rakuten-card.co.jp/overseas/hawaii-lounge/">
    <link rel="apple-touch-icon" href="//image.card.jp.rakuten-static.com/card_corp/smart/common/apple_touch_icon.png">
    <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/default.css?20150529" media="screen">
    <link rel="stylesheet" type="text/css" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/component.css?20150529">
    <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/header-2.0.0.min.css">
    <link rel="stylesheet" type="text/css" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/style.css?20150529">
    <link rel="stylesheet" href="./css/style.css">
    <!-- kaizen -->
    <script data-kz-key="2adca9d9f7b6bda8"  data-kz-namespace="kzs"  src="//cdn.kaizenplatform.net/s/2a/dca9d9f7b6bda8.js" charset="utf-8"></script>
    <!-- kaizen -->

  </head>

  <body>
    <header class="gh-header">
      <div class="gh-header-content">
        <div class="gh-hamburger js-side-nav-toggle">
          <figure><img src="//image.card.jp.rakuten-static.com/card_corp/smart/common/header/rexicon-32-menu.svg"  width="28" height="28" alt="メニュー"></figure>
          メニュー
        </div>
      </div>
      <div class="gh-header-content">
        <a href="/" class="gh-logo"><img src="//image.card.jp.rakuten-static.com/card_corp/common/logo/logo_vertical-2.0.0.svg" width="76" height="40" alt="楽天カード株式会社"></a>
      </div>
      <div class="gh-header-content">
        <a href="/e-navi/sd/index.xhtml" class="gh-login">
          <figure><img src="//image.card.jp.rakuten-static.com/card_corp/smart/common/header/rexicon-32-login-l.svg" width="28" height="28" alt="ログイン"></figure>
          ログイン
        </a>
      </div>
    </header>
    <div id="side-nav">
      <div class="side-nav-wrapper">
        <div class="side-nav-content">
          <div>
            <div class="side-nav-header">
              <a class="side-nav-logo" href="/">
                <img src="//image.card.jp.rakuten-static.com/card_corp/common/logo/logo_vertical-2.0.0.svg" width="76" height="40" alt="楽天カード株式会社">
              </a>
              <div class="side-nav-close">
                <figure><img src="//image.card.jp.rakuten-static.com/card_corp/smart/common/header/rexicon-32-close.svg" width="28" height="28" alt="閉じる"></figure>
                <div class="side-nav-close__txt">閉じる</div>
              </div>
            </div>
          </div>
          <nav>
            <dl>
              <dt><a href="/?l-id=corp_oo_gnav_top_sp">トップ</a></dt>
            </dl>
            <dl>
              <dt><a href="/card/?l-id=corp_oo_gnav_product_sp">カードをつくる</a></dt>
            </dl>
            <dl>
              <dt><a href="/campaign/?l-id=corp_oo_gnav_campaign_sp">キャンペーン</a></dt>
            </dl>
            <dl>
              <dt class="js-nav-accordion-toggle"><div>楽天カードが選ばれる理由<span class="side-nav-icon-arrow"><span class="side-nav-icon-arrow_left"></span><span class="side-nav-icon-arrow_right"></span></span></div></dt>
              <dd>
                <a href="/point/?l-id=corp_oo_from_gnav_to_point_sp">ポイント</a>
                <a href="/security/?l-id=corp_oo_from_gnav_to_security_sp">セキュリティ</a>
                <a href="/overseas/?l-id=corp_oo_from_gnav_to_overseas_sp">海外・トラベル</a>
              </dd>
            </dl>
            <dl>
              <dt class="js-nav-accordion-toggle"><div>機能・サービス<span class="side-nav-icon-arrow"><span class="side-nav-icon-arrow_left"></span><span class="side-nav-icon-arrow_right"></span></span></div></dt>
              <dd>
                <a href="/revo/?l-id=corp_oo_from_gnav_to_revo_sp">リボ払い</a>
                <a href="/cashing/?l-id=corp_oo_from_gnav_to_cashing_sp">キャッシング</a>
                <a href="/installment/?l-id=corp_oo_from_gnav_to_installment_sp">分割払い</a>
                <a href="/bonus/?l-id=corp_oo_from_gnav_to_bonus_sp">ボーナス払い</a>
                <a href="/point-pay/?l-id=corp_oo_from_gnav_to_point-pay_sp">ポイントで支払い</a>
                <a href="/service/basic/?l-id=corp_oo_from_gnav_to_basic_sp">楽天カードの基本</a>
                <a href="/service/edy/?l-id=corp_oo_from_gnav_to_edy_sp">楽天Edy</a>
                <a href="/service/?l-id=corp_oo_from_gnav_to_service_sp">役立つサービス</a>
              </dd>
            </dl>
            <dl>
              <dt class="js-nav-accordion-toggle"><div>お問い合わせ<span class="side-nav-icon-arrow"><span class="side-nav-icon-arrow_left"></span><span class="side-nav-icon-arrow_right"></span></span></div></dt>
              <dd>
                <a href="/contact/robbery/?l-id=corp_oo_from_gnav_to_robbery_sp">カードの紛失・盗難</a>
                <a href="https://support.rakuten-card.jp/?site_domain=guest">よくあるご質問</a>
                <a href="/contact/phone/?l-id=corp_oo_from_gnav_to_phone_sp">お問い合わせ</a>
              </dd>
            </dl>
          </nav>
          <div class="side-nav-footer">
            <ul class="side-nav-others">
              <li><a href="/merchant/?l-id=corp_oo_gnav_merchant_sp">法人・加盟店の方</a></li>
              <li><a href="https://www.rakuten.co.jp/sitemap/sp/?scid=su_795">楽天グループサービス</a></li>
            </ul>
            <ul class="side-nav-appli">
              <li><a href="/service/app/?l-id=corp_oo_from_gnav_to_app_sp">楽天カードアプリ</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="side-nav-mask"></div>




    <noscript>
      <p class="noJavascript">JavaScriptの設定がオンになっていないため、一部ご利用いただけない機能があります。<br>お手数ですが設定をオンにしてご利用ください。</p>
    </noscript>


    <div id="hawaiiContainer">

      <div id="top">
        <div class="topTitle">
          <h1 class="topimage"><img  src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/top-title_1.png" alt="ワイキキ中心部・TギャラリアハワイbyDFS 楽天カード会員様専用ラウンジ" /></h1>
          <div class="topimage_sub"><img  src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/top-title_2.png" alt="ハワイでも楽天カードが大活躍！楽天トラベルデスクも併設" /></div>
        </div>

        <div class="couponPDF">
          <div class="coupondesc"><img  src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/coupon_01.png" alt="楽天カード特典クーポン 総掲載店舗数110件以上！ラウンジにて無料配布中ハワイで使うなら楽天カード♪" class="img-auto" /></div><div class="couponbook"><a href="//r10.to/hrwE8W" target="_blank"><img  src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/coupon_02.png?d=1811" alt="クリックでPDFが開きます" class="img-auto" /></a></div>

          <div class="couponsub"><a href="//r10.to/hrwE8W" target="_blank"><img  src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/coupon_03_pdfp.png" alt="クリックで特典クーポンのダウンロード(PDF)が開始されます。" class="img-auto" border="0"></a></div>
        </div>
      </div>

      <div>

        <section>
          <p class="mar30px l-height15">
            楽天カードは　ハワイ・ワイキキ T ギャラリア ハワイ by DFS内にある会員様専用ラウンジで、会員様だけの特別なハワイの旅を演出いたします。<br>
            楽天カードが厳選したショップ、レストランで広くお使いいただける「楽天カード 特典クーポン」を多数ご用意。<br>
            また、楽天トラベルデスクも併設。ハワイの旅をサポートいたします。
          </p>
        </section>
      </div>

      <section id="new-information">
        <% include ../include/_info %>
      </section>

      <div id="btn-area">
        <section>
          <a href="https://r10.to/hv24g0" class="display-block mar-bottom15"><img src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/koikoi_604x105.png" alt="Koi Koi Hawaii 楽天カードからお得なハワイの現地情報をおとどけ中" class="img-auto img-res" /></a>
          <a href="/overseas/hawaii-lounge/coupon/" class="display-block"><img src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/btn02.png" alt="楽天カード 特典クーポン" class="img-auto img-res" /></a>
        </section>
      </div>



      <div id="lounge" class="bg-white mar50px">
        <h2 class="t-center red-back text-white pad20px"><img src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/lounge-logo-white.png" alt="Rakuten Card ラウンジ" width="483" height="37" /></h2>

        <section>
          <h2 class="l-height-1 t-right img-50"><img class="l-mar10px img-auto" src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/staff.png" alt="日本語スタッフ常駐" /><img class="l-mar10px img-auto" src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/free.png" alt="ご利用無料" /></h2>
          <p class="mar-top20 mar-bottom20 div92">ラウンジ内サービスは、もちろん無料。<br>現地の日本語対応ができるスタッフが、ハワイでも笑顔でおもてなしいたします。</p>
          <div >
            <div class="item"><img src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/photo01.png" alt="Ｔ ギャラリア ハワイ by DFS" /></div>
            <div class="item"><img  src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/photo02.png" alt="楽天カードラウンジ 外観" /></div>
            <div class="item"><img  src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/photo03.png" alt="楽天カードラウンジ 内観" /></div>
          </div>
        </section>
      </div>

      <div id="service" class="bg-bluegray mar-top30 pd-bottom30">
        <h2 class="t-center blue-back text-white l-height23"><img class="m-rigth10 img-auto" src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/service-ico.png" alt="サービス内容" />サービス内容</h2>

        <section class="mar20px">
          <p class="t-left">Ｔ ギャラリア ハワイ by DFSには、ワイキキトロリーが停車するのでとても便利。<br>ご利用は無料。お友達同士で、ご家族で。ぜひお立ち寄りください。</p>

          <div class="mar-top20">
            <h3 class="t-center"><span class="blue-ul"><img class="r-mar10px img-auto img-res" src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/lounge-logo.png" alt="Rakuten Card ラウンジサービス" /></span></h3>

            <div class="flex-container-wrap">
              <div class="item2">
                <div class="flex-container-icon">
                  <img class="item-icon" src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/card.png" alt="カード盗難・紛失時のご相談" /><p class="item-comment t-left t-555 l-height-12 t-size13">カード盗難・紛失時のご相談</p></div>
              </div>
              <div class="item2">
                <div class="flex-container-icon">
                  <img class="item-icon" src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/bag.png" alt="お荷物の当日中一時預かり" /><p class="t-left t-555 l-height-12 mar-top5 item-comment t-size13">お荷物の当日中一時預かり</p>
                </div>
              </div>
              <div class="item2">
                <div class="flex-container-icon">
                  <img src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/wifi.png" alt="Wi-Fi" class="item-icon" />
                  <p class="t-left t-555 l-height-12 mar-top5 item-comment t-size13">Wi-Fi</p>
                </div>
              </div>
              <div class="item2">
                <div class="flex-container-icon">
                  <img src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/pc.png" alt="PC　プリンター" class="item-icon" />
                  <p class="t-left t-555 l-height-12 mar-top5 item-comment t-size13">PC/プリンター</p>
                </div>
              </div>
              <div class="item2">
                <div class="flex-container-icon">
                  <img src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/drink.png" alt="温かいコーヒーや冷たいジュースのご提供" class="item-icon" />
                  <p class="t-left t-555 l-height-12 mar-top5 item-comment t-size12">温かいコーヒーや冷たいジュースのご提供</p>
                </div>
              </div>
              <div class="item2">
                <div class="flex-container-icon">
                  <img src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/umbrella.png" alt="傘貸出し" class="item-icon" />
                  <p class="t-left t-555 l-height-12 mar-top5 item-comment t-size13">傘貸出し</p>
                </div>
              </div>
              <div class="item2">
                <div class="flex-container-icon">
                  <img src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/chair.png" alt="マッサージチェア" class="item-icon" />
                  <p class="t-left t-555 l-height-12 mar-top5 item-comment t-size13">マッサージチェア</p>
                </div>
              </div>
              <div class="item2">
                <div class="flex-container-icon">
                  <img src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/toilet.png" alt="ラウンジ内トイレ完備" class="item-icon" />
                  <p class="t-left t-555 l-height-12 mar-top5 item-comment t-size13">ラウンジ内トイレ完備</p>
                </div>
                <p class="font85 l-height-12 mar-top0">※ウォシュレットがついております</p>
              </div>
            </div>

            <div class="cyan-border pad-bottom30px mar-bottom40">
              <div class="minus-mar20px t-size15 t-555 t-center mar-bottom30"><span class="pd-7 bg-bluegray"><img class="img-auto" src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/mama.png" alt="ご家族連れにもうれしい" />ご家族連れにもうれしい</span></div>
              <div class="flex-container90">
                <div class="item3 line_center"><img src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/stroller.png" alt="ベビーカー貸出し" /><p class="t-center t-555 l-height-12 mar-top5 pad0px">ベビーカー<br>貸出し(※)</p></div>
                <div class="item3 line_center"><img src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/baby.png" alt="授乳室" /><p class="t-center t-555 l-height-12 mar-top5 pad0px">授乳室</p></div>
                <div class="item3 line_center"><img src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/kids.png" alt="キッズスペース" /><p class="t-center t-555 l-height-12 mar-top5 pad0px">キッズ<br>スペース</p></div>
              </div>
              <p class="t-size14 t-555 mar-bottom30 mar-top10 p-relative index99 div85 l-height-12">※ベビーカーには数に限りがございますので、あらかじめご了承ください。</p>

              <div id="aprica">
                <h5 class="arrow_box t-size14">楽天カードなら小さなお子様連れにも安心・便利！</h5>
                <h3 class="t-center mar-top30 div70"><img src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/aprica-logo.png" alt="Apricaベビーカー レンタル無料" /></h3>
                <div class="t-center">
                  <img src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/smooove.png" alt="smooove" />
                  <img src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/nanosmart.png" alt="nanosmart" />
                  <img src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/maficalair.png" alt="magicalair" />
                  <h4 class="mar-top15"><span class="blue-ul">7日間までレンタルいただけます。</span></h4>
                  <p class="t-size13">※数量に限りがございます。</p>
                  <ul class="t-left aprica-ul">
                    <li>19:30までにご来店のうえ、ご返却ください。</li>
                    <li>事前予約は受け付けておりません。</li>
                    <li>事故等につきましては一切の責任を負いかねますので、あらかじめご了承ください。</li>
                    <li>貸し出しベビーカーの主な機能、特長についてはラウンジにてご確認ください。</li>
                    <li><a href="//r10.to/hrzJ6t">ベビーカーの貸し出しに関するよくあるご質問はこちら</a></li>
                  </ul>
                </div>
              </div>
            </div>

          </div>

          <div id="traveldesk" class="bg-white pad10px navy-border">
            <h3 class="t-center t-navy mar-top10"><span class="navy-ul"><img src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/travel-logo.png" alt="Rakuten Travel デスク提供サービス" /></span></h3>

            <p class="t-left mar-top40 div94 l-height15">ハワイ滞在中のご相談はお気軽にどうぞ！<br>オプショナルツアー、空港送迎、レストラン、スパのご予約承ります。楽天限定プランもご用意してお待ちしております！</p>
            <img  src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/travel-photo.png" alt="Rakuten Travel デスク" />
            <div class="flex-container mar20px">
              <div class="item2-desk">
                <div class="flex-container-icon"><img class="dis-inline-b item-icon-desk" src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/tour.png" alt="オプショナルツアーのご予約" />
                  <p  class="t-left t-555 l-height-12 item-comment-desk t-size13">オプショナルツアーのご予約</p>
                </div>
              </div>
              <div class="item2-desk">
                <div class="flex-container-icon"><img class="dis-inline-b r-mar20px item-icon-desk" src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/restrant.png" alt="レストラン・スパのご予約" />
                  <p  class="t-left t-555 l-height-12 item-comment-desk t-size13">レストラン・スパのご予約</p>
                </div>
              </div>
            </div>

            <div class="navy-border pad-bottom30px mar-bottom20 div98">
              <h3 class="minus-mar15px t-center mar-bottom20 t-navy "><span class="bg-white pd-7">デスク営業時間/Tel</span></h3>
              <div class="div94">
                <h5 class="t-size18 mar-bottom15 t-555"><img class="img-auto r-mar10px" src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/clock.png" alt="営業時間" />9:30～17:30<span class="t-size14">(年中無休)</span></h5>
                <h5 class="t-size18 t-555"><img class=" img-auto r-mar10px" src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/telephone.png" alt="電話番号" />808-926-0155</h5>
              </div>
            </div>

            <div>
              <a href="//img.travel.rakuten.co.jp/image/tr/hi/hwdesk/lONgT/"><img src="//img.travel.rakuten.co.jp/kaigai/special/hawaii/desk/bnr/570_200.jpg" alt="楽天トラベルデスク" /></a>
            </div>

          </div>
        </section>
      </div><!--service-->


      <div id="map" class="pd-bottom40">
        <h2 class="t-center blue-back text-white l-height23"><img class="m-rigth10 img-auto" src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/map-ico.png" alt="所在地<" />所在地/MAP</h2>

        <section class="mar20px">
          <p class="l-height15">ワイキキ中心部のカラカウア通りに面したT ギャラリア ハワイ by DFSの2階です。<br>330 Royal Hawaiian Avenue, Honolulu,HI 96815 (USA)</p>

          <div class="mar-top5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3717.7796218706053!2d-157.83088314967782!3d21.280189285793398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c006d8a73703fd1%3A0x3b54931a2f0c49f!2zMzMwIFJveWFsIEhhd2FpaWFuIEF2ZSwgSG9ub2x1bHUsIEhJIDk2ODE1IOOCouODoeODquOCq-WQiOihhuWbvQ!5e0!3m2!1sja!2sjp!4v1500442003089" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

            <h3 class="t-center pad10px" style="color:#333333;">楽天カードラウンジは2階フロアにございます</h3>
            <img class="mar-top10 mar-bottom5"  src="//image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/sp-map_03.png?d=1811" alt="館内図" style="width:100%; max-width:600px;"/>
            <div class="mar-top5 t-center">
              <img class="pd-bottom7"  src="//image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/sp-map_04A.png" alt="車椅子、ベビーカー等でお越しのお客様" style="width:100%; max-width:600px;"/>
            </div>
            <h4 class="mar-top15 mar-bottom20 t-center gold-ul">車椅子、ベビーカー等でお越しのお客様</h4>
            <p class="mar-top20 mar-bottom20 div92">BURBERRY(バーバリー)左側の通路を奥へ進み、楽天トラベルデスク入口側のエレベーターをご利用ください。</p>

            <div class="mar-top5 t-center">
              <img class="pd-bottom7"  src="//image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/sp-map_04BC.png" alt="エスカレーターでお越しのお客様" style="width:100%; max-width:600px;"/>
            </div>
            <h4 class="mar-top15 mar-bottom20 t-center gold-ul">エスカレーターでお越しのお客様</h4>
            <p class="mar-top20 mar-bottom50 div92">BURBERRY(バーバリー)右側のエスカレーターより、2階へおあがりください。他のエスカレーターからはお越しいただけませんのでご注意ください。<br>
              <span class="font_small">B:カラカウア通り側 入口(T ギャラリア 正面)からお越しの場合<br>
                C:ロイヤル・ハワイアン通り側 入口(ワイキキトロリー停車場)からお越しの場合</span></p>
          </div>

          <div class="blue-border div98 pad-bottom30px mar-bottom20 mar-top30">
            <h3 class="minus-mar10px t-center mar-bottom20 t-blue "><span class="bg-white pd-7">ラウンジ営業時間/Tel</span></h3>
            <div class="div94">
              <p class="t-size18 mar-bottom10 t-555 font_bold"><img class="r-mar10px img-auto" src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/clock.png" alt="営業時間" />9:30～20:00<span class="t-size14">(年中無休)&nbsp;※最終受付19:45</span></p>
              <p class="t-size18 mar-bottom10 t-555 font_bold"><img class="r-mar10px img-auto" src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/telephone.png" alt="電話番号" />808-926-0151</p>
              <p class="t-size18 font_bold"><img class="r-mar20px img-mail" src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/sp-mail.png" alt="メールアドレス" width="277" height="17" /></p>
              <p class="mar0 font_small">
                ※<a href="//r10.to/hOXqaR">ラウンジのご利用に関するよくあるご質問はこちら</a><br>
                お客様からよくいただくご質問・ご要望を掲載しております。お問い合わせの前に、ぜひ一度ご確認ください。<br>
                ※楽天ブラックカード(Mastercard・JCB)をお持ちのお客様は、楽天ブラックカードのコンシェルジュスタッフにてレストランやレンタカーの予約を承ることもできます。日本を出発される前に、事前に国内からの手配も可能となりますので、お手元に楽天ブラックカードをご用意のうえ、<a href="/e-navi/">楽天e-NAVI</a>メニュー「Mastercard会員様　専用特典」/ 「JCB会員様　専用特典」ページ記載のデスク(24時間・年中無休)へご連絡くださいますようお願いいたします。<br>
                ※観光情報等のご案内につきましては、ラウンジにて直接スタッフにおたずねください。<br>
                ※お問い合わせの内容によっては回答にお時間を頂戴する場合もございますので、あらかじめご了承ください。
              </p>
            </div>
          </div>

        </section>
      </div><!--map-->



      <div id="conditions">
        <h2 class="t-center blue-back text-white l-height23"><img class="m-rigth10 img-auto" src="https://image.card.jp.rakuten-static.com/card_corp/smart/contents/service/rakuten-card-lounge/hawaii/card-ico.png" alt="所在地" />対象カード・ご利用条件</h2>

        <section class="mar20px">
          <p class="l-height15">楽天カード株式会社が日本で発行しているクレジットカード全てが対象となります。<br>※当ラウンジは楽天カードご提示でご利用いただけます。<br>
            ※楽天カード保有者と同行者のご利用が可能となります。</p>


        </section>
      </div><!--conditions-->

      <div>
        <a href="#top" id="js-nav-top" class="js-move-to-item-custom to-top" style="display: none;position:fixed;bottom:10px;right:10px;color:#fff;">▲</a>
      </div>




    </div><!--hawaiiContainer-->

    <div id="footer01">
      <ul id="utility">
        <li class="first font90"><a href="/service/basic/">お客様サポート</a></li>
        <li class="font90"><a href="/contact/robbery/?l-id=corp_de_sp_footer_0002">カードの紛失・盗難</a></li>
      </ul>
      <ul id="links">
        <li class="first"><a href="/corporate/?l-id=corp_de_sp_footer_0003">会社概要</a></li>
        <li><a href="/personal/statement/?l-id=corp_de_sp_footer_0004">個人情報保護方針</a></li>
        <li><a href="/agreement/?l-id=corp_de_sp_footer_0005">会員規約</a></li>
        <li><a href="/corporate/news_release/?l-id=corp_de_sp_footer_0006">プレスリリース</a></li>
        <li><a href="/info/rules/credit_policy/?l-id=corp_de_sp_footer_0007">クレジットポリシー</a></li>
        <li><a href="/info/rules/site/?l-id=corp_de_sp_footer_0008">サイトのご利用案内</a></li>
        <li><a href="//r10.to/h1i4O1">採用情報</a></li>
        <li><a href="/info/rules/menseki/?l-id=corp_de_sp_footer_0010">免責事項</a></li>
        <li><a href="/info/rules/antisocialforces/?l-id=corp_de_sp_footer_0011">反社会的勢力に対する基本方針</a></li>
        <li><a href="/sitemap/?l-id=corp_de_sp_footer_0012">サイトマップ</a></li>
        <li><a href="http://www.j-credit.or.jp/">日本クレジット協会</a></li>
      </ul>
      <p class="copy">&copy; Rakuten Card Co., Ltd.</p>
      <p class="fcb">
        <a href="//corp.rakuten.co.jp/fcbarcelona/?scid=wi_rkc_gip_jp_none_original-launch_all_20170809_unpaid_top-page_corp-fcbarcelona"><img src="//image.card.jp.rakuten-static.com/card_corp/smart/common/RakutenFCB_JL_316_129_w.png" alt="楽天&times;FCバルセロナ 特設ページ" width="158"></a>
      </p>
    </div>
    <!-- /#footer01 -->

    <!-- iframe tags start-->
    <input type="hidden" name="scIframe" id="scAccountId" value="card">
    <script type="text/javascript" src="//r.r10s.jp/com/ap/analytics/iFrameTracking/iframe.js?v=20170904"></script>
    <!-- /iframe tags end-->


    <script src="//static.card.jp.rakuten-static.com/card_corp/smart/js/common/jquery-2.0.3.min.js?1"></script>
    <script src="//static.card.jp.rakuten-static.com/card_corp/smart/js/common/web-logics.1.1.min.js"></script>
    <script type="text/javascript">
      $(window).load(function(){
        var this_url = location.href;
        var params = ( this_url.indexOf('?') > -1 )? this_url.split('?')[1]: '';
        var tabname = 'coupon-title';

        if ( params === tabname ) {
          var $tabtitle = $('#' + tabname);
          var $tabparent = $tabtitle.closest('[id^="panel-"]');
          var tabparent_id = $tabparent.attr('id');
          var $tabparent_ctrl_btn = $('[for^="' + tabparent_id + '-ctrl"]');

          $tabparent_ctrl_btn.trigger('click');
          $(window).scrollTop($tabtitle.offset().top);
        }
      });

      $(function(){
        $('.js-move-to-item-custom').on('click', function(e){
          e.preventDefault();

          var $target = $(this);
          var href = $target.attr('href');
          var $href = $(href);

          if ( $href[0] ) {
            var offset = $href.offset().top;

            $('html, body').animate({
              scrollTop: offset
            }, 'swing');
          }
        });
      });
    </script>

    <script src="//static.card.jp.rakuten-static.com/card_corp/smart/js/common/header.min.js"></script>
  </body>

</html>
