<!DOCTYPE html>
<html lang="ja" xmlns:og="http://ogp.me/ns#">

<head>
  <meta charset="UTF-8">
  <title>海外でも大活躍！楽天カードを持って旅に出よう｜楽天カード</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta content="telephone=no" name="format-detection">
  <meta name="description" content="楽天カードは海外でも大活躍のクレジットカード。海外でも安心のサポート。旅を快適にするサービスも充実。">
  <meta name="keywords" content="海外クレジットカード,海外保険,海外ショッピング,海外キャッシング,楽天カード">
  <meta name="apple-mobile-web-app-capable" content="no">
  <meta property="og:title" content="海外でも大活躍！楽天カードを持って旅に出よう｜楽天カード">
  <meta property="og:description" content="楽天カードは海外でも大活躍のクレジットカード。海外でも安心のサポート。旅を快適にするサービスも充実。">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="楽天カード">
  <meta property="og:image" content="https://image.card.jp.rakuten-static.com/card_corp/pc/contents/logo_200x200.gif">
  <meta property="fb:page_id" content="104759839604740">
  <link rel="canonical" href="https://www.rakuten-card.co.jp/overseas/">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/header-2.0.0.min.css">
  <link rel="apple-touch-icon" href="//image.card.jp.rakuten-static.com/card_corp/smart/common/apple_touch_icon.png">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/default.min.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/lay2.0/common/common_smart.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/lay2.0/common/style_smart.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/style.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/card_rakuten/card/sp-card-top-style.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/contents/service/oversea/style.min.css">

  <!-- kaizen -->
  <script data-kz-key="2adca9d9f7b6bda8" data-kz-namespace="kzs" src="//cdn.kaizenplatform.net/s/2a/dca9d9f7b6bda8.js" charset="utf-8"></script>
  <!-- kaizen -->

</head>

<body>
  <header class="gh-header">
    <div class="gh-header-content">
      <div class="gh-hamburger js-side-nav-toggle">
        <figure><img src="//image.card.jp.rakuten-static.com/card_corp/smart/common/header/rexicon-32-menu.svg" width="28" height="28" alt="メニュー"></figure>
        メニュー
      </div>
    </div>
    <div class="gh-header-content">
      <a href="/" class="gh-logo"><img src="//image.card.jp.rakuten-static.com/card_corp/common/logo/logo_vertical-2.0.0.svg" width="76" height="40" alt="楽天カード株式会社"></a>
    </div>
    <div class="gh-header-content">
      <a href="/e-navi/sd/index.xhtml" class="gh-login">
        <figure><img src="//image.card.jp.rakuten-static.com/card_corp/smart/common/header/rexicon-32-login-l.svg" width="28" height="28" alt="ログイン"></figure>
        ログイン
      </a>
    </div>
  </header>
  <div id="side-nav">
    <div class="side-nav-wrapper">
      <div class="side-nav-content">
        <div>
          <div class="side-nav-header">
            <a class="side-nav-logo" href="/">
              <img src="//image.card.jp.rakuten-static.com/card_corp/common/logo/logo_vertical-2.0.0.svg" width="76" height="40" alt="楽天カード株式会社">
            </a>
            <div class="side-nav-close">
              <figure><img src="//image.card.jp.rakuten-static.com/card_corp/smart/common/header/rexicon-32-close.svg" width="28" height="28" alt="閉じる"></figure>
              <div class="side-nav-close__txt">閉じる</div>
            </div>
          </div>
        </div>
        <nav>
          <dl>
            <dt><a href="/?l-id=corp_oo_gnav_top_sp">トップ</a></dt>
          </dl>
          <dl>
            <dt><a href="/card/?l-id=corp_oo_gnav_product_sp">カードをつくる</a></dt>
          </dl>
          <dl>
            <dt><a href="/campaign/?l-id=corp_oo_gnav_campaign_sp">キャンペーン</a></dt>
          </dl>
          <dl>
            <dt class="js-nav-accordion-toggle">
              <div>楽天カードが選ばれる理由<span class="side-nav-icon-arrow"><span class="side-nav-icon-arrow_left"></span><span class="side-nav-icon-arrow_right"></span></span></div>
            </dt>
            <dd>
              <a href="/point/?l-id=corp_oo_from_gnav_to_point_sp">ポイント</a>
              <a href="/security/?l-id=corp_oo_from_gnav_to_security_sp">セキュリティ</a>
              <a href="/overseas/?l-id=corp_oo_from_gnav_to_overseas_sp">海外・トラベル</a>
            </dd>
          </dl>
          <dl>
            <dt class="js-nav-accordion-toggle">
              <div>機能・サービス<span class="side-nav-icon-arrow"><span class="side-nav-icon-arrow_left"></span><span class="side-nav-icon-arrow_right"></span></span></div>
            </dt>
            <dd>
              <a href="/revo/?l-id=corp_oo_from_gnav_to_revo_sp">リボ払い</a>
              <a href="/cashing/?l-id=corp_oo_from_gnav_to_cashing_sp">キャッシング</a>
              <a href="/installment/?l-id=corp_oo_from_gnav_to_installment_sp">分割払い</a>
              <a href="/bonus/?l-id=corp_oo_from_gnav_to_bonus_sp">ボーナス払い</a>
              <a href="/point-pay/?l-id=corp_oo_from_gnav_to_point-pay_sp">ポイントで支払い</a>
              <a href="/service/basic/?l-id=corp_oo_from_gnav_to_basic_sp">楽天カードの基本</a>
              <a href="/service/edy/?l-id=corp_oo_from_gnav_to_edy_sp">楽天Edy</a>
              <a href="/service/?l-id=corp_oo_from_gnav_to_service_sp">役立つサービス</a>
            </dd>
          </dl>
          <dl>
            <dt class="js-nav-accordion-toggle">
              <div>お問い合わせ<span class="side-nav-icon-arrow"><span class="side-nav-icon-arrow_left"></span><span class="side-nav-icon-arrow_right"></span></span></div>
            </dt>
            <dd>
              <a href="/contact/robbery/?l-id=corp_oo_from_gnav_to_robbery_sp">カードの紛失・盗難</a>
              <a href="https://support.rakuten-card.jp/?site_domain=guest">よくあるご質問</a>
              <a href="/contact/phone/?l-id=corp_oo_from_gnav_to_phone_sp">お問い合わせ</a>
            </dd>
          </dl>
        </nav>
        <div class="side-nav-footer">
          <ul class="side-nav-others">
            <li><a href="/merchant/?l-id=corp_oo_gnav_merchant_sp">法人・加盟店の方</a></li>
            <li><a href="https://www.rakuten.co.jp/sitemap/sp/?scid=su_795">楽天グループサービス</a></li>
          </ul>
          <ul class="side-nav-appli">
            <li><a href="/service/app/?l-id=corp_oo_from_gnav_to_app_sp">楽天カードアプリ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="side-nav-mask"></div>



  <noscript>
    <p class="noJavascript">JavaScriptの設定がオンになっていないため、一部ご利用いただけない機能があります。<br>
      お手数ですが設定をオンにしてご利用ください。</p>
  </noscript>

  <header>
    <input type="checkbox" id="toggle-menu" name="toggle-menu">
    <div id="js-follow-scroll">
      <div id="js-follow-scroll-inr" class="is-on">
        <ul class="oslp-nav">
          <li class="oslp-nav_item"><a href="#oslp-use" class="js-move-to-item">使える</a></li>
          <li class="oslp-nav_item"><a href="#oslp-support" class="js-move-to-item">安心</a></li>
          <li class="oslp-nav_item"><a href="#oslp-lounge" class="js-move-to-item">快適</a></li>
          <li class="oslp-nav_item">
            <label for="toggle-menu" class="btn-menu oslp-nav_trigger">
              <div class="oslp-nav_hamburger">
                <div>
                  <span></span><span></span><span></span>
                </div>
              </div>
            </label>
          </li>
        </ul>
        <nav class="oslp-toggle-nav submenu">
          <div class="oslp-toggle-nav_title">
            海外ご利用ガイドメニュー
          </div>
          <div class="oslp-toggle-nav_title">
            <a href="/overseas/guide/?l-id=enavi_oo_oversea_to_foreign-countries_menutitle_guidetop">ガイドトップ</a>
          </div>
          <div class="oslp-toggle-nav_title">
            <a href="/overseas/guide/ready/?l-id=enavi_oo_oversea_to_foreign-countries_menutitle_beforegoing#tab2">ご出発の前に</a>
          </div>
          <ul class="oslp-toggle-nav_list">
            <li class="oslp-toggle-nav_list_item"><a href="/overseas/guide/hospitality/?l-id=enavi_oo_oversea_to_foreign-countries_menu_souvenir_delivery_navi#menu3-0" data-tabName="corp-sp-menu-attention-menu3-0"><span class="icon_arrow_link_r">海外お土産宅配サービス</span></a></li>
            <li class="oslp-toggle-nav_list_item"><a href="/overseas/guide/hospitality/?l-id=enavi_oo_oversea_to_foreign-countries_menu_rent‐a‐car_navi#menu3-2" data-tabName="corp-sp-menu-attention-menu3-2"><span class="icon_arrow_link_r">海外レンタカー</span></a></li>
          </ul>
          <ul class="oslp-toggle-nav_list">

            <li class="oslp-toggle-nav_list_item"><a href="/overseas/guide/hospitality/?l-id=enavi_oo_oversea_to_foreign-countries_menu_baggage_delivery_navi#menu3-3" data-tabName="corp-sp-menu-attention-menu3-3"><span class="icon_arrow_link_r">手荷物宅配</span></a></li>
            <li class="oslp-toggle-nav_list_item"><a href="/overseas/guide/hospitality/?l-id=enavi_oo_oversea_to_foreign-countries_menu_wifi_rental_navi#menu3-4" data-tabName="corp-sp-menu-attention-menu3-4"><span class="icon_arrow_link_r">Wi-Fiレンタル</span></a></li>
          </ul>
          <ul class="oslp-toggle-nav_list">

            <li class="oslp-toggle-nav_list_item"><a href="/overseas/guide/hospitality/?l-id=enavi_oo_oversea_to_foreign-countries_menu_luggage_protection_navi#menu3-5" data-tabName="corp-sp-menu-top-menu3-5"><span class="icon_arrow_link_r">防寒具一時預かり</span></a></li>
            <li class="oslp-toggle-nav_list_item"><a href="/overseas/guide/hospitality/?l-id=enavi_oo_oversea_to_foreign-countries_menu_r_travel_local_lounge_navi#menu3-6" data-tabName="corp-sp-menu-top-menu3-6"><span class="icon_arrow_link_r nowrap">楽天トラベル現地ラウンジ</span></a></li>
          </ul>
          <ul class="oslp-toggle-nav_list">

            <li class="oslp-toggle-nav_list_item"><a href="/overseas/guide/hospitality/?l-id=enavi_oo_oversea_to_foreign-countries_menu_r_premiumcard_privilege_navi#menu3-8" data-tabName="corp-sp-menu-top-menu3-8"><span class="icon_arrow_link_r nowrap">楽天プレミアムカード会員特典</span></a></li>
            <li class="oslp-toggle-nav_list_item none"><a><span class="no_icon">&nbsp;</span></a></li>
          </ul>
          <div class="oslp-toggle-nav_title">
            <a href="/overseas/guide/relief/?l-id=enavi_oo_oversea_to_foreign-countries_menutitle_safety#tab4">緊急時でも安心</a>
          </div>
          <ul class="oslp-toggle-nav_list">
            <li class="oslp-toggle-nav_list_item"><a href="/overseas/guide/relief/?l-id=enavi_oo_oversea_to_foreign-countries_menu_lost_theft_navi#menu4-1" data-tabName="corp-sp-menu-top-menu4-1"><span class="icon_arrow_link_r">盗難・紛失時</span></a></li>
            <li class="oslp-toggle-nav_list_item"><a href="/overseas/guide/relief/?l-id=enavi_oo_oversea_to_foreign-countries_menu_overseas_emergency_service_navi#menu4-2" data-tabName="corp-sp-menu-top-menu4-2"><span class="icon_arrow_link_r">海外緊急サービス</span></a></li>
          </ul>
          <ul class="oslp-toggle-nav_list">
            <li class="oslp-toggle-nav_list_item"><a href="/overseas/guide/relief/?l-id=enavi_oo_oversea_to_foreign-countries_menu_overseas_insurance_navi#menu4-3" data-tabName="corp-sp-menu-top-menu4-3"><span class="icon_arrow_link_r">海外旅行傷害保険</span></a></li>
            <li class="oslp-toggle-nav_list_item none"><a><span class="no_icon">&nbsp;</span></a></li>
          </ul>
          <div class="oslp-toggle-nav_title">
            <a href="/overseas/guide/attention/?l-id=enavi_oo_oversea_to_foreign-countries_menutitle_careful#tab4">旅行中の注意点</a>
          </div>
          <ul class="oslp-toggle-nav_list">
            <li class="oslp-toggle-nav_list_item"><a href="/overseas/guide/attention/?l-id=enavi_oo_oversea_to_foreign-countries_menu_overseas_trouble_navi#menu5-1" data-tabName="corp-sp-menu-top-menu5-1"><span class="icon_arrow_link_r">海外旅行中でのよくあるトラブル</span></a></li>
            <li class="oslp-toggle-nav_list_item none"><a><span class="no_icon">&nbsp;</span></a></li>
          </ul>
          <div class="oslp-toggle-nav_title">
            <a href="/overseas/guide/brand/?l-id=enavi_oo_oversea_to_foreign-countries_menutitle_brandprivilege#tab6">ブランド優待</a>
          </div>
          <ul class="oslp-toggle-nav_list">
            <li class="oslp-toggle-nav_list_item"><a href="/overseas/guide/brand/?l-id=enavi_oo_oversea_to_foreign-countries_menu_amex_privilege_navi#menu6-0" data-tabName="corp-sp-menu-top-menu6-1"><span class="icon_arrow_link_r">American Expressの海外優待ガイド</span></a></li>
            <li class="oslp-toggle-nav_list_item"><a href="/overseas/guide/brand/?l-id=enavi_oo_oversea_to_foreign-countries_menu_visa_privilege_navi#menu6-1" data-tabName="corp-sp-menu-top-menu6-1"><span class="icon_arrow_link_r">Visaの海外優待ガイド</span></a></li>
          </ul>
          <ul class="oslp-toggle-nav_list">
            <li class="oslp-toggle-nav_list_item"><a href="/overseas/guide/brand/?l-id=enavi_oo_oversea_to_foreign-countries_menu_mc_privilege_navi#menu6-2" data-tabName="corp-sp-menu-top-menu6-2"><span class="icon_arrow_link_r">MasterCardの海外優待ガイド</span></a></li>
            <li class="oslp-toggle-nav_list_item"><a href="/overseas/guide/brand/?l-id=enavi_oo_oversea_to_foreign-countries_menu_mc_privilege_app_navi#menu6-3" data-tabName="corp-sp-menu-top-menu6-3"><span class="icon_arrow_link_r">MasterCardの海外優待アプリ</span></a></li>
          </ul>
          <ul class="oslp-toggle-nav_list">
            <li class="oslp-toggle-nav_list_item"><a href="/overseas/guide/brand/?l-id=enavi_oo_oversea_to_foreign-countries_menu_jcb_privilege_navi#menu6-4" data-tabName="corp-sp-menu-top-menu6-4"><span class="icon_arrow_link_r">JCBの海外優待サービス</span></a></li>
            <li class="oslp-toggle-nav_list_item"><a href="/overseas/guide/brand/?l-id=enavi_oo_oversea_to_foreign-countries_menu_jcb_privilege_app_navi#menu6-5" data-tabName="corp-sp-menu-top-menu6-5"><span class="icon_arrow_link_r">JCBの海外優待アプリ</span></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <section class="oslp-hero">
    <h1 class="oslp-hero_title"><img src="//image.card.jp.rakuten-static.com/card_corp/smart/contents/service/oversea/title_hero.png" alt="海外でも楽天カードが大活躍"></h1>
    <div class="oslp-partition-half_wrap">
      <div class="oslp-partition-half-left oslp-partition-half-left--white"></div>
      <div class="oslp-partition-half-right oslp-partition-half-right--white"></div>
    </div>
    <div class="oslp-hero_btn">
      <a href="#oslp-use" class="js-move-to-item">
        <div class="oslp-hero_btn_inner">
          <p>scroll</p>
        </div>
      </a>
    </div>
  </section>

  <div class="oslp-interlude">
    <p class="oslp-interlude_title oslp-interlude_title_use"><img src="//image.card.jp.rakuten-static.com/card_corp/smart/contents/service/oversea/title_interlude_use.png" alt="使える"></p>
  </div>

  <section id="oslp-use" class="oslp-use">
    <div class="oslp-partition-half_wrap oslp-partition-half_wrap--reverse">
      <div class="oslp-partition-half-left oslp-partition-half-left--reverse"></div>
      <div class="oslp-partition-half-right oslp-partition-half-right--reverse"></div>
    </div>
    <h2 class="oslp-use_title"><img src="//image.card.jp.rakuten-static.com/card_corp/smart/contents/service/oversea/title_use.png" alt="海外でのカード決済で1%分のポイントが貯まります"></h2>
    <p class="oslp-use_desc_img"><img src="//image.card.jp.rakuten-static.com/card_corp/smart/contents/service/oversea/desc_use.png" alt="100円で1ポイント"></p>
    <div class="oslp-use_desc_txt">
      <p>国内でご利用される場合と同等、<br>ご利用に対して<span class="fs22 fwB">1</span><span class="fwB">％分</span>のポイントが貯まります。<br>(日本円だと100円につき1円相当)</p>
    </div>
    <div class="oslp-partition-half_wrap">
      <div class="oslp-partition-half-left oslp-partition-half-left--white"></div>
      <div class="oslp-partition-half-right oslp-partition-half-right--white"></div>
    </div>
  </section>

  <section id="oslp-cashing" class="oslp-cashing">
    <div class="oslp-partition-half_wrap oslp-partition-half_wrap--reverse">
      <div class="oslp-partition-half-left oslp-partition-half-left--reverse"></div>
      <div class="oslp-partition-half-right oslp-partition-half-right--reverse"></div>
    </div>
    <h2 class="oslp-cashing_title"><img src="//image.card.jp.rakuten-static.com/card_corp/smart/contents/service/oversea/title_cashing.png" alt="海外のATMで簡単に現地通貨を引き出せます"></h2>
    <div class="oslp-cashing_desc_txt">
      <p class="cWhite">楽天カードの海外キャッシングを使えば<br><span class="fs16 fwB">海外のATM/CDで現地通貨を引き出せます。</span></p>
    </div>
    <p class="ph0"><a href="https://www.rakuten-card.co.jp/cashing/overseas/?l-id=corp_oo_from_cashing_to_cashing-overseas_sp" class="oslp-btn oslp-btn--shadow-blue">もっと詳しく知る ＞＞</a></p>
    <div class="oslp-partition-half_wrap">
      <div class="oslp-partition-half-left oslp-partition-half-left--white"></div>
      <div class="oslp-partition-half-right oslp-partition-half-right--white"></div>
    </div>
  </section>

  <section id="oslp-amount" class="oslp-amount">
    <div class="oslp-partition-half_wrap oslp-partition-half_wrap--reverse">
      <div class="oslp-partition-half-left oslp-partition-half-left--reverse"></div>
      <div class="oslp-partition-half-right oslp-partition-half-right--reverse"></div>
    </div>
    <h2 class="oslp-amount_title"><img src="//image.card.jp.rakuten-static.com/card_corp/smart/contents/service/oversea/title_amount.png" alt="出国前にカードのご利用可能額を確認しておきましょう"></h2>
    <div class="oslp-amount_desc_txt">
      <p>キャッシングご利用可能額から<br>海外のATMで現地通貨を引き出せます</p>
    </div>
    <p class="ph0"><a href="/e-navi/sd/members/credit-limit/availability/index.xhtml?l-id=enavi_oo_oversea_to_credit-limit_availability_sp" class="oslp-btn oslp-btn--shadow-blue">ご利用可能額の確認 ＞＞</a></p>
    <div class="oslp-amount_desc_txt">
      <p>ご利用可能額の増額について</p>
    </div>
    <p class="ph0"><a href="/e-navi/sd/members/credit-limit/temp-change/index.xhtml?l-id=enavi_oo_oversea_to_credit-limit_temp-change_sp" class="oslp-btn oslp-btn--shadow-blue mb20">一時的な増枠 ＞＞</a></p>
    <p class="ph0"><a href="/e-navi/sd/members/credit-limit/change/index.xhtml?l-id=enavi_oo_oversea_to_credit-limit_change_sp" class="oslp-btn oslp-btn--shadow-blue">キャッシングのご利用可能額の増枠 ＞＞</a></p>
    <div class="oslp-partition-half_wrap">
      <div class="oslp-partition-half-left oslp-partition-half-left--white"></div>
      <div class="oslp-partition-half-right oslp-partition-half-right--white"></div>
    </div>
  </section>

  <div class="oslp-interlude">
    <p class="oslp-interlude_title"><img src="//image.card.jp.rakuten-static.com/card_corp/smart/contents/service/oversea/title_interlude_relief.png" alt="持って安心"></p>
  </div>

  <section id="oslp-support" class="oslp-support">
    <div class="oslp-partition-half_wrap oslp-partition-half_wrap--reverse">
      <div class="oslp-partition-half-left oslp-partition-half-left--reverse"></div>
      <div class="oslp-partition-half-right oslp-partition-half-right--reverse"></div>
    </div>
    <h2 class="oslp-support_title"><img src="//image.card.jp.rakuten-static.com/card_corp/smart/contents/service/oversea/title_relief.png" alt="楽天カードは、海外先でのケガや病気、トラブルのサポートも充実しています"></h2>
    <div class="oslp-support_desc_txt">
      <p>海外旅行中の病気やケガを補償する、<br><span class="fs20 fwB">安心の保険</span>サービス</p>
    </div>
    <div class="mb10">
      <a href="/overseas/insurance/?l-id=enavi_oo_oversea_to_insurance_sp" class="oslp-imgbtn oslp-imgbtn--shadow-blue">
        <figure>
          <img src="//image.card.jp.rakuten-static.com/card_corp/smart/contents/service/oversea/btn_insurance.jpg" alt="海外旅行傷害保険" class="vaT">
          <!-- inline-block
-->
          <figcaption>海外旅行傷害保険<br><span class="fs12">※楽天プレミアムカードは<br>保険の内容が異なります。</span></figcaption>
        </figure>
      </a>
    </div>
    <div class="oslp-support_desc_txt">
      <p>保険が有効となるためには出国前のカード決済が必要です。<br>詳細をご一読ください。</p>
    </div>
    <p class="ph0"><a href="//static.card.jp.rakuten-static.com/card_corp/pc/pdf/prev/p/premium_card/protection/pr_abroad_201108.pdf" class="oslp-btn oslp-btn--shadow-blue oslp-btn--pdf">楽天プレミアムカードの保険内容はこちら</a></p>
    <div class="oslp-support_desc_txt">
      <p>海外旅行中の<span class="fs20 fwB">緊急医療</span>をサポート</p>
    </div>
    <div>
      <a href="/overseas/assistance/?l-id=enavi_oo_oversea_to_abroad_assistant_sp" class="oslp-imgbtn oslp-imgbtn--shadow-blue">
        <figure>
          <img src="//image.card.jp.rakuten-static.com/card_corp/smart/contents/service/oversea/btn_assistance.jpg" alt="海外アシスタンスサービス">
          <!-- inline-block
-->
          <figcaption>海外アシスタンスサービス</figcaption>
        </figure>
      </a>
    </div>
    <div class="oslp-support_desc_txt">
      <p><span class="fs20 fwB">紛失・盗難</span>専用ダイヤル(24時間受付)や緊急サービス</p>
    </div>
    <div>
      <a href="/overseas/guide/relief/?l-id=enavi_oo_oversea_to_foreign-countries_menu4-1_sp#menu4-1" class="oslp-imgbtn oslp-imgbtn--shadow-blue">
        <figure>
          <img src="//image.card.jp.rakuten-static.com/card_corp/smart/contents/service/oversea/btn_steal.jpg" alt="海外での紛失・盗難">
          <!-- inline-block
-->
          <figcaption>海外での紛失・盗難</figcaption>
        </figure>
      </a>
    </div>
    <div class="oslp-partition-half_wrap">
      <div class="oslp-partition-half-left oslp-partition-half-left--white"></div>
      <div class="oslp-partition-half-right oslp-partition-half-right--white"></div>
    </div>
  </section>

  <div class="oslp-interlude">
    <p class="oslp-interlude_title"><img src="//image.card.jp.rakuten-static.com/card_corp/smart/contents/service/oversea/title_interlude_lounge.png" alt="旅を快適に"></p>
  </div>

  <section id="oslp-lounge" class="oslp-lounge">
    <div class="oslp-partition-half_wrap oslp-partition-half_wrap--reverse">
      <div class="oslp-partition-half-left oslp-partition-half-left--reverse"></div>
      <div class="oslp-partition-half-right oslp-partition-half-right--reverse"></div>
    </div>
    <h2 class="oslp-lounge_title"><img src="//image.card.jp.rakuten-static.com/card_corp/smart/contents/service/oversea/title_lounge.png" alt="海外ラウンジサービス"></h2>
    <div class="oslp-support_desc_txt">
      <p>会員様専用の海外ラウンジで<br>快適な旅を演出します</p>
    </div>
    <p class="oslp-lounge_desc_img"><img src="//image.card.jp.rakuten-static.com/card_corp/smart/contents/service/oversea/cont_lounge1.png" alt="ハワイ・ワイキキ 楽天カードラウンジ ご利用無料 日本語スタッフ常駐"></p>
    <p class="oslp-lounge_desc_img"><img src="//image.card.jp.rakuten-static.com/card_corp/smart/contents/service/oversea/cont_lounge2.png" alt="ハワイ・ワイキキ 楽天カードラウンジ 写真"></p>
    <p class="ph0"><a href="/overseas/hawaii/lounge/?l-id=enavi_oo_oversea_to_rakuten-card-lounge_hawaii01_sp" class="oslp-btn oslp-btn--shadow-blue mb20">楽天カードラウンジについて詳しく知る＞＞</a></p>
    <p class="ph0"><a href="/overseas/hawaii/?l-id=corp_oo_overseas_to_hawaii_sp" class="oslp-btn oslp-btn--shadow-blue mb20">ハワイの詳しい情報はこちら＞＞</a></p>
    <div class="oslp-partition-half_wrap">
      <div class="oslp-partition-half-left oslp-partition-half-left--white"></div>
      <div class="oslp-partition-half-right oslp-partition-half-right--white"></div>
    </div>
  </section>

  <section id="oslp-type" class="oslp-type">
    <div class="oslp-partition-half_wrap oslp-partition-half_wrap--reverse">
      <div class="oslp-partition-half-left oslp-partition-half-left--reverse"></div>
      <div class="oslp-partition-half-right oslp-partition-half-right--reverse"></div>
    </div>
    <h2 class="oslp-type_title"><img src="//image.card.jp.rakuten-static.com/card_corp/smart/contents/service/oversea/title_card_type.png" alt="ラウンジ利用対象カード"></h2>
    <div class="oslp-type_desc_txt">
      <p class="cWhite">空港ラウンジも利用できます<br>対象のカードをご確認ください</p>
    </div>
    <div class="oslp-type_panel">
      <h3 class="oslp-type_panel_title">ハワイ Rakuten Cardラウンジ</h3>
      <ul class="oslp-type_panel_list">
        <li class="oslp-type_panel_list_item"><br>楽天カード<br><img src="//image.card.jp.rakuten-static.com/card_corp/lay2.0/common/card/img_card_01_rakutencard.png" alt="楽天カード"></li>
        <li class="oslp-type_panel_list_item">楽天<br>ゴールドカード<br><img src="//image.card.jp.rakuten-static.com/card_corp/lay2.0/common/card/img_card_10_gold.png" alt="楽天ゴールドカード"></li>
        <li class="oslp-type_panel_list_item">楽天<br>プレミアムカード<br><img src="//image.card.jp.rakuten-static.com/card_corp/lay2.0/common/card/img_card_05_premiumcard.png" alt="楽天プレミアムカード"></li>
      </ul>
      <div class="oslp-support_desc_txt">
        <ul class="oslp-type_desc_note">
          <li class="oslp-type_desc_note_item">※その他楽天カード株式会社が日本で発行しているクレジットカード全てが対象となります。</li>
          <li class="oslp-type_desc_note_item">※楽天銀行デビットカードは対象外となります。</li>
        </ul>
      </div>
    </div>
    <div class="oslp-type_panel">
      <h3 class="oslp-type_panel_title">国内空港ラウンジ</h3>
      <p class="ph0 fs12">国内主要空港・ハワイ/ダニエル・K・イノウエ国際空港、韓国/仁川空港ラウンジが無料　<a href="/service/lounge/?l-id=enavi_oo_oversea_to_lounge_sp">詳細はこちらから ＞</a><br>※楽天ゴールドカードに関しては年間2回の範囲内で無料にてご利用可能です。（毎年9月1日から翌年8月31日を１年間としてこの期間中に2回無料となります。）</p>
      <ul class="oslp-type_panel_list">
        <li class="oslp-type_panel_list_item space"></li>
        <li class="oslp-type_panel_list_item">楽天<br>ゴールドカード<br><img src="//image.card.jp.rakuten-static.com/card_corp/lay2.0/common/card/img_card_10_gold.png" alt="楽天ゴールドカード"></li>
        <li class="oslp-type_panel_list_item">楽天<br>プレミアムカード<br><img src="//image.card.jp.rakuten-static.com/card_corp/lay2.0/common/card/img_card_05_premiumcard.png" alt="楽天プレミアムカード"></li>
        <li class="oslp-type_panel_list_item space"></li>
      </ul>
    </div>
    <div class="oslp-type_panel">
      <h3 class="oslp-type_panel_title">海外空港ラウンジ</h3>
      <p class="ph0 fs12">ラウンジのご利用にはプライオリティ・パス会員カードが必要です。（お申し込みは<span class="fwb">無料</span>）　<a href="//support.rakuten-card.jp/faq/show/58?site_domain=guest">詳細はこちらから ＞</a></p>
      <ul class="oslp-type_panel_list">
        <li class="oslp-type_panel_list_item"></li>
        <li class="oslp-type_panel_list_item">楽天<br>プレミアムカード<br><img src="//image.card.jp.rakuten-static.com/card_corp/lay2.0/common/card/img_card_05_premiumcard.png" alt="楽天プレミアムカード"></li>
        <li class="oslp-type_panel_list_item"></li>
      </ul>
    </div>
    <h2 class="oslp-type_title"><img src="//image.card.jp.rakuten-static.com/card_corp/smart/contents/service/oversea/title_card_apply.png" alt="カードのお申込み"></h2>
    <div class="js-new-user">
      <p class="ph0"><a href="/campaign/rakuten_card/?l-id=enavi_oo_oversea_to_campaign_rakuten_card01_sp" class="oslp-btn oslp-btn--red oslp-btn--shadow-blue mb10">楽天カードのお申し込み ＞＞</a></p>
      <p class="ph0"><a href="/campaign/gold_card/?l-id=enavi_oo_oversea_to_campaign_gold_card_sp" class="oslp-btn oslp-btn--gray oslp-btn--shadow-blue mb10">楽天ゴールドカードのお申し込み ＞＞</a></p>
      <p class="ph0"><a href="/campaign/premium_card/?l-id=enavi_oo_oversea_to_campaign_premium_card_sp" class="oslp-btn oslp-btn--blue oslp-btn--shadow-blue mb10">楽天プレミアムカードのお申し込み ＞＞</a></p>
    </div>
    <div class="js-existing-user">
      <p class="ph0"><a href="/campaign/gold_card/hoyu/?l-id=enavi_oo_oversea_to_campaign_gold_card_hoyu_sp" class="oslp-btn oslp-btn--gray oslp-btn--shadow-blue mb10">楽天ゴールドカードのお申し込み ＞＞</a></p>
      <p class="ph0"><a href="/campaign/premium_card/hoyu/?l-id=enavi_oo_oversea_to_campaign_premium_card_hoyu_sp" class="oslp-btn oslp-btn--blue oslp-btn--shadow-blue mb10">楽天プレミアムカードのお申し込み ＞＞</a></p>
    </div>
    <div class="oslp-partition-half_wrap">
      <div class="oslp-partition-half-left oslp-partition-half-left--white"></div>
      <div class="oslp-partition-half-right oslp-partition-half-right--white"></div>
    </div>
  </section>

  <section id="oslp-hospitality" class="oslp-hospitality">
    <div class="oslp-partition-half_wrap oslp-partition-half_wrap--reverse">
      <div class="oslp-partition-half-left oslp-partition-half-left--reverse"></div>
      <div class="oslp-partition-half-right oslp-partition-half-right--reverse"></div>
    </div>
    <h2 class="oslp-hospitality_title"><img src="//image.card.jp.rakuten-static.com/card_corp/smart/contents/service/oversea/title_hospitality.png" alt="優待サービス"></h2>
    <div class="oslp-support_desc_txt">
      <p>特別な旅を演出する優待も<br>ご用意しております</p>
    </div>
    <div class="mb10">
      <a href="/overseas/hawaii-lounge/?l-id=enavi_oo_oversea_to_rakuten-card-lounge_hawaii02_sp" class="oslp-imgbtn oslp-imgbtn--shadow-blue">
        <figure>
          <img src="//image.card.jp.rakuten-static.com/card_corp/smart/contents/service/oversea/btn_hawaii.jpg" alt="楽天カード 特典クーポン in Hawaii" class="vaT">
          <!-- inline-block
-->
          <figcaption>楽天カード 特典クーポン<br>in Hawaii</figcaption>
        </figure>
      </a>
    </div>
    <div class="mb10">
      <a href="https://r10.to/hv24GF" class="oslp-imgbtn oslp-imgbtn--shadow-blue">
        <figure>
          <img src="//image.card.jp.rakuten-static.com/card_corp/smart/contents/service/oversea/koikoi_207x140.png" alt="Koi Koi Hawaii 楽天カードからお得な現地情報をおとどけ中" class="vaT">
          <!-- inline-block
-->
          <figcaption>Koi Koi Hawaii<br><span style="font-size:.8em;">お得な現地情報をおとどけ中</span></figcaption>
        </figure>
      </a>
    </div>
    <div class="mb10">
      <a href="/overseas/guide/brand/?l-id=enavi_oo_oversea_to_foreign-countries_tab6_sp#menu6-0" class="oslp-imgbtn oslp-imgbtn--shadow-blue">
        <figure>
          <img src="//image.card.jp.rakuten-static.com/card_corp/smart/contents/service/oversea/btn_brand.jpg" alt="ブランド優待">
          <!-- inline-block
-->
          <figcaption>ブランド優待</figcaption>
        </figure>
      </a>
    </div>
    <div>
      <a href="/overseas/guide/hospitality/?l-id=enavi_oo_oversea_to_foreign-countries_tab3_sp#menu3-0" class="oslp-imgbtn oslp-imgbtn--shadow-blue">
        <figure>
          <img src="//image.card.jp.rakuten-static.com/card_corp/smart/contents/service/oversea/btn_hospitality.jpg" alt="その他、便利でお得な優待">
          <!-- inline-block
-->
          <figcaption>その他、便利でお得な優待</figcaption>
        </figure>
      </a>
    </div>
    <div class="oslp-partition-half_wrap">
      <div class="oslp-partition-half-left oslp-partition-half-left--white"></div>
      <div class="oslp-partition-half-right oslp-partition-half-right--white"></div>
    </div>
  </section>

  <section id="oslp-guide" class="oslp-guide">
    <div class="oslp-partition-half_wrap oslp-partition-half_wrap--reverse">
      <div class="oslp-partition-half-left oslp-partition-half-left--reverse"></div>
      <div class="oslp-partition-half-right oslp-partition-half-right--reverse"></div>
    </div>
    <h2 class="oslp-guide_title"><img src="//image.card.jp.rakuten-static.com/card_corp/smart/contents/service/oversea/title_guide.png" alt="海外旅行のお供に楽天カードを"></h2>
    <div class="oslp-guide_desc_txt">
      <p>海外ご利用ガイドより、<br>もっと詳しい情報をご覧いただけます</p>
    </div>
    <p class="ph0"><a href="/overseas/guide/?l-id=enavi_oo_oversea_to_foreign-countries_guidetop_sp" class="oslp-btn oslp-btn--shadow-blue mb10">海外ご利用ガイドを見る　＞＞</a></p>
    <div class="oslp-partition-half_wrap">
      <div class="oslp-partition-half-left oslp-partition-half-left--white"></div>
      <div class="oslp-partition-half-right oslp-partition-half-right--white"></div>
    </div>
  </section>

  <div class="js-new-user">
    <div class="oslp-fixed-btn">
      <a href="/campaign/rakuten_card/?l-id=enavi_oo_oversea_to_campaign_rakuten_card02_sp">
        <div class="oslp-fixed-btn_inner">
          <p>
            <img src="//image.card.jp.rakuten-static.com/card_corp/lay2.0/common/card/img_card_01_rakutencard.png" alt="楽天カード">
            <span class="fs12">年会費<br>永年無料!</span>
          </p>
          <p class="fs16">楽天カードを<br>申し込む</p>
        </div>
      </a>
    </div>
  </div>

  <div class="rf-grid rf-grid--1">
    <div class="rf-grid-column card-footer-area">
      <!-- Standard RakutenGroupPortalForSP v2.0.0 HTML starts-->
      <section class="rc-gp-migrate-links">
        <h2 class="rc-gp-migrate-title">楽天のグループサービス</h2>
        <div id="rc-gp-links"></div>
        <ul class="rc-gp-migrate-table-list">
          <li><a href="//www.rakuten.co.jp/sitemap/sp/">サービス一覧</a></li>
          <li><a href="//www.rakuten.co.jp/sitemap/sp/app.html">アプリ一覧</a></li>
        </ul>
      </section>
      <!-- Standard RakutenGroupPortalForSP v2.0.0 HTML ends-->
    </div>
  </div>

  <div id="footer01">
    <ul id="utility">
      <li class="first font90"><a href="/service/basic/">お客様サポート</a></li>
      <li class="font90"><a href="/contact/robbery/?l-id=corp_de_sp_footer_0002">カードの紛失・盗難</a></li>
    </ul>
    <ul id="links">
      <li class="first"><a href="/corporate/?l-id=corp_de_sp_footer_0003">会社概要</a></li>
      <li><a href="/personal/statement/?l-id=corp_de_sp_footer_0004">個人情報保護方針</a></li>
      <li><a href="/agreement/?l-id=corp_de_sp_footer_0005">会員規約</a></li>
      <li><a href="/corporate/news_release/?l-id=corp_de_sp_footer_0006">プレスリリース</a></li>
      <li><a href="/info/rules/credit_policy/?l-id=corp_de_sp_footer_0007">クレジットポリシー</a></li>
      <li><a href="/info/rules/site/?l-id=corp_de_sp_footer_0008">サイトのご利用案内</a></li>
      <li><a href="//r10.to/h1i4O1">採用情報</a></li>
      <li><a href="/info/rules/menseki/?l-id=corp_de_sp_footer_0010">免責事項</a></li>
      <li><a href="/info/rules/antisocialforces/?l-id=corp_de_sp_footer_0011">反社会的勢力に対する基本方針</a></li>
      <li><a href="/sitemap/?l-id=corp_de_sp_footer_0012">サイトマップ</a></li>
      <li><a href="http://www.j-credit.or.jp/">日本クレジット協会</a></li>
    </ul>
    <p class="copy">&copy; Rakuten Card Co., Ltd.</p>
    <p class="fcb">
      <a href="//corp.rakuten.co.jp/fcbarcelona/?scid=wi_rkc_gip_jp_none_original-launch_all_20170809_unpaid_top-page_corp-fcbarcelona"><img src="//image.card.jp.rakuten-static.com/card_corp/smart/common/RakutenFCB_JL_316_129_w.png" alt="楽天&times;FCバルセロナ 特設ページ" width="158"></a>
    </p>
  </div>
  <!-- /#footer01 -->

  <!-- iframe tags start-->
  <input type="hidden" name="scIframe" id="scAccountId" value="card">
  <script type="text/javascript" src="//r.r10s.jp/com/ap/analytics/iFrameTracking/iframe.js?v=20170904"></script>
  <!-- /iframe tags end-->

  <!-- /#footer01 -->

  <div class="js-new-user oslp-fixed-btn_space"></div>

  <!-- SiteCatalyst tags start-->
  <script type="text/javascript" src="//r.r10s.jp/com/dmp/analytics/rakuten-card.co.jp/s_accountSetting.js?v=20160915"></script>
  <script type="text/javascript" src="//r.r10s.jp/com/dmp/analytics/sc/s_codeCommon.js?v=20160915"></script>
  <script type="text/javascript" src="//r.r10s.jp/com/dmp/analytics/rakuten-card.co.jp/s_customTracking.js?v=20160915"></script>
  <!-- /SiteCatalyst tags end-->

  <!-- /footer -->

  <script src="//static.card.jp.rakuten-static.com/card_corp/common/jquery-2.2.4.min.js"></script>
  <script src="//static.card.jp.rakuten-static.com/card_corp/smart/js/card_rakuten/card/app_smart.js"></script>
  <script src="//static.card.jp.rakuten-static.com/card_corp/pc/js/common/web-logics.1.1.min.js"></script>
  <script src="//static.card.jp.rakuten-static.com/card_corp/pc/js/changeView.js?1"></script>
  <script src="//jp.rakuten-static.com/1/js/grp/prtl/rc-gp-sp.v2.min.js" data-service="rtc" data-priority="bnk,sec_is,sei"></script>

  <!-- Yahoo tag manager -->
  <script type="text/javascript">
    (function() {
      var tagjs = document.createElement("script");
      var s = document.getElementsByTagName("script")[0];
      tagjs.async = true;
      tagjs.src = "//s.yjtag.jp/tag.js#site=qFr2lFj";
      s.parentNode.insertBefore(tagjs, s);
    }());
  </script>
  <noscript>
    <iframe src="//b.yjtag.jp/iframe?c=qFr2lFj" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </noscript>
  <!-- Yahoo tag manager -->
  <script src="//static.card.jp.rakuten-static.com/card_corp/smart/js/common/header.min.js"></script>
</body>

</html>