<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>海外からのお問い合わせ カードの紛失・盗難・緊急再発行｜楽天カード</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="海外での楽天カード紛失・盗難の際の電話番号や、海外旅行中の保険についてなど、緊急時に役立つ情報をご紹介しています。">
  <meta name="keywords" content="海外, 紛失, クレジットカード, 盗難, 楽天カード">
  <meta property="og:title" content="海外からのお問い合わせ カードの紛失・盗難・緊急再発行">
  <meta property="og:description" content="海外での楽天カード紛失・盗難の際の電話番号や、海外旅行中の保険についてなど、緊急時に役立つ情報をご紹介しています。">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="楽天カード">
  <meta property="og:image" content="https://image.card.jp.rakuten-static.com/card_corp/pc/contents/logo_200x200.gif">
  <meta property="fb:page_id" content="104759839604740">
  <link rel="canonical" href="https://www.rakuten-card.co.jp/overseas/help/emergency/">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/header-2.0.0.min.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/footer-2.0.0.min.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/lay2.0/common/common_smart.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/rex-red.min.css">
  <link rel="stylesheet" href="../../css/mobile/localnav/style.css">
  <link rel="stylesheet" href="../../css/mobile/scrolltop/style.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div class="js-local-nav-fixed-item">
    <% include ../../include/mobile/_header %>
  </div>
  <% include ../../include/mobile/_localnav %>
  <main>
    <article class="pt-4">
      <section>
        <h1 class="text-center mb-4">海外でのカードの<br>紛失・盗難について</h1>
        <div class="container-fluid">
          <section class="py-4">
            <h2 class="text-center mb-3">紛失・盗難専用ダイヤル</h2>
            <p>
              不正利用防止のため、お手続きを早急に行う必要がございます。<br>
              紛失･盗難専用ダイヤル(24時間受付)へ至急ご連絡ください。<br>
              お手続き方法などを詳しくご案内いたします。
            </p>
            <p class="small">
              ※紛失・盗難のご連絡をいただいたカードが発見された場合、カードの無効登録を取り消すことができないため、発見したカードでのご利用はいただけません。 
            </p>
            <div class="text-center mb-3">
              <a href="tel:81924749256" class="btn btn-primary btn-outline btn-lg mb-1"><span class="rex-icon phone-l"></span>81-92-474-9256</a>
              <p class="mb-0">
                365日・24時間　受付
              </p>
            </div>
            <ul class="list-unstyled small">
              <li>※コレクトコールでお電話ください</li>
              <li>※頭の81は日本の国コード</li>
            </ul>
          </section>
          <hr class="separator">
          <section class="py-4">
            <h2 class="text-center mb-3">緊急カードサービス</h2>
            <p>
                渡航中のみ利用可能な再発行カードを現地で手配いたします。
            </p>
            <ul class="list-unstyled small">
              <li>
                ※海外で緊急発行されるカードは日本国内では利用できないため、帰国後は必ず再発行が必要となります。
              </li>
              <li>
                ※American Expressをお持ちの方はこちらのサービスは対象外です。
              </li>
            </ul>
            <div class="text-center mb-3">
              <img src="../../images/common/icon/icon_helpdesk.svg" width="82" height="82" alt="ヘルプデスク">
            </div>
            <div class="accordion">
              <div class="accordion-header collapsed" data-toggle="accordion" data-target="#accordionTwo">
                Visa・Mastercardをお持ちの方
              </div>
              <div id="accordionTwo">
                  <div class="py-4 accordion-body">
                    <div class="d-flex align-items-center justify-content-center mb-2">
                      <img class="mr-1" src="//image.card.jp.rakuten-static.com/card_corp/lay2.0/common/svg/brand/img_brand_mc-responsive.svg" height="60" width="73" alt="Mastercard"><img src="//image.card.jp.rakuten-static.com/card_corp/lay2.0/common/svg/brand/img_brand_visa.svg" height="60" width="100" alt="Visa">
                    </div>
                    <h3 class="text-center mb-3">Visa・Mastercardの場合</h3>
                    <ul class="list-unstyled mb-0">
                      <li class="d-flex align-items-center mb-3">
                        <img class="mr-2" src="../../images/common/icon/icon_service_tel.svg" width="50" height="50" alt="楽天カードへご連絡">
                        <div>
                          1.まず、お客様より楽天カード<a href="tel:81924749256">81-92-474-9256</a>へご連絡いただきます。
                        </div>
                      </li>
                      <li class="d-flex align-items-center mb-3">
                        <img class="mr-2" src="../../images/common/icon/icon_service_request.svg" width="50" height="50" alt="お客様情報の聞き取り">
                        <div>
                          2.お客様より聞き取りした情報をもとに各ブランド（Visa・Mastercard）へ緊急カードの発行を依頼いたします。
                        </div>
                      </li>
                      <li class="d-flex align-items-center">
                        <img class="mr-2" src="../../images/common/icon/icon_brand.svg" width="50" height="50" alt="ブランド各社より連絡">
                        <div>
                          3.ブランド各社よりお客様へ連絡があり、緊急カードのお渡しとなります。<br><span class="small">※状況により緊急カードの受　け渡し方法は異なります。</span>
                        </div>
                      </li>
                    </ul>
                  </div>
              </div>
            </div>
            <div class="accordion">
              <div class="accordion-header collapsed" data-toggle="accordion" data-target="#accordionOne">
                JCBをお持ちの方
              </div>
              <div id="accordionOne">
                <div class="py-4 accordion-body">
                    <div class="d-flex align-items-center justify-content-center mb-2">
                      <img src="//image.card.jp.rakuten-static.com/card_corp/lay2.0/common/svg/brand/img_brand_jcb.svg" height="60" width="74" alt="JCB">
                    </div>
                    <h3 class="text-center mb-3">JCBの場合</h3>
                    <ul class="list-unstyled mb-0">
                      <li class="d-flex align-items-center mb-3">
                        <img class="mr-2" src="../../images/common/icon/icon_service_tel-JCB.svg" width="50" height="50" alt="JCBへご連絡">
                        <div>
                          <p>
                            1.お客様より直接JCBへお電話いただきます。<br><small>※滞在地によって電話番号が変わります。</small>
                          </p>
                          <a href="https://www.jcb.jp/ws/emergency_support.html#collect_call">こちらからお確かめください<span class="rex-icon chevron-right"></span></a>
                        </div>
                      </li>
                      <li class="d-flex align-items-center mb-3">
                        <img class="mr-2" src="../../images/common/icon/icon_service_brand.svg" width="50" height="50" alt="楽天カードからJCBへ緊急カードの発行依頼">
                        <div>
                          2.JCBから楽天カードへ連絡が入ります。情報をもとに、楽天カードからJCBへ緊急カードの発行を依頼いたします。
                        </div>
                      </li>
                      <li class="d-flex align-items-center">
                        <img class="mr-2" src="../../images/common/icon/icon_brand.svg" width="50" height="50" alt="JCBより連絡">
                        <div>
                          3.JCBよりお客様へ連絡があり、緊急カードのお渡しとなります。<br><small>※状況により緊急カードの受　け渡し方法は異なります。</small>
                        </div>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </section>
          <section class="py-4">
              <h2 class="text-center">関連情報</h2>
              <dl class="mb-0">
                <dt>・海外旅行傷害保険</dt>
                <dd>
                  旅先でのケガや病気、トラブルをサポートいたします。<br>
                  海外旅行の際は、楽天カードをお忘れのないようお持ちください。
                  <div class="text-right">
                    <a href="/overseas/insurance/?l-id=corp_sp_overseas_emergency_to_insurance_sp">詳しくはこちら<span class="rex-icon chevron-right"></span></a>
                  </div>
                </dd>
              </dl>
            </section>
        </div>
      </section>
    </article>
  </main>
  <% include ../../include/mobile/_footer %>
  <% include ../../include/mobile/_scrolltop %>
  <script src="//static.card.jp.rakuten-static.com/card_corp/pc/js/common/jquery-3.2.1.min.js"></script>
  <script src="//jp.rakuten-static.com/1/js/grp/prtl/rc-gp-sp.v2.min.js" data-service="rtc" data-priority="bnk,sec_is,sei"></script>
  <script src="../../js/mobile/jquery.easing.min.js"></script>
  <script src="../../js/mobile/header.js"></script>
  <script src="../../js/mobile/main.js"></script>
  <script src="https://static.card.jp.rakuten-static.com/card_corp/smart/js/common/rui-1.2.0.js"></script>
  <script src="https://static.card.jp.rakuten-static.com/card_corp/smart/js/common/common.1.2.0.js"></script>
</body>
</html>