<!--<card:include>/common/header/header_low.html</card:include>
<card:include>/common/header/nav_point.html</card:include>-->
 

 
 <header class="global-header">
  <div class="rc-h-standard">
    <noscript>
      <div class="rc-h-noscript-bar">
        <div class="rc-h-inner">
          <p>JavaScriptが無効の為、一部のコンテンツをご利用いただけません。JavaScriptの設定を有効にしてからご利用いただきますようお願いいたします。（<a href="http://ichiba.faq.rakuten.co.jp/app/answers/detail/a_id/154">設定方法</a>）</p>
        </div>
      </div>
    </noscript>
    <div class="rc-h-utility-bar">
      <div class="rc-h-inner">
        <ul class="rc-h-group-nav">
          <li class="rc-h-dropdown rc-h-group-dropdown"><a href="http://www.rakuten.co.jp/sitemap/?scid=su_795" rel="nofollow">楽天グループ</a>
            <ul class="rc-h-dropdown-panel">
              <li><a href="https://r10.to/hO3ZS1" rel="nofollow">楽天の保険</a></li>
              <li><a href="https://r10.to/hb40SJ" rel="nofollow">楽天ペイ</a></li>
              <li><a href="https://r10.to/hOJyRK" rel="nofollow">楽天Edy</a></li>
              <li><a href="https://r10.to/hr6X6G" rel="nofollow">楽天ポイントカード</a></li>
              <li><a href="https://r10.to/hO9oQt" rel="nofollow">楽天保険一括見積もり</a></li>
              <li><a href="https://r10.to/hsXhgb" rel="nofollow">サービス一覧</a></li>
            </ul>
          </li>
          <li><a href="https://r10.to/hO1kCM" rel="nofollow">生命保険</a></li>
          <li><a href="https://r10.to/hOEnih" rel="nofollow">証券</a></li>
          <li><a href="https://r10.to/hOiAxo" rel="nofollow">銀行</a></li>
          <li><a href="https://r10.to/hsGi2W" rel="nofollow">楽天市場</a></li>
        </ul>
      </div>
    </div>
    <div class="rc-h-service-bar">
      <div class="rc-h-inner">
        <div class="rc-h-site-id">
          <a href="/" class="gh-logo"><img src="//image.card.jp.rakuten-static.com/card_corp/common/logo/logo_horizon-2.0.0.svg" width="175" height="32" alt="楽天カード株式会社"></a>
        </div>
        <div class="rc-h-site-menu">
          <div class="rc-h-menu-btns">
            <ul class="rc-h-help-nav">
              <li><a href="/corporate/">会社概要</a></li>
              <li><a href="/corporate/career/graduates/">採用情報</a></li>
            </ul>
            <ul class="gh-main-links rc-h-action-nav">
              <li><a href="/merchant/?l-id=corp_oo_header_merchant_pc" class="gh-btn gh-btn-outline">法人・加盟店の方</a></li>
              <li><a href="https://services.rakuten-card.co.jp/service/dummy.jsp?url=ReferForm&l-id=corp_oo_header_ongoing_pc" class="gh-btn gh-btn-outline">カードお申し込み中の方</a></li>
              <li><a href="/e-navi/members/" class="gh-btn">楽天e-NAVIにログイン</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<nav class="global-nav">
  <div class="gn-main">
    <dl>
      <dt>
        <a href="/?l-id=corp_oo_gnav_top_pc">トップ</a>
      </dt>
    </dl>
    <dl>
      <dt>
        <a href="/card/?l-id=corp_oo_gnav_product_pc">カードをつくる</a>
      </dt>
    </dl>
    <dl>
      <dt>
        <a href="/campaign/?l-id=corp_oo_gnav_campaign_pc" class="gn-before-active">キャンペーン</a>
      </dt>
    </dl>
    <dl class="js-dropdown-menu-toggle">
      <dt>
        <div class="gn-active">楽天カードが選ばれる理由<span class="gn-icon-arrow"><span class="gn-icon-arrow_left"></span><span class="gn-icon-arrow_right"></span></span></div>
      </dt>
      <dd style="display: none;">
        <a href="/point/?l-id=corp_oo_from_gnav_to_point_pc">ポイント</a>
        <a href="/security/?l-id=corp_oo_from_gnav_to_security_pc">セキュリティ</a>
        <a href="/overseas/?l-id=corp_oo_from_gnav_to_overseas_pc">海外・トラベル</a>
      </dd>
    </dl>
    <dl class="js-dropdown-menu-toggle">
      <dt>
        <div>機能・サービス<span class="gn-icon-arrow"><span class="gn-icon-arrow_left"></span><span class="gn-icon-arrow_right"></span></span></div>
      </dt>
      <dd>
        <a href="/revo/?l-id=corp_oo_from_gnav_to_revo_pc">リボ払い</a>
        <a href="/cashing/?l-id=corp_oo_from_gnav_to_cashing_pc">キャッシング</a>
        <a href="/installment/?l-id=corp_oo_from_gnav_to_installment_pc">分割払い</a>
        <a href="/bonus/?l-id=corp_oo_from_gnav_to_bonus_pc">ボーナス払い</a>
        <a href="/point-pay/?l-id=corp_oo_from_gnav_to_point-pay_pc">ポイントで支払い</a>
        <a href="/service/basic/?l-id=corp_oo_from_gnav_to_basic_pc">楽天カードの基本</a>
        <a href="/service/edy/?l-id=corp_oo_from_gnav_to_edy_pc">楽天Edy</a>
        <a href="/service/?l-id=corp_oo_from_gnav_to_service_pc">役立つサービス</a>
      </dd>
    </dl>
    <dl class="js-dropdown-menu-toggle">
      <dt>
        <div>お問い合わせ<span class="gn-icon-arrow"><span class="gn-icon-arrow_left"></span><span class="gn-icon-arrow_right"></span></span></div>
      </dt>
      <dd>
        <a href="/contact/robbery/?l-id=corp_oo_from_gnav_to_robbery_pc">カードの紛失・盗難</a>
        <a href="https://support.rakuten-card.jp/?site_domain=guest">よくあるご質問</a>
        <a href="/contact/phone/?l-id=corp_oo_from_gnav_to_phone_pc">お問い合わせ</a>
      </dd>
    </dl>
  </div>
</nav>