<nav class="local-nav">
  <div class="ln-main">
    <a href="">海外TOP</a>
    <a href="">ご利用ガイド</a>
    <a href="">保険</a>
    <a href="">HAWAII</a>
    <a href="">優待</a>
    <a href="">旅行中に困った時は</a>
  </div>
</nav>