<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>海外留学・海外出張にもおすすめのカードのご紹介｜楽天カード</title>
  <meta name="viewport" content="width=1080">
  <meta name="description" content="楽天カードは旅行以外の海外シーンでも便利でお得にお使いいただけます。ご本人様やお子様の海外留学の際、海外出張の際などシーン別におすすめのクレジットカードをご紹介しています。クレジットカードを選ぶ際の参考にしてください。">
  <meta name="keywords" content="海外留学, 海外出張, クレジットカード, おすすめ, 楽天カード">
  <meta property="og:title" content="海外留学・海外出張にもおすすめのカードのご紹介">
  <meta property="og:description" content="楽天カードは旅行以外の海外シーンでも便利でお得にお使いいただけます。ご本人様やお子様の海外留学の際、海外出張の際などシーン別におすすめのクレジットカードをご紹介しています。クレジットカードを選ぶ際の参考にしてください。">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="楽天カード">
  <meta property="og:image" content="https://image.card.jp.rakuten-static.com/card_corp/pc/contents/logo_200x200.gif">
  <meta property="fb:page_id" content="104759839604740">
  <link rel="canonical" href="https://www.rakuten-card.co.jp/overseas/guide/scene/">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/rex-red.min.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/header-2.0.0.min.css">
  <link rel="stylesheet" href="../../css/desktop/localnav/style.css">
  <link rel="stylesheet" href="../../css/desktop/scrolltop/style.css">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/footer-2.0.0.min.css">
</head>

<body>
  <% include ../../include/desktop/_header %>
  <% include ../../include/desktop/_localnav %>
  <ul class="breadcrumbs">
    <li><a href="/">トップ</a></li>
    <li><a href="/overseas/">海外で使う</a></li>
    <li><a href="/overseas/guide/">海外ご利用ガイド</a></li>
    <li>海外でのおすすめクレジットカード</li>
  </ul>
  <main>
    <article>
      <section>
        <div class="container mt-3">
          <h1 class="text-center mb-0">海外でのおすすめクレジットカード</h1>
        </div>
        <div class="jumbotron mt-6">
          <div>
            <div class="container text-center">留学や海外出張でも賢く便利な1枚を。</div>
          </div>
        </div>
        <section class="bg-lightest">
          <div class="container py-6 text-center">
            楽天カードは旅行以外にも留学や海外出張でも大活躍！<br>
            シーン別にお客様におすすめのカードをご紹介いたします。
          </div>
        </section>
        <div class="bg-lightest">
          <section class="container pt-6 pb-5">
            <h2 class="text-center mb-4">留学の際に</h2>
            <div class="row d-flex">
              <div class="col-xs-6 d-flex">
                <section class="ori-card">
                  <div class="ori-card-img-top">
                    <img src="//image.card.jp.rakuten-static.com/card_corp/common/cardface/cardface_ac_jcb_rp_e_front_220_140.png" width="200" height="127" alt="楽天カード アカデミー">
                  </div>
                  <div class="ori-card-body">
                    <h3 class="ori-card-title">楽天カード アカデミー</h3>
                    <p class="ori-card-text">学生の方のみご入会いただける、初めてのクレジットカードにおすすめの楽天カード アカデミー。<br>海外旅行傷害保険が無料で付帯しており、他のカードにはないお得な特典も充実しています。</p>
                  </div>
                  <div class="ori-card-detail-link">
                    <a href="/service/e-navi/?l-id=corp_oo_from_serivce_to_e-navi_pc" class="text-link">詳しくはこちら</a>
                  </div>
                </section>
              </div>
              <div class="col-xs-6 d-flex">
                <section class="ori-card">
                  <div class="ori-card-img-top">
                    <img src="//image.card.jp.rakuten-static.com/card_corp/common/cardface/cardface_family_amex_rp_e_front_360_227.png" width="200" height="127" alt="家族カード">
                  </div>
                  <div class="ori-card-body">
                    <h3 class="ori-card-title">家族カード</h3>
                    <p class="ori-card-text">
                      お子様の留学の際には家族カードがおすすめ！<br>家族カード会員様は本カード会員様のご利用可能枠でカードをお使いいただくので、長期の留学でも枠が足りなくなる心配がありません。
                    </p>
                  </div>
                  <div class="ori-card-detail-link">
                    <a href="/service/family-card/?l-id=corp_sp_overseas_scene_to_family_pc" class="text-link">詳しくはこちら</a>
                  </div>
                </section>
              </div>
            </div>
          </section>
          <section class="container py-5">
            <h2 class="text-center mb-4">海外出張の際に</h2>
            <div class="row d-flex">
              <div class="col-xs-6 col-xs-offset-3 d-flex">
                <section class="ori-card">
                  <div class="ori-card-img-top">
                    <img src="//image.card.jp.rakuten-static.com/card_corp/common/cardface/cardface_p_master_rp_e_front_360_227.png" width="200" height="127" alt="家族カード">
                  </div>
                  <div class="ori-card-body">
                    <h3 class="ori-card-title">楽天プレミアムカード</h3>
                    <p class="ori-card-text mb-4">
                      楽天プレミアムカードなら、各種付帯サービスをご利用いただけ、便利で安心です。
                    </p>
                    <ul>
                      <li>
                        国内空港ラウンジが無料
                      </li>
                      <li>
                        海外空港ラウンジサービス「プライオリティ・パス」お申し込み無料
                      </li>
                      <li>
                        各種保険が自動付帯
                      </li>
                    </ul>
                  </div>
                  <div class="ori-card-detail-link">
                    <a href="/service/family-card/?l-id=corp_sp_overseas_scene_to_family_pc" class="text-link">詳しくはこちら</a>
                  </div>
                </section>
              </div>
            </div>
          </section>
        </div>
        <section class="container py-5">
          <h2 class="text-center mb-4">海外でもポイントがざくざく貯まる</h2>
          <p class="text-center mb-4">海外でご利用いただいた場合でもポイントが貯まるのでお得です。<br>国内でご利用される場合と同等、ご利用に対して 1% 分のポイントが貯まります。<br>また貯まったポイントは2ポイント→1マイルでANAのマイルに変換できます。</p>
          <figure class="text-center mb-4">
            <img src="../../images/common/icon/icon_point.svg" width="112" height="112" alt="海外でもポイントがざくざく貯まる">
          </figure>
          <div class="text-center">
            <a href="https://point.rakuten.co.jp/exchange/" class="btn btn-primary btn-outline">交換できるポイントについて詳しくはこちら</a>
          </div>
        </section>
      </section>
    </article>
  </main>
  <button id="scroll-top">
    <span class="rex-icon arrow-up-l"></span>
    <div>ページ<br>トップ</div>
  </button>
  <% include ../../include/desktop/_footer %>
  <script src="//static.card.jp.rakuten-static.com/card_corp/pc/js/common/jquery-3.2.1.min.js"></script>
  <script src="../../js/desktop/jquery.easing.min.js"></script>
  <script src="../../js/desktop/header.js"></script>
  <script src="../../js/desktop/main.js"></script>
</body>

</html>