<!--<card:include>/smart/common/footer/footer.html</card:include>-->
<div id="footer01">
  <ul id="utility">
    <li class="first font90"><a href="/service/basic/">お客様サポート</a></li>
    <li class="font90"><a href="/contact/robbery/?l-id=corp_de_sp_footer_0002">カードの紛失・盗難</a></li>
  </ul>
  <ul id="links">
    <li class="first"><a href="/corporate/?l-id=corp_de_sp_footer_0003">会社概要</a></li>
    <li><a href="/personal/statement/?l-id=corp_de_sp_footer_0004">個人情報保護方針</a></li>
    <li><a href="/agreement/?l-id=corp_de_sp_footer_0005">会員規約</a></li>
    <li><a href="/corporate/news_release/?l-id=corp_de_sp_footer_0006">プレスリリース</a></li>
    <li><a href="/info/rules/credit_policy/?l-id=corp_de_sp_footer_0007">クレジットポリシー</a></li>
    <li><a href="/info/rules/site/?l-id=corp_de_sp_footer_0008">サイトのご利用案内</a></li>
    <li><a href="//r10.to/h1i4O1">採用情報</a></li>
    <li><a href="/info/rules/menseki/?l-id=corp_de_sp_footer_0010">免責事項</a></li>
    <li><a href="/info/rules/antisocialforces/?l-id=corp_de_sp_footer_0011">反社会的勢力に対する基本方針</a></li>
    <li><a href="/sitemap/?l-id=corp_de_sp_footer_0012">サイトマップ</a></li>
    <li><a href="http://www.j-credit.or.jp/">日本クレジット協会</a></li>
  </ul>
  <p class="copy">&copy; Rakuten Card Co., Ltd.</p>
  <p class="fcb">
    <a href="//corp.rakuten.co.jp/fcbarcelona/?scid=wi_rkc_gip_jp_none_original-launch_all_20170809_unpaid_top-page_corp-fcbarcelona"><img src="//image.card.jp.rakuten-static.com/card_corp/smart/common/RakutenFCB_JL_316_129_w.png" alt="楽天&times;FCバルセロナ 特設ページ" width="158"></a>
  </p>
</div>
<!-- /#footer01 -->