<!-- ========== footer ========== -->
<div class="rc-f-standard rc-f-liquid rc-f-custom01">

  <div class="rc-f-section00">
    <div class="rc-f-inner">
      <ul class="rc-f-list-nav rc-f-center">
        <li><a href="/e-navi/members/application/">各種お申し込み</a></li>
        <li><a href="/agreement/">会員規約</a></li>
        <li><a href="/info/rules/credit_policy/">クレジットポリシー</a></li>
        <li><a href="/info/rules/site/">サイトのご利用案内</a></li>
        <li><a href="/info/rules/copy/">コピーライト</a></li>
        <li><a href="/info/rules/menseki/">免責事項</a></li>
        <li><a href="/info/rules/antisocialforces/">反社会的勢力に対する基本方針</a></li>
        <li><a href="/sitemap/">サイトマップ</a></li>
        <li class="rc-f-list-nav-last"><a href="http://www.j-credit.or.jp/">日本クレジット協会</a></li>
      </ul>
    </div>
  </div><!-- /.rc-f-section00 -->

  <div class="rc-f-section-content01">
    <div class="rc-f-section-bar">
      <div class="rc-f-inner">
        <dl class="rc-f-dl-inline rc-f-center">
          <dt>キーワード</dt>
          <dd>
            <ul class="rcf-list-inline">
              <li><a href="/card/rakuten-card/">楽天カード</a></li>
              <li><a href="/service/etc-card/">楽天ETCカード</a></li>
              <li><a href="/e-navi/members/">楽天e-NAVI</a></li>
              <li><a href="/revo/">リボ払い</a></li>
              <li><a href="/cashing/">キャッシング</a></li>
              <li><a href="/service/app/?l-id=corp_oo_pv_corp_002">楽天カードアプリ</a></li>
              <li><a href="/service/toto/?l-id=corp_oo_pv_corp_003">楽天toto&nbsp;&nbsp;楽天カード店</a></li>
              <li class="rc-f-list-nav-last"><a href="/campaign/?l-id=corp_oo_pv_corp_004">楽天カード  キャンペーン一覧</a></li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
  </div><!-- /.rc-f-section-content01 -->

  <div class="rc-f-section-content00">
    <div class="rc-f-section-bar rc-f-first">
      <div class="rc-f-inner">
        <dl class="rc-f-dl-inline-box">
          <dt class="rc-f-dl-title01 rc-f-text-em">楽天グループ</dt>
          <dd>
            <ul class="rc-f-list-inline">
              <li><a href="//www.rakuten.co.jp/sitemap/" class="rc-f-btn"><span>サービス一覧</span></a></li><li><a href="//www.rakuten.co.jp/sitemap/inquiry.html" class="rc-f-btn"><span>お問い合わせ一覧</span></a></li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>

    <div class="rc-f-section-bar">
      <div class="rc-f-inner">
        <dl class="rc-f-dl-inline rc-f-block">
          <dt class="rc-f-dl-title01">おすすめ</dt>
          <dd class="rc-f-text-strong" id="grpRakutenRecommend"></dd>
        </dl>
        <ul class="rc-f-row rc-f-row-dot rc-f-row4">
          <li class="rc-f-col rc-f-first">
            <div class="rc-f-media rc-f-nav-item">
              <div class="rc-f-media-head"><a href="/card/">楽天市場でポイントが最大3倍貯まるクレジットカードを申し込む</a></div>
              <div class="rc-f-media-body">楽天カード</div>
            </div>
          </li>
          <li class="rc-f-col">
            <div class="rc-f-media rc-f-nav-item rc-f-nav-item-delimit">
              <div class="rc-f-media-head"><a href="//edy.rakuten.co.jp/">コンビニなどで簡単に使える、Edy機能付き楽天カードでポイントを貯める</a></div>
              <div class="rc-f-media-body">楽天Edy</div>
            </div>
          </li>
          <li class="rc-f-col">
            <div class="rc-f-media rc-f-nav-item rc-f-nav-item-delimit">
              <div class="rc-f-media-head"><a href="//p-store.rakuten.co.jp/">楽天カードでポイントが貯まるお店を探す</a></div>
              <div class="rc-f-media-body">楽天ポイント加盟店サービス</div>
            </div>
          </li>
          <li class="rc-f-col">
            <div class="rc-f-media rc-f-nav-item rc-f-nav-item-delimit">
              <div class="rc-f-media-head"><a href="//www.rakuten-bank.co.jp/">キャッシュカード一体型の楽天銀行カードを申し込む</a></div>
              <div class="rc-f-media-body">楽天銀行</div>
            </div>
          </li>
        </ul>
      </div>
    </div><!-- /.rc-f-section-bar -->
  </div><!-- /.rc-f-section-content00 -->

  <div class="rc-f-section01">
    <div class="rc-f-inner rc-f-bottom">
      <ul class="rcf-list-inline rcf-list-block">
        <li><a href="/corporate/" rel="nofollow">会社概要</a></li><li><a href="/corporate/public/" rel="nofollow">決算公告</a></li><li><a href="/corporate/public/">法定公告</a></li><li><a href="/corporate/news_release/">プレスリリース</a></li><li><a href="/personal/statement/" rel="nofollow">個人情報保護方針・公表事項</a></li><li><a href="//corp.rakuten.co.jp/csr/">社会的責任[CSR]</a></li><li><a href="//r10.to/hs05eU">採用情報</a></li>
      </ul>
      <p class="copyright">&copy; Rakuten Card Co., Ltd.</p>
    </div>
    <div class="rc-f-fcb">
      <p><a href="//corp.rakuten.co.jp/fcbarcelona/?scid=wi_rkc_gip_jp_none_original-launch_all_20170809_unpaid_top-page_corp-fcbarcelona"><img src="//image.card.jp.rakuten-static.com/card_corp/pc/common/RakutenFCB_JL_316_129.png" alt="楽天&times;FCバルセロナ 特設ページ" width="158"></a></p>
    </div>
  </div><!-- /.rc-f-section01 -->

</div><!-- /.rc-f-standard -->

<!-- Google Code start -->
<script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 1009382166;
  var google_conversion_label = "cX0tCPLd1QMQluan4QM";
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1009382166/?value=0&amp;label=cX0tCPLd1QMQluan4QM&amp;guid=ON&amp;script=0">
  </div>
</noscript>
<!-- Google Code finish -->

<script type="text/javascript" src="//jp.rakuten-static.com/1/js/grp/ftr/js/parm_selector_footer.js"></script>
<!-- iframe tags start-->
<input type="hidden" name="scIframe" id="scAccountId" value="card">
<script type="text/javascript" src="//r.r10s.jp/com/ap/analytics/iFrameTracking/iframe.js?v=20170904"></script>
<!-- /iframe tags end-->

<!-- ========== /footer ========== -->