<header class="global-header">
  <div class="rc-h-standard">
    <noscript>
      <div class="rc-h-noscript-bar">
        <div class="rc-h-inner">
          <p>JavaScriptが無効の為、一部のコンテンツをご利用いただけません。JavaScriptの設定を有効にしてからご利用いただきますようお願いいたします。（<a href="http://ichiba.faq.rakuten.co.jp/app/answers/detail/a_id/154">設定方法</a>）</p>
        </div>
      </div>
    </noscript>
    <div class="rc-h-utility-bar">
      <div class="rc-h-inner">
        <ul class="rc-h-group-nav">
          <li class="rc-h-dropdown rc-h-group-dropdown"><a href="http://www.rakuten.co.jp/sitemap/?scid=su_795" rel="nofollow">楽天グループ</a>
            <ul class="rc-h-dropdown-panel">
              <li><a href="https://r10.to/hO3ZS1" rel="nofollow">楽天の保険</a></li>
              <li><a href="https://r10.to/hb40SJ" rel="nofollow">楽天ペイ</a></li>
              <li><a href="https://r10.to/hOJyRK" rel="nofollow">楽天Edy</a></li>
              <li><a href="https://r10.to/hr6X6G" rel="nofollow">楽天ポイントカード</a></li>
              <li><a href="https://r10.to/hO9oQt" rel="nofollow">楽天保険一括見積もり</a></li>
              <li><a href="https://r10.to/hsXhgb" rel="nofollow">サービス一覧</a></li>
            </ul>
          </li>
          <li><a href="https://r10.to/hO1kCM" rel="nofollow">生命保険</a></li>
          <li><a href="https://r10.to/hOEnih" rel="nofollow">証券</a></li>
          <li><a href="https://r10.to/hOiAxo" rel="nofollow">銀行</a></li>
          <li><a href="https://r10.to/hsGi2W" rel="nofollow">楽天市場</a></li>
        </ul>
      </div>
    </div>
    <div class="rc-h-service-bar">
      <div class="rc-h-inner">
        <div class="rc-h-site-id">
          <a href="/" class="gh-logo"><img src="//image.card.jp.rakuten-static.com/card_corp/common/logo/logo_horizon-2.0.0.svg" width="175" height="32" alt="楽天カード株式会社"></a>
        </div>
        <div class="rc-h-site-menu">
          <div class="rc-h-menu-btns">
            <ul class="rc-h-help-nav">
              <li><a href="/corporate/">会社概要</a></li>
              <li><a href="/corporate/career/graduates/">採用情報</a></li>
            </ul>
            <ul class="gh-main-links rc-h-action-nav">
              <li><a href="/merchant/?l-id=corp_oo_header_merchant_pc" class="gh-btn gh-btn-outline">法人・加盟店の方</a></li>
              <li><a href="https://services.rakuten-card.co.jp/service/dummy.jsp?url=ReferForm&l-id=corp_oo_header_ongoing_pc" class="gh-btn gh-btn-outline">カードお申し込み中の方</a></li>
              <li><a href="/e-navi/members/" class="gh-btn">楽天e-NAVIにログイン</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>