@charset "utf-8";

.jumbotron {
  background: url(../images/jumbotron.jpg) center no-repeat;
  background-size: cover;
}

.brand {
  &-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-img {
    margin-top: auto;
    margin-bottom: 16px;
  }

  &-btn {
    margin-top: auto;
  }
}