<!--<card:include>/common/inc/common/share.html</card:include>-->


<ul class="sns-list">
  <li class="sns-list-item sns-btn sns-btn-facebook">
    <a href="#" class="js-sharebtn btn-sns btn-sns-facebook" data-snstype="facebook" data-scid="wi_rkc_fb_sharebutton">
      <img src="//image.card.jp.rakuten-static.com/card_corp/pc/contents/corporate/press_release/share_icn_facebook.png" alt="share on facebook" width="30" height="30">
    </a>
  </li>
  <li class="sns-list-item sns-btn sns-btn-twitter">
    <a href="#" class="js-sharebtn btn-sns btn-sns-twitter" data-snstype="twitter" data-scid="wi_rkc_tw_sharebutton">
      <img src="//image.card.jp.rakuten-static.com/card_corp/pc/contents/corporate/press_release/share_icn_twitter.png" alt="share on twitter" width="30" height="30">
    </a>
  </li>
</ul>