<div class="local-nav-wrapper">
    <nav id="local-nav" class="local-nav-content">
        <dl>
            <dt class="js-local-nav-toggle">海外メニュー<span class="local-nav-icon-arrow"><span class="local-nav-icon-arrow_left"></span><span
                        class="local-nav-icon-arrow_right"></span></span></dt>
            <dd>
                <a href="./index.html" class="local-nav-current"><span class="local-nav-text">海外TOP</span><span
                        class="local-nav-icon chevron-right"></span></a>
                <a href=""><span class="local-nav-text">ご利用ガイド</span><span class="local-nav-icon chevron-right"></span></a>
                <a href="./next.html"><span class="local-nav-text">保険</span><span class="local-nav-icon chevron-right"></span></a>
                <a href=""><span class="local-nav-text">ハワイ</span><span class="local-nav-icon chevron-right"></span></a>
                <a href=""><span class="local-nav-text">優待</span><span class="local-nav-icon chevron-right"></span></a>
                <a href=""><span class="local-nav-text">旅行中に困った時は</span><span class="local-nav-icon chevron-right"></span></a>
            </dd>
        </dl>
    </nav>
    <div class="local-nav-mask"></div>
</div>