  <!DOCTYPE html>
  <html lang="ja">

  <head>
    <meta charset="UTF-8">
    <title>ハワイでも楽天カードが大活躍！｜楽天カード</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="ハワイにある会員様専用ラウンジや、お得なクーポンなど、お買いものだけではない楽天カードの使い方のご紹介。">
    <meta name="keywords" content="海外,ハワイ,ラウンジ,クーポン,楽天カード">
    <meta property="og:title" content="ハワイでも楽天カードが大活躍！">
    <meta property="og:description" content="ハワイにある会員様専用ラウンジや、お得なクーポンなど、お買いものだけではない楽天カードの使い方のご紹介。">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="楽天カード">
    <meta property="og:image" content="https://image.card.jp.rakuten-static.com/card_corp/pc/contents/logo_200x200.gif">
    <meta property="fb:page_id" content="104759839604740">
    <link rel="canonical" href="https://www.rakuten-card.co.jp/overseas/hawaii/">
    <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/header-2.0.0.min.css">
    <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/footer-2.0.0.min.css">
    <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/lay2.0/common/common_smart.css">
    <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/smart/css/common/rex-red.min.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>

<body>
  <% include ./include/_header %>
  <main>
    <article>
      <section>
        <div class="jumbotron mt-6">
          <h1 class="text-center mb-0">
            <img src="./images/h1.png" width="90%" style="max-width: 295px;" alt="Hawaii">
          </h1>
        </div>
        <section class="bg-light">
          <div class="container py-5">
            楽天カード会員様専用ラウンジやお得なクーポンなど、お買いものだけではない楽天カードの使い方のご紹介。<br>
            ハワイでの滞在を快適に、お得に過ごせる情報が満載です。
          </div>
        </section>
        <section class="container py-5">
          <% include ./include/_info %>
        </section>
        <div class="bg-light">
          <div class="container py-5">
            <h2 class="text-center mb-4">ハワイでも<br>楽天カードが大活躍！</h2>
            <div class="row">
              <div class="col-sm-6">
                <section class="card mb-2">
                  <div class="card-img-top">
                    <img src="./images/thumbnail_lounge.png" srcset="./images/thumbnail_lounge@2x.png 2x" width="264" height="130" alt="楽天カードラウンジ">
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">楽天カードラウンジ</h3>
                    <p class="card-text">ワイキキ中心部のギャラリアハワイ by DFSにある楽天カード会員様専用のラウンジです。<br>
                      ラウンジ内サービスは、もちろん無料。<br>
                      現地の日本語対応ができるスタッフが、ハワイでも笑顔でおもてなしいたします。<br>
                      楽天トラベルデスクも併設しています。</p>
                  </div>
                  <div class="card-detail-link">
                    <a href="/overseas/hawaii/lounge/?l-id=corp_oo_hawaii_to_lounge_sp" class="text-link">詳しくはこちら</a>
                  </div>
                </section>
              </div>
              <div class="col-sm-6">
                <section class="card mb-2">
                  <div class="card-img-top">
                    <img src="./images/thumbnail_benefit.png" srcset="./images/thumbnail_benefit@2x.png 2x" width="264" height="130" alt="楽天カード特典クーポン">
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">楽天カード特典クーポン</h3>
                    <p class="card-text">ハワイのご滞在をさらにスペシャルに！<br>楽天カード会員様だけの限定ご優待情報。<br>
                      お土産が充実したショップや人気のレストラン、癒しのスパなどお得な情報が満載！<br>最新のクーポン情報を掲載しておりますのでぜひご確認ください。</p>
                  </div>
                  <div class="card-detail-link">
                    <a href="/overseas/hawaii/coupon/?l-id=corp_oo_hawaii_to_coupon_sp" class="text-link">詳しくはこちら</a>
                  </div>
                </section>
              </div>
            </div>

            <section id="koikoi-hawaii" class="card pb-0">
              <div class="container">
                <h3 class="text-center mb-4"><img src="./images/logo_koikoihawaii.png" width="80%" style="max-width: 397px;" alt="Koi Koi Hawaii"></h3>
                <p class="mb-4">楽天カードラウンジのスタッフが実際に足を運び、現地情報をお届けいたします。<br>
                  特典クーポンが使える店舗の情報や楽天カードラウンジの最新情報等、<br>
                  ハワイの滞在をお楽しみいただける情報が満載になっております。</p>
                <div class="text-center">
                  <a href="/overseas/hawaii/article/?l-id=corp_oo_hawaii_to_article_sp" class="btn btn-primary btn-outline">記事一覧はこちら</a>
                </div>
              </div>
              <div class="koikoi-hawaii__pickup">
                <div class="koikoi-hawaii__pickup__content">
                  <div class="koikoi-hawaii__pickup__item koikoi-hawaii__pickup--fashion">
                    <div class="koikoi-hawaii__pickup__ttl">
                      訪問レポート
                    </div>
                    <div class="koikoi-hawaii__pickup__text">
                      <strong class="koikoi-hawaii--blue">Tシャツや雑貨</strong>の<br>お土産はおまかせ！
                      <div class="small">naiaでオリジナルアイ<br>テムを手にいれよう！</div>
                    </div>
                  </div>
                  <div class="koikoi-hawaii__pickup__item koikoi-hawaii__pickup--locomoco">
                    <div class="koikoi-hawaii__pickup__ttl">
                      訪問レポート
                    </div>
                    <div class="koikoi-hawaii__pickup__text">
                      ALOHA TABLEで<br>
                      グランプリ受賞の<br>
                      <strong class="koikoi-hawaii--blue">ロコモコ</strong>を楽しもう!
                    </div>
                  </div>
                  <div class="koikoi-hawaii__pickup__item koikoi-hawaii__pickup--pancake">
                    <div class="koikoi-hawaii__pickup__ttl">
                      特集記事
                    </div>
                    <div class="koikoi-hawaii__pickup__text">
                      ワイキキで<br>
                      <strong class="koikoi-hawaii--blue">パンケーキ</strong>を楽しむ<br>
                      オススメ店4選！
                    </div>
                  </div>
                  <div class="koikoi-hawaii__pickup__item koikoi-hawaii__pickup--pizza">
                    <div class="koikoi-hawaii__pickup__ttl">
                      訪問レポート
                    </div>
                    <div class="koikoi-hawaii__pickup__text">
                      本格的な<br>
                      <strong class="koikoi-hawaii--blue">窯焼きピザ</strong>が絶品！<br>
                      アペティートで優雅に<br>
                      イタリアンを。
                    </div>
                  </div>
                  <div class="koikoi-hawaii__pickup__item koikoi-hawaii__pickup--steak">
                    <div class="koikoi-hawaii__pickup__ttl">
                      特集記事
                    </div>
                    <div class="koikoi-hawaii__pickup__text">
                      ワイキキで本場の<br>
                      <strong class="koikoi-hawaii--blue">肉料理</strong>を楽しむ<br>
                      オススメ店6選！
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
    </article>
  </main>
  <% include ./include/_footer %>
  <script src="//static.card.jp.rakuten-static.com/card_corp/pc/js/common/jquery-3.2.1.min.js"></script>
  <script src="//jp.rakuten-static.com/1/js/grp/prtl/rc-gp-sp.v2.min.js" data-service="rtc" data-priority="bnk,sec_is,sei"></script>
  <script src="//static.card.jp.rakuten-static.com/card_corp/smart/js/common/header.min.js"></script>
</body>

</html>