section {

  padding:  40px 0;
  display: inline-block;
  width: 100%;
  * {
    @extend .rex-motion.fadeIn
  }
  & p:last-child,
  & ul:last-child,
  & ol:last-child,
  & h1:last-child,
  & h3:last-child,
  & h4:last-child,
  & h5:last-child,  {
    margin-bottom: 0;
  }

  div.centered-content {
    max-width: $content-width;
    margin: 0 auto;
  }



  &.front-page-blockquote {
    blockquote {
      max-width: 368px;
      margin: 24px auto;
      padding: 24px 0;
    }
  }

  &.grayed-out-section {
    background-color: $gray-lighter !important;
    margin: 72px 0 40px;
  }

  &.downloads-with-release-notes {
    > div {
      > h3,
      > a {
        display: inline-block ;
      }
      > a {
        margin-left: 48px;
      }
      & p:last-child {
        margin-top: 24px;
        display: inline-block;
      }
    }
  }
  p + img,
  p + div.row,
  .table + img {
    margin-top: 40px;
  }

  .square-frame + p,
  img + .working-example,
  .row + .row,
  .download-component + p {
    margin-top: 24px;
  }
  .download-component + p {
    display: inline-block;
  }


  img + p {
    margin-top: 16px;
  }
}


.motion-img {
  margin-bottom: 80px;
}