<!--<card:include>/smart/common/header/header_low.html</card:include>-->
<header class="gh-header">
  <div class="gh-header-content">
    <div class="gh-hamburger js-side-nav-toggle">
      <figure><img src="//image.card.jp.rakuten-static.com/card_corp/smart/common/header/rexicon-32-menu.svg" width="28" height="28" alt="メニュー"></figure>
      メニュー
    </div>
  </div>
  <div class="gh-header-content">
    <a href="/" class="gh-logo"><img src="//image.card.jp.rakuten-static.com/card_corp/common/logo/logo_vertical-2.0.0.svg" width="76" height="40" alt="楽天カード株式会社"></a>
  </div>
  <div class="gh-header-content">
    <a href="/e-navi/sd/index.xhtml" class="gh-login">
      <figure><img src="//image.card.jp.rakuten-static.com/card_corp/smart/common/header/rexicon-32-login-l.svg" width="28" height="28" alt="ログイン"></figure>
      ログイン
    </a>
  </div>
</header>

<div id="side-nav">
  <div class="side-nav-wrapper">
    <div class="side-nav-content">
      <div>
        <div class="side-nav-header">
          <a class="side-nav-logo" href="/">
            <img src="//image.card.jp.rakuten-static.com/card_corp/common/logo/logo_vertical-2.0.0.svg" width="76" height="40" alt="楽天カード株式会社">
          </a>
          <div class="side-nav-close">
            <figure><img src="//image.card.jp.rakuten-static.com/card_corp/smart/common/header/rexicon-32-close.svg" width="28" height="28" alt="閉じる"></figure>
            <div class="side-nav-close__txt">閉じる</div>
          </div>
        </div>
      </div>
      <nav>
        <dl>
          <dt><a href="/?l-id=corp_oo_gnav_top_sp">トップ</a></dt>
        </dl>
        <dl>
          <dt><a href="/card/?l-id=corp_oo_gnav_product_sp">カードをつくる</a></dt>
        </dl>
        <dl>
          <dt><a href="/campaign/?l-id=corp_oo_gnav_campaign_sp">キャンペーン</a></dt>
        </dl>
        <dl>
          <dt class="js-nav-accordion-toggle">
            <div>楽天カードが選ばれる理由<span class="side-nav-icon-arrow"><span class="side-nav-icon-arrow_left"></span><span class="side-nav-icon-arrow_right"></span></span></div>
          </dt>
          <dd>
            <a href="/point/?l-id=corp_oo_from_gnav_to_point_sp">ポイント</a>
            <a href="/security/?l-id=corp_oo_from_gnav_to_security_sp">セキュリティ</a>
            <a href="/overseas/?l-id=corp_oo_from_gnav_to_overseas_sp">海外・トラベル</a>
          </dd>
        </dl>
        <dl>
          <dt class="js-nav-accordion-toggle">
            <div>機能・サービス<span class="side-nav-icon-arrow"><span class="side-nav-icon-arrow_left"></span><span class="side-nav-icon-arrow_right"></span></span></div>
          </dt>
          <dd>
            <a href="/revo/?l-id=corp_oo_from_gnav_to_revo_sp">リボ払い</a>
            <a href="/cashing/?l-id=corp_oo_from_gnav_to_cashing_sp">キャッシング</a>
            <a href="/installment/?l-id=corp_oo_from_gnav_to_installment_sp">分割払い</a>
            <a href="/bonus/?l-id=corp_oo_from_gnav_to_bonus_sp">ボーナス払い</a>
            <a href="/point-pay/?l-id=corp_oo_from_gnav_to_point-pay_sp">ポイントで支払い</a>
            <a href="/service/basic/?l-id=corp_oo_from_gnav_to_basic_sp">楽天カードの基本</a>
            <a href="/service/edy/?l-id=corp_oo_from_gnav_to_edy_sp">楽天Edy</a>
            <a href="/service/?l-id=corp_oo_from_gnav_to_service_sp">役立つサービス</a>
          </dd>
        </dl>
        <dl>
          <dt class="js-nav-accordion-toggle">
            <div>お問い合わせ<span class="side-nav-icon-arrow"><span class="side-nav-icon-arrow_left"></span><span class="side-nav-icon-arrow_right"></span></span></div>
          </dt>
          <dd>
            <a href="/contact/robbery/?l-id=corp_oo_from_gnav_to_robbery_sp">カードの紛失・盗難</a>
            <a href="https://support.rakuten-card.jp/?site_domain=guest">よくあるご質問</a>
            <a href="/contact/phone/?l-id=corp_oo_from_gnav_to_phone_sp">お問い合わせ</a>
          </dd>
        </dl>
      </nav>
      <div class="side-nav-footer">
        <ul class="side-nav-others">
          <li><a href="/merchant/?l-id=corp_oo_gnav_merchant_sp">法人・加盟店の方</a></li>
          <li><a href="https://www.rakuten.co.jp/sitemap/sp/?scid=su_795">楽天グループサービス</a></li>
        </ul>
        <ul class="side-nav-appli">
          <li><a href="/service/app/?l-id=corp_oo_from_gnav_to_app_sp">楽天カードアプリ</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="side-nav-mask"></div>