<h2 class="mb-4 text-center">新着情報</h2>
<table class="table new-information mb-0">
  <tbody>
    <tr>
      <td>
        <a href="/overseas/hawaii/article/report-peacecafe/" class="new-information__link">
          <span class="new-information__item-heading">
            <span class="new-information__date">2018/11/29</span><span class="label label--gold">現地レポート</span>
          </span>
          訪問レポートの記事を追加いたしました。
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="/overseas/hawaii/article/special-cookie/" class="new-information__link">
          <span class="new-information__item-heading">
            <span class="new-information__date">2018/11/14</span><span class="label label--gold">特集記事</span>
          </span>
          特集記事を追加いたしました。
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="/overseas/hawaii/coupon/#up_coupon_102" class="new-information__link">
          <span class="new-information__item-heading">
            <span class="new-information__date">2018/11/09</span><span class="label label--gold">特典クーポン</span>
          </span>
          キャッチUSAの店舗情報が変更となりました。
        </a>
      </td>
    </tr>
  </tbody>
</table>